HOME			= .
RANDFILE		= $ENV::HOME/.rnd

oid_section		= new_oids

[ new_oids ]
tsa_policy1 = 1.2.3.4.1
tsa_policy2 = 1.2.3.4.5.6
tsa_policy3 = 1.2.3.4.5.7

[ ca ]
default_ca	= CA_default		

[ CA_default ]
dir		= .			
certs		= $dir/certs		
crl_dir		= $dir/crl		
database	= $dir/index.txt	
new_certs_dir	= $dir/newcerts		
certificate	= $dir/ca_cert.pem 	
serial		= $dir/serial 		
crlnumber	= $dir/crlnumber	
crl		= $dir/crl.pem 		
private_key	= $dir/private/ca_key.pem
RANDFILE	= $dir/private/.rand	
x509_extensions	= usr_cert		
name_opt 	= ca_default		
cert_opt 	= ca_default		
default_days	= 3650			
default_crl_days= 30			
default_md	= default		
preserve	= no			
policy		= policy_anything

#[ policy_match ]
#countryName		= match
#stateOrProvinceName	= match
#organizationName	= match
#organizationalUnitName	= optional
#commonName		= supplied
#emailAddress		= optional

[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

[ req ]
default_bits		= 2048
default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
#attributes		= req_attributes
x509_extensions		= v3_ca	
string_mask		= utf8only

[ req_distinguished_name ]
countryName			= Country Name (2 letter code)
countryName_min			= 2
countryName_max			= 2
stateOrProvinceName		= State or Province Name (full name)
#localityName			= Locality Name (eg, city)
0.organizationName		= Member Node Organization Name
0.organizationName_default	= 
commonName			= Common Name (see the GMN install docs)
commonName_max			= 64
emailAddress			= Member Node Contact Email Address
emailAddress_max		= 64

#[ req_attributes ]
#challengePassword		= A challenge password
#challengePassword_min		= 4
#challengePassword_max		= 20
#unstructuredName		= An optional company name

[ usr_cert ]
basicConstraints=CA:FALSE
nsComment			= "OpenSSL Generated Certificate"
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
subjectAltName=email:move

[ usr_cert_has_san ]
basicConstraints = CA:false
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = CA:true
subjectAltName=email:move

[ v3_ca_has_san ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints = CA:true

[ crl_ext ]
authorityKeyIdentifier=keyid:always

[ proxy_cert_ext ]
basicConstraints=CA:FALSE
nsComment			= "OpenSSL Generated Certificate"
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
proxyCertInfo=critical,language:id-ppl-anyLanguage,pathlen:3,policy:foo

[ tsa ]
default_tsa = tsa_config1	

[ tsa_config1 ]
dir		= ./demoCA		
serial		= $dir/tsaserial	
crypto_device	= builtin		
signer_cert	= $dir/tsacert.pem 	
certs		= $dir/cacert.pem	
signer_key	= $dir/private/tsakey.pem 
default_policy	= tsa_policy1		
other_policies	= tsa_policy2, tsa_policy3	
digests		= md5, sha1		
accuracy	= secs:1, millisecs:500, microsecs:100	
clock_precision_digits  = 0	
ordering		= yes	
tsa_name		= yes	
ess_cert_id_chain	= no	
