# Exclude various files and directories from coverage.

# Only tracked files or directories need to be excluded here, as those are the
# only ones that get pushed to GitHub and pulled in by Travis. However, we also
# exclude some untracked directories that otherwise end up significantly
# lowering coverage on local coverage checks.
#
# Don't filter /build/ here. A parent in Travis' default build directory has
# that name.

[run]

omit =
  # Tracked

  */conftest.py
  */settings*.py
  */setup.py
  */test.py
  */t.py

  */dev_tools/*
  */drivers/*
  */generated/*
  */mockup/*
  */tests/*

  # Any tracked and untracked dot-files and dot-dirs
  */.*

  # Untracked

  */__pycache__/*
  */src/_build/*
  */src/build/*
  */src/develop-eggs/*
  */src/dist-packages/*
  */src/dist/*
  */src/sdist/*
