Django==2.2.3
Markdown==3.1.1
MarkupSafe==1.1.1
Pygments==2.4.2
Pyment==0.3.3
sphinx-argparse==0.2.5
sphinx-better-theme==0.1.5
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
