Babel==2.7.0
Click==7.0
Django==2.2.4
GitPython==2.1.11
Jinja2==2.10.1
Markdown==3.1.1
MarkupSafe==1.1.1
PyJWT==1.7.1
PyXB==1.2.6
Pygments==2.4.2
Pyment==0.3.3
Pyzotero==1.4.4
Sphinx==2.1.2
Werkzeug==0.15.4
aiohttp==3.5.4
alabaster==0.7.12
apipkg==1.5
appdirs==1.4.3
asn1crypto==0.24.0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
baron==0.9
beautifulsoup4==4.7.1
bibtexparser==1.1.0
black==19.3b0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
contextlib2==0.5.5
coverage==4.5.3
coveralls==1.8.1
cryptography==2.7
decorator==4.4.0
doc8==0.8.0
docopt==0.6.2
docutils==0.14
elementpath==1.1.8
execnet==1.6.0
feedparser==5.2.1
freezegun==0.3.12
fusepy==3.0.1
future==0.17.1
gitdb2==2.0.5
grip==4.5.2
idna==2.8
imagesize==1.1.0
importlib-metadata==0.18
iso8601==0.1.12
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
lxml==4.3.4
mock==3.0.5
more-itertools==7.1.0
multi-mechanize==1.2.0
multidict==4.5.2
packaging==19.0
path-and-address==2.0.1
pathlib==1.0.1
pbr==5.4.1
pip==19.1.1
pluggy==0.12.0
pockets==0.7.2
posix-ipc==1.0.4
psutil==5.6.3
psycopg2-binary==2.8.3
py==1.8.0
pyOpenSSL==19.0.0
pyasn1==0.4.5
pycparser==2.19
pyparsing==2.4.0
pyproj==2.2.1
pytest-cov==2.7.1
pytest-django==3.5.1
pytest-forked==1.0.2
pytest-random-order==1.0.4
pytest-xdist==1.29.0
pytest==5.0.0
python-dateutil==2.8.0
python-xlib==0.25
pytz==2019.1
rdflib==4.2.2
requests-toolbelt==0.9.1
requests==2.22.0
responses==0.10.6
restructuredtext-lint==1.3.0
rply==0.7.7
setuptools==40.6.2
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.9.0
soupsieve==1.9.2
sphinx-argparse==0.2.5
sphinx-better-theme==0.1.5
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
stevedore==1.30.1
toml==0.10.0
urllib3==1.24.3
wcwidth==0.1.7
xmlschema==1.0.13
yarl==1.3.0
zipp==0.5.1
zipstream==1.1.4
