<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>500 Internal server error</title>
  </head>
  <body>
    <p>
      <h3><font style="color:red">500 Internal server error</font></h3>
    </p>
    <p>
      Please notify the administrator.
    </p>
    <p>
      <a href="/">Home</a>
    </p>
  </body>
</html>
