<html>
<head>
<meta charset="utf-8">

<title>Tests</title>

<h1>Diagnostics, debugging and testing</h1>

<h2>Replication</h2>
<ul>
<li><a href="test_replicate_get">Get replication work queue (HTML)</a>
<li><a href="test_replicate_get_xml">Get replication work queue (XML)</a>
<li><a href="test_replicate_clear">Clear replication work queue</a>
<li><a href="test_replicate_post">Add replication work item (MIME/Multipart)</a>
</ul>

<h2>Misc</h2>
<ul>
<li><a href="test_slash/$arg1/$arg2/$arg3">Test slash escaping</a>
<li><a href="test_get_request">Display request object</a>
<li><a href="test_inject_log">Inject log entries (MIME/Multipart)</a>
<li><a href="test_get_request">View serialized request object for call</a>
</ul>

</body>
</html>
