root = [
  l1 = [
    l2 = [
      l3 = [
        l4 = [
          l5 = [
            l6 = [
              #text = [
                abc = [
                ]
              ]
            ]
          ]
        ]
      ]
    ]
  ]
  l1 = [
    l2 = [
      l3 = [
        l4 = [
          l5 = [
            l6 = [
              #text = [
                def = [
                ]
              ]
            ]
          ]
        ]
      ]
    ]
  ]
  l1 = [
    l2 = [
      l3 = [
        l4 = [
          l5 = [
            l6 = [
              #text = [
                ghi = [
                ]
              ]
            ]
          ]
        ]
      ]
    ]
  ]
  l1 = [
    l2 = [
      l3 = [
        l4 = [
          l5 = [
            l6 = [
              #text = [
                jkl = [
                ]
              ]
            ]
          ]
        ]
      ]
    ]
  ]
]