<?xml version="1.0" ?>
<ns1:replica xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <replicaMemberNode>mn_nq</replicaMemberNode>
  <replicationStatus>failed</replicationStatus>
  <replicaVerified>2028-01-13T06:03:59.999273Z</replicaVerified>
</ns1:replica>
