<?xml version="1.0" ?>
<ns1:objectList count="15" start="612" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_oqbbqbppurvo</identifier>
    <formatId>image/tiff</formatId>
    <checksum algorithm="SHA-1">870a67533262cb2bbb5efc6d02b157988b856d21</checksum>
    <dateSysMetadataModified>2017-04-10T23:28:26Z</dateSysMetadataModified>
    <size>284</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_jibzjskmapzh</identifier>
    <formatId>CF-1.4</formatId>
    <checksum algorithm="SHA-1">3ad40ccb7331edb353557134ebd1ad077c6da0f7</checksum>
    <dateSysMetadataModified>2017-05-06T10:24:31Z</dateSysMetadataModified>
    <size>284</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_tbftjphwvhsy</identifier>
    <formatId>application/msword</formatId>
    <checksum algorithm="SHA-1">b309c44b38f0b524c411de8524529b3648a2ed16</checksum>
    <dateSysMetadataModified>2017-06-14T19:02:45Z</dateSysMetadataModified>
    <size>284</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_damutezrjjnw</identifier>
    <formatId>image/gif</formatId>
    <checksum algorithm="SHA-1">abe7011562aa61b77db5730d2feeaade3c85606b</checksum>
    <dateSysMetadataModified>2017-08-28T06:02:32Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ndlumamkpguv</identifier>
    <formatId>text/tsv</formatId>
    <checksum algorithm="SHA-1">98911911bff67934b81b6eb3ca1b32b97e56bd91</checksum>
    <dateSysMetadataModified>2017-09-13T15:03:21Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_xqevehxhgcyt</identifier>
    <formatId>http://www.w3.org/TR/rdf-syntax-grammar</formatId>
    <checksum algorithm="SHA-1">cd583510ce69fca1b93b740efc508a1cc2cba221</checksum>
    <dateSysMetadataModified>2017-10-09T09:09:58Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_dtynespxiwwr</identifier>
    <formatId>application/x-bzip2</formatId>
    <checksum algorithm="SHA-1">2d65fc708a800176c04d06ca8db790bace8b11ec</checksum>
    <dateSysMetadataModified>2018-01-03T16:59:00Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_xlndzxkaglkq</identifier>
    <formatId>application/mathematica</formatId>
    <checksum algorithm="SHA-1">e2cdb3a1b9335cd526077265a9c440b7cd0d8ae9</checksum>
    <dateSysMetadataModified>2018-05-16T20:24:47Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_dyzzsimqgpxc</identifier>
    <formatId>text/tsv</formatId>
    <checksum algorithm="SHA-1">99d3bbd46f4951e6892ac79e7b48e2f51ef03436</checksum>
    <dateSysMetadataModified>2018-06-26T19:36:03Z</dateSysMetadataModified>
    <size>286</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_aqhinncmfrwo</identifier>
    <formatId>text/xml</formatId>
    <checksum algorithm="SHA-1">1271d497990200271675f541557852994d21f08c</checksum>
    <dateSysMetadataModified>2018-09-08T12:52:04Z</dateSysMetadataModified>
    <size>286</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_qbfzbtaumros</identifier>
    <formatId>audio/x-wav</formatId>
    <checksum algorithm="SHA-1">c293f5a6390cce1fe67b8f327d8642d00ac733b4</checksum>
    <dateSysMetadataModified>2019-03-18T09:22:06Z</dateSysMetadataModified>
    <size>286</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_sodscutcxbor</identifier>
    <formatId>http://www.w3.org/TR/rdfa-syntax</formatId>
    <checksum algorithm="SHA-1">720ef194e9b80bc23ed1d27d3ebba871941ac3c6</checksum>
    <dateSysMetadataModified>2019-04-28T10:47:51Z</dateSysMetadataModified>
    <size>287</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_vlcrtvwmdaeo</identifier>
    <formatId>application/mathematica</formatId>
    <checksum algorithm="SHA-1">c1f7ace03b296e14ed83afd100e36725f6e2b673</checksum>
    <dateSysMetadataModified>2019-07-08T21:09:07Z</dateSysMetadataModified>
    <size>287</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ueoddhxbcuhh</identifier>
    <formatId>CF-1.0</formatId>
    <checksum algorithm="SHA-1">bb7dafec0d991959805221d7bf12f383c927d1ce</checksum>
    <dateSysMetadataModified>2019-09-25T14:15:40Z</dateSysMetadataModified>
    <size>287</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_wlisqapomgkc</identifier>
    <formatId>application/x-python</formatId>
    <checksum algorithm="SHA-1">67da1f8ebba7b0af9dc3c979e683f14ef90a63f0</checksum>
    <dateSysMetadataModified>2019-10-30T03:30:53Z</dateSysMetadataModified>
    <size>287</size>
  </objectInfo>
</ns1:objectList>