<?xml version="1.0" ?>
<ns1:objectList count="10" start="990" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_hrescvjwvcnq</identifier>
    <formatId>text/tsv</formatId>
    <checksum algorithm="SHA-1">424cb0f0c8f8d6f476b195c06c222ab07310491c</checksum>
    <dateSysMetadataModified>2068-09-19T12:45:46Z</dateSysMetadataModified>
    <size>296</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_yulsrwzoeoxl</identifier>
    <formatId>text/n3</formatId>
    <checksum algorithm="SHA-1">6742bf472c993ee571ffff12ca3773481db07be9</checksum>
    <dateSysMetadataModified>2068-10-31T08:44:50Z</dateSysMetadataModified>
    <size>307</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ankpajcbatuz</identifier>
    <formatId>application/postscript</formatId>
    <checksum algorithm="SHA-1">a553249b932923f4376377e9cbf4479d308fe071</checksum>
    <dateSysMetadataModified>2068-11-10T18:29:54Z</dateSysMetadataModified>
    <size>307</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_htduueeaisbu</identifier>
    <formatId>application/x-rar-compressed</formatId>
    <checksum algorithm="SHA-1">29f4e7fbcc489fb30e29c1bfb43af2536ae01c2f</checksum>
    <dateSysMetadataModified>2068-12-03T21:01:43Z</dateSysMetadataModified>
    <size>267</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_crepyfkbiiqm</identifier>
    <formatId>image/bmp</formatId>
    <checksum algorithm="SHA-1">d9777c6ee4f79ac9d08c9a8619c0d2605cf7411f</checksum>
    <dateSysMetadataModified>2069-01-23T10:42:46Z</dateSysMetadataModified>
    <size>275</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_chuolqzvshdk</identifier>
    <formatId>application/vnd.openxmlformats-officedocument.presentationml.presentation</formatId>
    <checksum algorithm="SHA-1">04873628590dd13f88b521de2a3edec7eb800fe9</checksum>
    <dateSysMetadataModified>2069-02-09T05:03:19Z</dateSysMetadataModified>
    <size>263</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_vlkxyavdzolj</identifier>
    <formatId>http://www.w3.org/2005/Atom</formatId>
    <checksum algorithm="SHA-1">5fd813f18f2196249ac7b36d7fb16e1e89563bed</checksum>
    <dateSysMetadataModified>2069-03-23T11:11:22Z</dateSysMetadataModified>
    <size>239</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_veycdapaylzz</identifier>
    <formatId>netCDF-4</formatId>
    <checksum algorithm="SHA-1">0322566c17ec607fa5866de573188e98c19e63f9</checksum>
    <dateSysMetadataModified>2069-11-25T13:14:55Z</dateSysMetadataModified>
    <size>295</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_mbhnbijfukkx</identifier>
    <formatId>text/n3</formatId>
    <checksum algorithm="SHA-1">7bf8a9210bf0e12799817d7d4e7a3c05fd8dddcb</checksum>
    <dateSysMetadataModified>2069-11-25T23:22:59Z</dateSysMetadataModified>
    <size>264</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_uyojxnqbirgh</identifier>
    <formatId>http://www.w3.org/2005/Atom</formatId>
    <checksum algorithm="SHA-1">71b4dab7beb4d6ef80d2ccf6ab549ff53848f12a</checksum>
    <dateSysMetadataModified>2069-12-16T03:49:42Z</dateSysMetadataModified>
    <size>273</size>
  </objectInfo>
</ns1:objectList>