<?xml version="1.0" ?>
<ns1:node replicate="false" state="up" synchronize="true" type="cn" xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <identifier>urn:node:NODEID</identifier>
  <name>Name of Node</name>
  <description>Description of node.</description>
  <baseURL>http://www.any.org/ventos/verrantque</baseURL>
  <services>
    <service available="true" name="MNCore" version="v1"/>
    <service available="true" name="MNRead" version="v1"/>
    <service available="true" name="MNAuthorization" version="v1"/>
    <service available="true" name="MNStorage" version="v1"/>
    <service available="true" name="MNReplication" version="v1"/>
    <service available="true" name="MNCore" version="v2"/>
    <service available="true" name="MNRead" version="v2"/>
    <service available="true" name="MNAuthorization" version="v2"/>
    <service available="true" name="MNStorage" version="v2"/>
    <service available="true" name="MNReplication" version="v2">
      <restriction methodName="string">
        <subject>string</subject>
      </restriction>
    </service>
  </services>
  <synchronization>
    <schedule hour="*" mday="*" min="0/3" mon="1" sec="0" wday="?" year="*"/>
    <lastHarvested>2009-05-16T06:42:28</lastHarvested>
    <lastCompleteHarvest>2003-08-09T00:18:37Z</lastCompleteHarvest>
  </synchronization>
  <nodeReplicationPolicy>
    <maxObjectSize>11</maxObjectSize>
    <spaceAllocated>11</spaceAllocated>
    <allowedNode>urn:node:A</allowedNode>
    <allowedNode>urn:node:B</allowedNode>
    <allowedNode>urn:node:C</allowedNode>
    <allowedObjectFormat>http://www.isotc211.org/2005/gmd</allowedObjectFormat>
    <allowedObjectFormat>eml://ecoinformatics.org/eml-2.1.1</allowedObjectFormat>
  </nodeReplicationPolicy>
  <ping lastSuccess="2002-06-24T15:46:32Z" success="false"/>
  <subject>subjectStringA</subject>
  <subject>subjectStringB</subject>
  <contactSubject>contactSubjectA</contactSubject>
  <contactSubject>contactSubjectB</contactSubject>
  <property key="prop1" type="type1">val1</property>
  <property key="prop2" type="type2">val2</property>
</ns1:node>