[
  [
    "http://www.openarchives.org/ore/terms/Aggregation",
    "http://www.w3.org/2000/01/rdf-schema#isDefinedBy",
    "http://www.openarchives.org/ore/terms/"
  ],
  [
    "http://www.openarchives.org/ore/terms/Aggregation",
    "http://www.w3.org/2000/01/rdf-schema#label",
    "Aggregation"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/data2_pid",
    "http://purl.org/dc/terms/identifier",
    "data2_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/data2_pid",
    "http://purl.org/spar/cito/isDocumentedBy",
    "https://cn.dataone.org/cn/v2/resolve/meta_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/data2_pid",
    "http://www.openarchives.org/ore/terms/isAggregatedBy",
    "https://cn.dataone.org/cn/v2/resolve/ore_pid#aggregation"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/data3_pid",
    "http://purl.org/dc/terms/identifier",
    "data3_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/data3_pid",
    "http://purl.org/spar/cito/isDocumentedBy",
    "https://cn.dataone.org/cn/v2/resolve/meta_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/data3_pid",
    "http://www.openarchives.org/ore/terms/isAggregatedBy",
    "https://cn.dataone.org/cn/v2/resolve/ore_pid#aggregation"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/data_pid",
    "http://purl.org/dc/terms/identifier",
    "data_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/data_pid",
    "http://purl.org/spar/cito/isDocumentedBy",
    "https://cn.dataone.org/cn/v2/resolve/meta_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/data_pid",
    "http://www.openarchives.org/ore/terms/isAggregatedBy",
    "https://cn.dataone.org/cn/v2/resolve/ore_pid#aggregation"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/meta_pid",
    "http://purl.org/dc/terms/identifier",
    "meta_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/meta_pid",
    "http://purl.org/spar/cito/documents",
    "https://cn.dataone.org/cn/v2/resolve/data2_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/meta_pid",
    "http://purl.org/spar/cito/documents",
    "https://cn.dataone.org/cn/v2/resolve/data3_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/meta_pid",
    "http://purl.org/spar/cito/documents",
    "https://cn.dataone.org/cn/v2/resolve/data_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/meta_pid",
    "http://www.openarchives.org/ore/terms/isAggregatedBy",
    "https://cn.dataone.org/cn/v2/resolve/ore_pid#aggregation"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/ore_pid",
    "http://purl.org/dc/terms/creator",
    "DataONE.org Python ITK[VERSION]"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/ore_pid",
    "http://purl.org/dc/terms/identifier",
    "ore_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/ore_pid",
    "http://www.openarchives.org/ore/terms/describes",
    "https://cn.dataone.org/cn/v2/resolve/ore_pid#aggregation"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/ore_pid",
    "http://www.w3.org/1999/02/22-rdf-syntax-ns#type",
    "http://www.openarchives.org/ore/terms/ResourceMap"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/ore_pid#aggregation",
    "http://www.openarchives.org/ore/terms/aggregates",
    "https://cn.dataone.org/cn/v2/resolve/data2_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/ore_pid#aggregation",
    "http://www.openarchives.org/ore/terms/aggregates",
    "https://cn.dataone.org/cn/v2/resolve/data3_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/ore_pid#aggregation",
    "http://www.openarchives.org/ore/terms/aggregates",
    "https://cn.dataone.org/cn/v2/resolve/data_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/ore_pid#aggregation",
    "http://www.openarchives.org/ore/terms/aggregates",
    "https://cn.dataone.org/cn/v2/resolve/meta_pid"
  ],
  [
    "https://cn.dataone.org/cn/v2/resolve/ore_pid#aggregation",
    "http://www.w3.org/1999/02/22-rdf-syntax-ns#type",
    "http://www.openarchives.org/ore/terms/Aggregation"
  ]
]