  <?xml version="1.0" ?>
  <ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
    <serialVersion>92</serialVersion>
    <identifier>PID_gpminqffoqnu</identifier>
    <formatId>http://docs.annotatorjs.org/en/v1.2.x/annotation-format.html</formatId>
    <size>308</size>
    <checksum algorithm="SHA-1">b68963db1dce90b3696220fa72c565d2bb5779e2</checksum>
    <submitter>subj_ag</submitter>
    <rightsHolder>subj_c</rightsHolder>
    <accessPolicy>
      <allow>
-       <subject>subj1</subject>
?                    ^

+       <subject>subj_qyk</subject>
?                    ^^^^

-       <permission>read</permission>
-     </allow>
-     <allow>
-       <subject>subj2</subject>
-       <subject>subj3</subject>
-       <subject>subj4</subject>
-       <permission>write</permission>
-     </allow>
-     <allow>
-       <subject>subj10</subject>
-       <subject>subj11</subject>
-       <subject>subj12</subject>
-       <subject>subj5</subject>
-       <subject>subj6</subject>
-       <subject>subj7</subject>
-       <subject>subj8</subject>
-       <subject>subj9</subject>
        <permission>changePermission</permission>
      </allow>
    </accessPolicy>
-   <replicationPolicy replicationAllowed="false" numberReplicas="0">
?                                          ^^^^                   ^

+   <replicationPolicy replicationAllowed="true" numberReplicas="8">
?                                          ^^^                   ^

-     <preferredMemberNode>mn_x</preferredMemberNode>
?                             ^

+     <preferredMemberNode>mn_w</preferredMemberNode>
?                             ^

+     <preferredMemberNode>mn_z</preferredMemberNode>
+     <blockedMemberNode>mn_bx</blockedMemberNode>
+     <blockedMemberNode>mn_ot</blockedMemberNode>
+     <blockedMemberNode>mn_t</blockedMemberNode>
    </replicationPolicy>
    <archived>false</archived>
    <dateUploaded>2041-02-10T11:11:17Z</dateUploaded>
    <dateSysMetadataModified>2041-02-20T11:11:17Z</dateSysMetadataModified>
-   <originMemberNode>mn_ul</originMemberNode>
?                        ^^

+   <originMemberNode>mn_a</originMemberNode>
?                        ^

    <authoritativeMemberNode>mn_op</authoritativeMemberNode>
    <replica>
-     <replicaMemberNode>mn_bx</replicaMemberNode>
?                           ^^

+     <replicaMemberNode>mn_a</replicaMemberNode>
?                           ^

-     <replicationStatus>requested</replicationStatus>
?                        ^^^^^^

+     <replicationStatus>invalidated</replicationStatus>
?                        ^^^^^^^^

-     <replicaVerified>2030-06-18T21:06:59Z</replicaVerified>
?                         ^  ^  ---  ^^  ^

+     <replicaVerified>2039-01-27T11:43:58Z</replicaVerified>
?                         ^  ^ +++   ^^  ^

    </replica>
    <replica>
-     <replicaMemberNode>mn_aw</replicaMemberNode>
?                           ^^

+     <replicaMemberNode>mn_f</replicaMemberNode>
?                           ^

-     <replicationStatus>requested</replicationStatus>
?                        ^ ----

+     <replicationStatus>completed</replicationStatus>
?                        ^^^^^

-     <replicaVerified>2049-08-19T23:53:00Z</replicaVerified>
?                         ^   ^ ^^^ ^^^^^^

+     <replicaVerified>2047-04-27T18:41:31Z</replicaVerified>
?                         ^  ++++++ ^^ ^ ^

    </replica>
  </ns1:systemMetadata>