<?xml version="1.0" ?>
<ns1:replicationPolicy numberReplicas="3" replicationAllowed="true" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <preferredMemberNode>add_urn</preferredMemberNode>
  <preferredMemberNode>node1</preferredMemberNode>
  <preferredMemberNode>node2</preferredMemberNode>
  <preferredMemberNode>node3</preferredMemberNode>
  <blockedMemberNode>add_urn</blockedMemberNode>
  <blockedMemberNode>node4</blockedMemberNode>
  <blockedMemberNode>node5</blockedMemberNode>
</ns1:replicationPolicy>
