{
  "Content-Length": "286",
  "Content-Type": "application/octet-stream",
  "DataONE-Checksum": "SHA-1,27aa37693619985167b9f6851eedfb6cc6591bb9",
  "DataONE-FormatId": "image/gif",
  "DataONE-SerialVersion": "3"
}