<?xml version="1.0" ?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>61</serialVersion>
  <identifier>an_unchanging_pid</identifier>
  <formatId>video/mpeg</formatId>
  <size>278</size>
  <checksum algorithm="SHA-1">1d8fdefc38a1ed81dae4f45356b2ff328fab3f55</checksum>
  <submitter>subj_te</submitter>
  <rightsHolder>subj_xn</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_de</subject>
      <subject>subj_ed</subject>
      <subject>subj_ek</subject>
      <subject>subj_mq</subject>
      <subject>subj_nv</subject>
      <subject>subj_tv</subject>
      <subject>subj_vp</subject>
      <subject>subj_wo</subject>
      <subject>subj_xe</subject>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="1" replicationAllowed="true">
    <preferredMemberNode>mn_ck</preferredMemberNode>
    <blockedMemberNode>mn_jv</blockedMemberNode>
    <blockedMemberNode>mn_u</blockedMemberNode>
    <blockedMemberNode>mn_xj</blockedMemberNode>
  </replicationPolicy>
  <archived>false</archived>
  <dateUploaded>2064-04-09T07:11:09Z</dateUploaded>
  <dateSysMetadataModified>2064-04-19T07:11:09Z</dateSysMetadataModified>
  <originMemberNode>mn_py</originMemberNode>
  <authoritativeMemberNode>mn_y</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_i</replicaMemberNode>
    <replicationStatus>requested</replicationStatus>
    <replicaVerified>2014-03-24T12:20:33Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_wn</replicaMemberNode>
    <replicationStatus>completed</replicationStatus>
    <replicaVerified>2034-07-18T00:29:57Z</replicaVerified>
  </replica>
  <fileName>file_tkgnbidufoiy</fileName>
</ns1:systemMetadata>