{
  "body_str": null,
  "header_dict": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Connection": "keep-alive",
    "Content-Length": "0",
    "User-Agent": "python-requests/2.21.0"
  },
  "query_dict": {}
}