< Accept-Encoding: gzip, deflate
< Accept: */*
< Charset: utf-8
< Connection: keep-alive
< GET /node/v1/object?count=10 HTTP/1.1
< Host: gmn.client
< User-Agent: DataONE-Python[VERSION] +http://dataone.org/

> Access-Control-Allow-Credentials: true
> Access-Control-Allow-Headers: Authorization
> Access-Control-Allow-Methods: GET,POST,OPTIONS
> Access-Control-Allow-Origin: *
> Allow: GET,POST,OPTIONS
> Content-Length: 3025
> Content-Type:[CONTENT-TYPE]
> HTTP-Version: HTTP/1.1
> HTTP/? 200 OK
> Last-Modified: 1970-12-13 23:54:23+00:00

<?xml version="1.0" encoding="utf-8"?><?xml-stylesheet type="text/xsl" href="/templates/home.xsl"?><ns1:objectList count="10"
start="0" total="1000"
xmlns:ns1="http://ns.dataone.org/service/types/v1"><objectInfo><identifier>PID_GMNFXT_ybfsemxjeeed</identifier><formatId>application/R</formatId><checksum
algorithm="SHA-1">18e5640c619416e20c24043a71d908498a72c597</checksum><dateSysMetadataModified>1970-01-31T20:37:55Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_ykuvizwjrtxh</identifier><formatId>anvl/erc-v02</formatId><checksum
algorithm="SHA-1">77511fbfadcff91a4587518797c3c1eb3914a624</checksum><dateSysMetadataModified>1970-03-05T22:04:14Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_qqmgftdvngsa</identifier><formatId>http://www.nexml.org/2009</formatId><checksum
algorithm="SHA-1">16459789f936b0b82cc70f2594b5b16b1801ca52</checksum><dateSysMetadataModified>1970-07-19T08:18:57Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_bzygmlcesycy</identifier><formatId>audio/x-ms-
wma</formatId><checksum
algorithm="SHA-1">3e0c89f3b4fcc2db2e22b89e683241c82e340a69</checksum><dateSysMetadataModified>1970-08-30T12:20:02Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_dijplvhjyino</identifier><formatId>application/msword</formatId><checksum
algorithm="SHA-1">f4518f59a7fa68b7ba45d384d0e3c503e7488f01</checksum><dateSysMetadataModified>1970-09-17T22:24:43Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_xibqjjqdsxvy</identifier><formatId>application/vnd.openxmlformats-
officedocument.presentationml.presentation</formatId><checksum
algorithm="SHA-1">ab1ae4edaaea3f817a931082dcc6618795774d76</checksum><dateSysMetadataModified>1970-09-26T17:55:03Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_obfmnqxnghtg</identifier><formatId>video/x-ms-
wmv</formatId><checksum
algorithm="SHA-1">c4e9e74a6fdb1cc80ee410750a20d33b43904c1a</checksum><dateSysMetadataModified>1970-10-11T03:49:03Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_jywdrdcauwqa</identifier><formatId>anvl/erc-v02</formatId><checksum
algorithm="SHA-1">5c93a52bdd9d970208041fb7d63bd61103a9a3e2</checksum><dateSysMetadataModified>1970-11-18T17:30:05Z</dateSysMetadataModified><size>225</size></objectInfo><objectInfo><identifier>PID_GMNFXT_mdtzvzsabgsi</identifier><formatId>text/csv</formatId><checksum
algorithm="SHA-1">057738645063c8512c83d828b668e30acb18ce58</checksum><dateSysMetadataModified>1970-11-20T20:34:16Z</dateSysMetadataModified><size>225</size></objectInfo><objectInfo><identifier>PID_GMNFXT_dkdhvaashhag</identifier><formatId>application/x-bzip2</formatId><checksum
algorithm="SHA-1">d252b5333b7423fa4570f85e4c6ca4edb4f3b5f1</checksum><dateSysMetadataModified>1970-12-13T23:54:23Z</dateSysMetadataModified><size>225</size></objectInfo></ns1:objectList>