< Accept-Encoding: gzip, deflate
< Accept: */*
< Charset: utf-8
< Connection: keep-alive
< GET /node/v2/bogus/endpoint HTTP/1.1
< Host: gmn.client
< User-Agent: DataONE-Python/[VERSION] +http://dataone.org/

> Content-Type:[CONTENT-TYPE]
> HTTP-Version: HTTP/1.1
> HTTP/? 404 Not Found

<?xml version="1.0" encoding="utf-8"?><?xml-stylesheet type="text/xsl" href="/templates/home.xsl"?><error detailCode="0"
errorCode="404" name="NotFound" nodeId="urn:node:GMNUnitTestInstance"><description>Invalid API endpoint</description></error>