<?xml version="1.0" ?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <serialVersion>56</serialVersion>
  <identifier>PID_rzfqevloxcky</identifier>
  <formatId>http://www.w3.org/TR/rdfa-syntax</formatId>
  <size>272</size>
  <checksum algorithm="SHA-1">9c5c8fc550c17a4f48a8542c0077f3252472e243</checksum>
  <submitter>subj_q</submitter>
  <rightsHolder>subj_e</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj1</subject>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj2</subject>
      <subject>subj3</subject>
      <subject>subj4</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj10</subject>
      <subject>subj11</subject>
      <subject>subj12</subject>
      <subject>subj5</subject>
      <subject>subj6</subject>
      <subject>subj7</subject>
      <subject>subj8</subject>
      <subject>subj9</subject>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="0" replicationAllowed="false">
    <preferredMemberNode>mn_th</preferredMemberNode>
    <blockedMemberNode>mn_f</blockedMemberNode>
    <blockedMemberNode>mn_ge</blockedMemberNode>
    <blockedMemberNode>mn_s</blockedMemberNode>
    <blockedMemberNode>mn_v</blockedMemberNode>
  </replicationPolicy>
  <archived>false</archived>
  <dateUploaded>2013-08-10T05:54:39Z</dateUploaded>
  <dateSysMetadataModified>2013-08-20T05:54:39Z</dateSysMetadataModified>
  <originMemberNode>mn_t</originMemberNode>
  <authoritativeMemberNode>mn_e</authoritativeMemberNode>
</ns1:systemMetadata>