root = [
  l1 = [
    l2 = [
      l3 = [
        'ghi'
        l4 = [
          l5 = [
            l6 = [
              'jkl'
            ]
          ]
        ]
      ]
    ]
  ]
  l1 = [
    l2 = [
      l3 = [
        l4 = [
        ]
      ]
    ]
  ]
  l1 = [
    l2 = [
      l3 = [
        l4 = [
          l5 = [
            l6 = [
              'abc'
            ]
          ]
        ]
      ]
    ]
  ]
  l1 = [
    l2 = [
      l3 = [
        l4 = [
          l5 = [
            l6 = [
              'def'
            ]
          ]
        ]
      ]
    ]
  ]
]