<?xml version="1.0" ?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <serialVersion>56</serialVersion>
  <identifier>PID_rzfqevloxcky</identifier>
  <formatId>http://www.w3.org/TR/rdfa-syntax</formatId>
  <size>272</size>
  <checksum algorithm="SHA-1">9c5c8fc550c17a4f48a8542c0077f3252472e243</checksum>
  <submitter>subj_q</submitter>
  <rightsHolder>subj_r</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj1</subject>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj2</subject>
      <subject>subj3</subject>
      <subject>subj4</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj10</subject>
      <subject>subj11</subject>
      <subject>subj12</subject>
      <subject>subj5</subject>
      <subject>subj6</subject>
      <subject>subj7</subject>
      <subject>subj8</subject>
      <subject>subj9</subject>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy replicationAllowed="false" numberReplicas="0">
    <preferredMemberNode>mn_f</preferredMemberNode>
    <preferredMemberNode>mn_ge</preferredMemberNode>
    <preferredMemberNode>mn_s</preferredMemberNode>
    <preferredMemberNode>mn_v</preferredMemberNode>
    <blockedMemberNode>mn_g</blockedMemberNode>
  </replicationPolicy>
  <archived>false</archived>
  <dateUploaded>2013-08-10T05:54:39Z</dateUploaded>
  <dateSysMetadataModified>2013-08-20T05:54:39Z</dateSysMetadataModified>
  <originMemberNode>mn_y</originMemberNode>
  <authoritativeMemberNode>mn_a</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_dh</replicaMemberNode>
    <replicationStatus>invalidated</replicationStatus>
    <replicaVerified>1982-05-23T09:32:55Z</replicaVerified>
  </replica>
</ns1:systemMetadata>