<?xml version="1.0" ?>
<ns1:log count="10" start="0" total="236" xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <logEntry>
    <entryId>[ENTRY-ID]</entryId>
    <identifier>PID_GMNFXT_ssoyhciccuqw</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>DataONE-Python[VERSION] +http://dataone.org/</userAgent>
    <subject>trusted_subj</subject>
    <event>update</event>
    <dateLogged>1970-07-09T08:18:57Z</dateLogged>
    <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[ENTRY-ID]</entryId>
    <identifier>PID_GMNFXT_jnyjhqlkvaoy</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>DataONE-Python[VERSION] +http://dataone.org/</userAgent>
    <subject>trusted_subj</subject>
    <event>update</event>
    <dateLogged>1970-10-01T03:49:03Z</dateLogged>
    <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[ENTRY-ID]</entryId>
    <identifier>PID_GMNFXT_thjsqsbghvlm</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>DataONE-Python[VERSION] +http://dataone.org/</userAgent>
    <subject>trusted_subj</subject>
    <event>update</event>
    <dateLogged>1971-08-15T01:37:15Z</dateLogged>
    <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[ENTRY-ID]</entryId>
    <identifier>PID_GMNFXT_ubquvcbpplln</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>DataONE-Python[VERSION] +http://dataone.org/</userAgent>
    <subject>trusted_subj</subject>
    <event>update</event>
    <dateLogged>1972-01-06T22:48:48Z</dateLogged>
    <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[ENTRY-ID]</entryId>
    <identifier>PID_GMNFXT_bxpewjyafvhp</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>DataONE-Python[VERSION] +http://dataone.org/</userAgent>
    <subject>trusted_subj</subject>
    <event>update</event>
    <dateLogged>1972-01-13T11:03:54Z</dateLogged>
    <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[ENTRY-ID]</entryId>
    <identifier>PID_GMNFXT_ifetpytlpqne</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>DataONE-Python[VERSION] +http://dataone.org/</userAgent>
    <subject>trusted_subj</subject>
    <event>update</event>
    <dateLogged>1972-03-21T05:27:58Z</dateLogged>
    <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[ENTRY-ID]</entryId>
    <identifier>PID_GMNFXT_bbxgljmgwcup</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>DataONE-Python[VERSION] +http://dataone.org/</userAgent>
    <subject>trusted_subj</subject>
    <event>update</event>
    <dateLogged>1973-01-04T05:46:07Z</dateLogged>
    <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[ENTRY-ID]</entryId>
    <identifier>PID_GMNFXT_obmpsukubzol</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>DataONE-Python[VERSION] +http://dataone.org/</userAgent>
    <subject>trusted_subj</subject>
    <event>update</event>
    <dateLogged>1973-03-13T16:33:06Z</dateLogged>
    <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[ENTRY-ID]</entryId>
    <identifier>PID_GMNFXT_ltzruatjrjor</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>DataONE-Python[VERSION] +http://dataone.org/</userAgent>
    <subject>trusted_subj</subject>
    <event>update</event>
    <dateLogged>1973-09-11T00:03:27Z</dateLogged>
    <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[ENTRY-ID]</entryId>
    <identifier>PID_GMNFXT_ipjbyzvnpsen</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>DataONE-Python[VERSION] +http://dataone.org/</userAgent>
    <subject>trusted_subj</subject>
    <event>update</event>
    <dateLogged>1974-02-09T17:24:28Z</dateLogged>
    <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
  </logEntry>
</ns1:log>