< Accept-Encoding: gzip, deflate
< Accept: */*
< Charset: utf-8
< Connection: keep-alive
< Content-Length: 0
< Host: gmn.client
< OPTIONS /node/v1/object/PID_kqozcnpdygkx HTTP/1.1
< User-Agent: DataONE-Python/[VERSION] +http://dataone.org/

> Access-Control-Allow-Credentials: true
> Access-Control-Allow-Headers: Authorization
> Access-Control-Allow-Methods: GET,HEAD,PUT,DELETE,OPTIONS
> Access-Control-Allow-Origin: *
> Allow: GET,HEAD,PUT,DELETE,OPTIONS
> Content-Type:[CONTENT-TYPE]
> HTTP-Version: HTTP/1.1
> HTTP/? 200 OK

Header response to OPTIONS request