{
  "Access-Control-Allow-Credentials": "true",
  "Access-Control-Allow-Headers": "Authorization",
  "Access-Control-Allow-Methods": "GET,OPTIONS",
  "Access-Control-Allow-Origin": "https://search.dataone.org",
  "Allow": "GET,OPTIONS",
  "Content-Disposition": "attachment; filename=\"file_eyvdptwupfdy.zip\"",
  "Content-Type": "application/zip",
  "DataONE-FormatId": "application/bagit-097",
  "DataONE-GMN": "[VERSION]",
  "DataONE-SerialVersion": "61",
  "DataONE-SeriesId": "SID_mmulhutzvrrs",
  "Date": "Sun, 01 Jan 1995 00:00:00 GMT",
  "HTTP-Version": "HTTP/1.1",
  "Last-Modified": "Tue, 14 Sep 1993 14:00:13 GMT"
}