v2:systemMetadata = [
  accessPolicy = [
    allow = [
      permission = [
        #text = [
          changePermission = [
          ]
        ]
      ]
      subject = [
        #text = [
          subj2 = [
          ]
        ]
      ]
      subject = [
        #text = [
          subj3 = [
          ]
        ]
      ]
      subject = [
        #text = [
          subj5 = [
          ]
        ]
      ]
      subject = [
        #text = [
          subj6 = [
          ]
        ]
      ]
    ]
    allow = [
      permission = [
        #text = [
          write = [
          ]
        ]
      ]
      subject = [
        #text = [
          subj1 = [
          ]
        ]
      ]
      subject = [
        #text = [
          subj3 = [
          ]
        ]
      ]
      subject = [
        #text = [
          subj4 = [
          ]
        ]
      ]
    ]
  ]
  archived = [
    #text = [
      true = [
      ]
    ]
  ]
  authoritativeMemberNode = [
    #text = [
      test_authoritative_mn = [
      ]
    ]
  ]
  checksum = [
    #text = [
      SHA1 = [
      ]
    ]
    @algorithm = [
      SHA1 = [
      ]
    ]
  ]
  dateSysMetadataModified = [
    #text = [
      2006-08-19T11:27:14-06:00 = [
      ]
    ]
  ]
  dateUploaded = [
    #text = [
      2014-09-18T17:18:33 = [
      ]
    ]
  ]
  fileName = [
    #text = [
      string = [
      ]
    ]
  ]
  formatId = [
    #text = [
      test_format_id = [
      ]
    ]
  ]
  identifier = [
    #text = [
      test_pid = [
      ]
    ]
  ]
  mediaType = [
    @name = [
      test_media_type = [
      ]
    ]
    property = [
      #text = [
        property_value_1 = [
        ]
      ]
      @name = [
        property_name_1 = [
        ]
      ]
    ]
    property = [
      #text = [
        property_value_2 = [
        ]
      ]
      @name = [
        property_name_2 = [
        ]
      ]
    ]
    property = [
      #text = [
        property_value_3 = [
        ]
      ]
      @name = [
        property_name_3 = [
        ]
      ]
    ]
  ]
  obsoletedBy = [
    #text = [
      test_obsoleted_by = [
      ]
    ]
  ]
  obsoletes = [
    #text = [
      test_obsoletes_pid = [
      ]
    ]
  ]
  originMemberNode = [
    #text = [
      test_originating_mn = [
      ]
    ]
  ]
  replica = [
    replicaMemberNode = [
      #text = [
        node1 = [
        ]
      ]
    ]
    replicaVerified = [
      #text = [
        2013-05-21T19:02:49-06:00 = [
        ]
      ]
    ]
    replicationStatus = [
      #text = [
        failed = [
        ]
      ]
    ]
  ]
  replica = [
    replicaMemberNode = [
      #text = [
        node2 = [
        ]
      ]
    ]
    replicaVerified = [
      #text = [
        2014-05-21T19:02:49-06:00 = [
        ]
      ]
    ]
    replicationStatus = [
      #text = [
        failed = [
        ]
      ]
    ]
  ]
  replica = [
    replicaMemberNode = [
      #text = [
        node3 = [
        ]
      ]
    ]
    replicaVerified = [
      #text = [
        2015-05-21T19:02:49-06:00 = [
        ]
      ]
    ]
    replicationStatus = [
      #text = [
        failed = [
        ]
      ]
    ]
  ]
  replicationPolicy = [
    @numberReplicas = [
      3 = [
      ]
    ]
    @replicationAllowed = [
      true = [
      ]
    ]
    blockedMemberNode = [
      #text = [
        node4 = [
        ]
      ]
    ]
    blockedMemberNode = [
      #text = [
        node5 = [
        ]
      ]
    ]
    preferredMemberNode = [
      #text = [
        node1 = [
        ]
      ]
    ]
    preferredMemberNode = [
      #text = [
        node2 = [
        ]
      ]
    ]
    preferredMemberNode = [
      #text = [
        node3 = [
        ]
      ]
    ]
  ]
  rightsHolder = [
    #text = [
      test_rights_holder = [
      ]
    ]
  ]
  serialVersion = [
    #text = [
      11 = [
      ]
    ]
  ]
  seriesId = [
    #text = [
      test_series_id = [
      ]
    ]
  ]
  size = [
    #text = [
      11 = [
      ]
    ]
  ]
  submitter = [
    #text = [
      test_submitter = [
      ]
    ]
  ]
]