{
  "equivalent_set": [
    "CN=Roger Dahl A1779,O=Google,C=US,DC=cilogon,DC=org",
    "authenticatedUser",
    "public",
    "verifiedUser"
  ],
  "primary_str": "CN=Roger Dahl A1779,O=Google,C=US,DC=cilogon,DC=org"
}