<?xml version="1.0" ?>
<ns1:objectList count="15" start="612" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_ahbbgfndmzat</identifier>
    <formatId>image/jp2</formatId>
    <checksum algorithm="SHA-1">088c79be991052ec31337612fb983f381f0c620d</checksum>
    <dateSysMetadataModified>2017-04-11T03:55:29Z</dateSysMetadataModified>
    <size>284</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_jdopirrckzvy</identifier>
    <formatId>application/vnd.ms-powerpoint</formatId>
    <checksum algorithm="SHA-1">c08219ab451155f2db2f2bcfd7ed61325be800ba</checksum>
    <dateSysMetadataModified>2017-05-07T06:53:51Z</dateSysMetadataModified>
    <size>284</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ldhwknfatguu</identifier>
    <formatId>http://www.nexml.org/2009</formatId>
    <checksum algorithm="SHA-1">5245e2eb78eb529c921023e61bc78b7d996ab5ce</checksum>
    <dateSysMetadataModified>2017-06-21T13:45:10Z</dateSysMetadataModified>
    <size>284</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_dxjxdvoenckq</identifier>
    <formatId>http://www.w3.org/TR/rdf-testcases/#ntriples</formatId>
    <checksum algorithm="SHA-1">1744efb5d9256467c777880d6b2e5e823e11d5d6</checksum>
    <dateSysMetadataModified>2017-07-13T00:30:06Z</dateSysMetadataModified>
    <size>284</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_gdlgrojidmat</identifier>
    <formatId>application/x-python</formatId>
    <checksum algorithm="SHA-1">e02c1331398eacd2ba18b685dec490f01d85e1b5</checksum>
    <dateSysMetadataModified>2017-08-19T11:11:20Z</dateSysMetadataModified>
    <size>284</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_usjzyziqgnaq</identifier>
    <formatId>video/mpeg</formatId>
    <checksum algorithm="SHA-1">bb66d1b43868dcfc1d6d4d93fc8f0f3ac8c41731</checksum>
    <dateSysMetadataModified>2017-09-16T18:42:51Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_aadfrhbomulw</identifier>
    <formatId>http://docs.annotatorjs.org/en/v1.2.x/annotation-format.html</formatId>
    <checksum algorithm="SHA-1">097fa2b329b668206da7ec10ba51e8a0e075a929</checksum>
    <dateSysMetadataModified>2017-12-06T22:39:59Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_gowyiystsqot</identifier>
    <formatId>audio/x-wav</formatId>
    <checksum algorithm="SHA-1">4d084007774a66a876a6cbce26f6dd4e8305d74f</checksum>
    <dateSysMetadataModified>2017-12-13T13:35:53Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_nripztlxleav</identifier>
    <formatId>http://docs.annotatorjs.org/en/v1.2.x/annotation-format.html</formatId>
    <checksum algorithm="SHA-1">ba1d37c16529878c2220e93d66712b88955917e6</checksum>
    <dateSysMetadataModified>2018-02-14T03:00:08Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ffbpzyyjlqbm</identifier>
    <formatId>application/vnd.ms-excel</formatId>
    <checksum algorithm="SHA-1">cee7f4bbc3c7286a9b479b2a058eb8b01338a049</checksum>
    <dateSysMetadataModified>2018-05-06T13:48:54Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_dfokcvtdxvyv</identifier>
    <formatId>image/bmp</formatId>
    <checksum algorithm="SHA-1">a3e2c0ca8deb0fe62174d8de525f05c198595012</checksum>
    <dateSysMetadataModified>2018-06-02T18:48:53Z</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_dfhacavxgoyc</identifier>
    <formatId>application/pdf</formatId>
    <checksum algorithm="SHA-1">8d0275e06f0f7f60338aaebeebcf8ae51ce368bf</checksum>
    <dateSysMetadataModified>2018-06-22T00:38:53Z</dateSysMetadataModified>
    <size>286</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_oomunycxuvwp</identifier>
    <formatId>application/postscript</formatId>
    <checksum algorithm="SHA-1">11fd2031ef1c20ca900aa343e74dcced3e17cc23</checksum>
    <dateSysMetadataModified>2018-07-11T05:08:25Z</dateSysMetadataModified>
    <size>286</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_xhbtkylslgpv</identifier>
    <formatId>text/tsv</formatId>
    <checksum algorithm="SHA-1">e63a044ccef5adb7e659249f2261496364e27782</checksum>
    <dateSysMetadataModified>2018-07-31T19:06:19Z</dateSysMetadataModified>
    <size>286</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_zbwryfrhjpsx</identifier>
    <formatId>audio/x-wav</formatId>
    <checksum algorithm="SHA-1">998c56c8ccad293acd1d5873db32e6c7f0b4b0e6</checksum>
    <dateSysMetadataModified>2018-08-20T02:03:44Z</dateSysMetadataModified>
    <size>286</size>
  </objectInfo>
</ns1:objectList>