<?xml version="1.0" ?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>26</serialVersion>
  <identifier>PID_ccbhmjbdldmm</identifier>
  <formatId>http://www.nexml.org/2009</formatId>
  <size>3012</size>
  <checksum algorithm="SHA-1">765e797b097d17da3cd5e8ccfe33c004303fb7f5</checksum>
  <submitter>subj_p</submitter>
  <rightsHolder>subj_o</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>authenticatedUser</subject>
      <subject>subj_aay</subject>
      <subject>subj_aso</subject>
      <subject>subj_h</subject>
      <subject>subj_iypxb</subject>
      <subject>subj_jlryf</subject>
      <subject>subj_ncevt</subject>
      <subject>subj_rnfm</subject>
      <subject>subj_xsiyp</subject>
      <subject>subj_y</subject>
      <permission>write</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="5" replicationAllowed="true">
    <preferredMemberNode>mn_sv</preferredMemberNode>
    <preferredMemberNode>mn_xp</preferredMemberNode>
  </replicationPolicy>
  <archived>false</archived>
  <dateUploaded>1999-09-25T23:10:12Z</dateUploaded>
  <dateSysMetadataModified>1999-10-05T23:10:12Z</dateSysMetadataModified>
  <originMemberNode>mn_v</originMemberNode>
  <authoritativeMemberNode>mn_lq</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_gr</replicaMemberNode>
    <replicationStatus>completed</replicationStatus>
    <replicaVerified>1991-07-10T07:05:39Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_di</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>2009-06-06T22:05:32Z</replicaVerified>
  </replica>
  <seriesId>SID_mbwrbnqfwmhw</seriesId>
  <mediaType name="media_type_bi">
    <property name="prop_hetajmtholhw">fuwjrjxaummk</property>
    <property name="prop_prwysxpeqzio">hkiovfxkniun</property>
    <property name="prop_ftbgjzdjqghn">hocuirzaoomo</property>
    <property name="prop_chtfqcqbplbu">hvytanqedkpw</property>
    <property name="prop_kbemikyreryu">uexgomufccon</property>
  </mediaType>
  <fileName>file_qbczghoxstgi</fileName>
</ns1:systemMetadata>