@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix ore: <http://www.openarchives.org/ore/terms/> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .

<https://cn.dataone.org/cn/v2/resolve/test_pid> a ore:ResourceMap ;
    dcterms:creator "TEST" ;
    dcterms:identifier "test_pid" ;
    ore:describes <https://cn.dataone.org/cn/v2/resolve/test_pid#aggregation> .

ore:Aggregation rdfs:label "Aggregation" ;
    rdfs:isDefinedBy ore: .

<https://cn.dataone.org/cn/v2/resolve/test_pid#aggregation> a ore:Aggregation .