<?xml version="1.0" ?>
<ns1:accessPolicy xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <allow>
    <subject>subj_vii</subject>
    <subject>subj_iazo_group</subject>
    <subject>subj_eqqg</subject>
    <permission>read</permission>
    <permission>changePermission</permission>
  </allow>
  <allow>
    <subject>verifiedUser</subject>
    <subject>subj_ulyh</subject>
    <permission>write</permission>
  </allow>
</ns1:accessPolicy>