<?xml version="1.0" ?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>91</serialVersion>
  <identifier>test_pid_1234</identifier>
  <formatId>text/tsv</formatId>
  <size>304</size>
  <checksum algorithm="SHA-1">aa90f5f324a67cb158760e4a5b8babf6083d97c0</checksum>
  <submitter>subj_fv</submitter>
  <rightsHolder>subj_p</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_q</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj_cc</subject>
      <subject>subj_fqxy</subject>
      <subject>subj_mdz</subject>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="0" replicationAllowed="false">
    <preferredMemberNode>mn_hd</preferredMemberNode>
    <preferredMemberNode>mn_i</preferredMemberNode>
    <preferredMemberNode>mn_i</preferredMemberNode>
    <preferredMemberNode>mn_jw</preferredMemberNode>
    <blockedMemberNode>mn_gg</blockedMemberNode>
    <blockedMemberNode>mn_hq</blockedMemberNode>
  </replicationPolicy>
  <archived>false</archived>
  <dateUploaded>2040-08-25T16:23:18Z</dateUploaded>
  <dateSysMetadataModified>2040-09-04T16:23:18Z</dateSysMetadataModified>
  <originMemberNode>mn_h</originMemberNode>
  <authoritativeMemberNode>mn_rt</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_k</replicaMemberNode>
    <replicationStatus>invalidated</replicationStatus>
    <replicaVerified>1986-03-16T18:55:01Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_x</replicaMemberNode>
    <replicationStatus>queued</replicationStatus>
    <replicaVerified>1999-01-09T16:35:03Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_mg</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>2032-05-12T07:47:54Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_ml</replicaMemberNode>
    <replicationStatus>invalidated</replicationStatus>
    <replicaVerified>2060-07-13T21:08:12Z</replicaVerified>
  </replica>
  <mediaType name="media_type_yx">
    <property name="prop_nyfnxilkxyga">ldoapkamfhwy</property>
    <property name="prop_gzlhgalrmcse">ngbpdtfrtglz</property>
    <property name="prop_khmlnymlnbmh">qddullkibrvs</property>
    <property name="prop_aldjzdpcqvqs">uwzgfrmkfwxa</property>
  </mediaType>
  <fileName>file_noixxccljwun</fileName>
</ns1:systemMetadata>