<?xml version="1.0" ?>
<?xml-stylesheet type="text/xsl" href="/templates/home.xsl"?>
<error name="NotFound" errorCode="404" detailCode="0" nodeId="urn:node:GMNUnitTestInstance">
  <description>Invalid API endpoint</description>
</error>