PyXB type instance:
  <?xml version="1.0" ?>
  <ns1:log count="1" start="0" total="9" xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
    <logEntry>
      <entryId>[ENTRY-ID]</entryId>
      <identifier>PID_GMNFXT_bjxfvlyihnmy</identifier>
      <ipAddress>127.0.0.1</ipAddress>
      <userAgent>DataONE-Python/[VERSION] +http://dataone.org/</userAgent>
      <subject>trusted_subj</subject>
      <event>create</event>
      <dateLogged>1979-01-14T06:52:58Z</dateLogged>
      <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
    </logEntry>
  </ns1:log>

PyXB type instance:
  <?xml version="1.0" ?>
  <ns1:log count="1" start="8" total="9" xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
    <logEntry>
      <entryId>[ENTRY-ID]</entryId>
      <identifier>PID_GMNFXT_xolbzvjczexa</identifier>
      <ipAddress>127.0.0.1</ipAddress>
      <userAgent>DataONE-Python/[VERSION] +http://dataone.org/</userAgent>
      <subject>trusted_subj</subject>
      <event>create</event>
      <dateLogged>1979-12-26T09:40:00Z</dateLogged>
      <nodeIdentifier>urn:node:GMNUnitTestInstance</nodeIdentifier>
    </logEntry>
  </ns1:log>
