[
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">ecp</ns1:identifier>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">book</ns1:identifier>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">zsvkeqvix</ns1:identifier>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">ocvczwg</ns1:identifier>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">sosbqqrav</ns1:identifier>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">plakqnpwo</ns1:identifier>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">mxtzlsrpwzlq</ns1:identifier>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">nuhxupjrlgxr</ns1:identifier>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">nlhgipkoewzlrq</ns1:identifier>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">wzivmryzfmzf</ns1:identifier>"
]