<?xml version="1.0" ?>
<error name="ServiceFailure" errorCode="500" detailCode="123.456.789">
  <description>test description</description>
  <traceInformation>test traceInformation</traceInformation>
</error>