[
  "Root/subj-1/Person/Symbolic/verifiedUser",
  "Root/subj-1/Person/Equiv/subj-2/Person/Equiv/subj-10/Person/Equiv/subj-20",
  "Root/subj-1/Person/Equiv/subj-2/Person/Equiv/subj-30",
  "Root/subj-1/Person/Equiv/subj-2/Person/Equiv/subj-31",
  "Root/Symbolic/authenticatedUser"
]