<?xml version="1.0" ?>
<ns1:replicationPolicy numberReplicas="1" replicationAllowed="true" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <preferredMemberNode>mn_gt</preferredMemberNode>
  <preferredMemberNode>mn_ng</preferredMemberNode>
  <blockedMemberNode>mn_w</blockedMemberNode>
  <blockedMemberNode>mn_v</blockedMemberNode>
</ns1:replicationPolicy>
