v1:nodeList = [
  @{http://www.w3.org/2001/XMLSchema-instance}schemaLocation = [
    http://ns.dataone.org/service/types/v1 file:/home/dahl/eclipse_workspace_d1/d1_common_python/src/d1_schemas/dataoneTypes.xsd =
[
    ]
  ]
  node = [
    @replicate = [
      false = [
      ]
    ]
    @state = [
      up = [
      ]
    ]
    @synchronize = [
      false = [
      ]
    ]
    @type = [
      mn = [
      ]
    ]
    baseURL = [
      #text = [
        http://www.oxygenxml.com/ = [
        ]
      ]
    ]
    contactSubject = [
      #text = [
        contactSubject0 = [
        ]
      ]
    ]
    contactSubject = [
      #text = [
        contactSubject1 = [
        ]
      ]
    ]
    description = [
      #text = [
        description0 = [
        ]
      ]
    ]
    identifier = [
      #text = [
        identifier0 = [
        ]
      ]
    ]
    name = [
      #text = [
        name0 = [
        ]
      ]
    ]
    ping = [
      @lastSuccess = [
        2006-05-04T18:13:51.0Z = [
        ]
      ]
      @success = [
        false = [
        ]
      ]
    ]
    services = [
      service = [
        @available = [
          false = [
          ]
        ]
        @name = [
          name1 = [
          ]
        ]
        @version = [
          version0 = [
          ]
        ]
        restriction = [
          @methodName = [
            methodName0 = [
            ]
          ]
          subject = [
            #text = [
              subject0 = [
              ]
            ]
          ]
          subject = [
            #text = [
              subject1 = [
              ]
            ]
          ]
        ]
        restriction = [
          @methodName = [
            methodName1 = [
            ]
          ]
          subject = [
            #text = [
              subject2 = [
              ]
            ]
          ]
          subject = [
            #text = [
              subject3 = [
              ]
            ]
          ]
        ]
      ]
      service = [
        @available = [
          false = [
          ]
        ]
        @name = [
          name2 = [
          ]
        ]
        @version = [
          version1 = [
          ]
        ]
        restriction = [
          @methodName = [
            methodName2 = [
            ]
          ]
          subject = [
            #text = [
              subject4 = [
              ]
            ]
          ]
          subject = [
            #text = [
              subject5 = [
              ]
            ]
          ]
        ]
        restriction = [
          @methodName = [
            methodName3 = [
            ]
          ]
          subject = [
            #text = [
              subject6 = [
              ]
            ]
          ]
          subject = [
            #text = [
              subject7 = [
              ]
            ]
          ]
        ]
      ]
    ]
    subject = [
      #text = [
        subject8 = [
        ]
      ]
    ]
    subject = [
      #text = [
        subject9 = [
        ]
      ]
    ]
    synchronization = [
      lastCompleteHarvest = [
        #text = [
          2006-05-04T18:13:51.0Z = [
          ]
        ]
      ]
      lastHarvested = [
        #text = [
          2006-05-04T18:13:51.0Z = [
          ]
        ]
      ]
      schedule = [
        @hour = [
          * = [
          ]
        ]
        @mday = [
          * = [
          ]
        ]
        @min = [
          * = [
          ]
        ]
        @mon = [
          * = [
          ]
        ]
        @sec = [
          1 = [
          ]
        ]
        @wday = [
          * = [
          ]
        ]
        @year = [
          * = [
          ]
        ]
      ]
    ]
  ]
  node = [
    @replicate = [
      false = [
      ]
    ]
    @state = [
      up = [
      ]
    ]
    @synchronize = [
      false = [
      ]
    ]
    @type = [
      mn = [
      ]
    ]
    baseURL = [
      #text = [
        http://www.oxygenxml.com/ = [
        ]
      ]
    ]
    contactSubject = [
      #text = [
        contactSubject2 = [
        ]
      ]
    ]
    contactSubject = [
      #text = [
        contactSubject3 = [
        ]
      ]
    ]
    description = [
      #text = [
        description1 = [
        ]
      ]
    ]
    identifier = [
      #text = [
        identifier1 = [
        ]
      ]
    ]
    name = [
      #text = [
        name3 = [
        ]
      ]
    ]
    ping = [
      @lastSuccess = [
        2006-05-04T18:13:51.0Z = [
        ]
      ]
      @success = [
        false = [
        ]
      ]
    ]
    services = [
      service = [
        @available = [
          false = [
          ]
        ]
        @name = [
          name4 = [
          ]
        ]
        @version = [
          version2 = [
          ]
        ]
        restriction = [
          @methodName = [
            methodName4 = [
            ]
          ]
          subject = [
            #text = [
              subject10 = [
              ]
            ]
          ]
          subject = [
            #text = [
              subject11 = [
              ]
            ]
          ]
        ]
        restriction = [
          @methodName = [
            methodName5 = [
            ]
          ]
          subject = [
            #text = [
              subject12 = [
              ]
            ]
          ]
          subject = [
            #text = [
              subject13 = [
              ]
            ]
          ]
        ]
      ]
      service = [
        @available = [
          false = [
          ]
        ]
        @name = [
          name5 = [
          ]
        ]
        @version = [
          version3 = [
          ]
        ]
        restriction = [
          @methodName = [
            methodName6 = [
            ]
          ]
          subject = [
            #text = [
              subject14 = [
              ]
            ]
          ]
          subject = [
            #text = [
              subject15 = [
              ]
            ]
          ]
        ]
        restriction = [
          @methodName = [
            methodName7 = [
            ]
          ]
          subject = [
            #text = [
              subject16 = [
              ]
            ]
          ]
          subject = [
            #text = [
              subject17 = [
              ]
            ]
          ]
        ]
      ]
    ]
    subject = [
      #text = [
        subject18 = [
        ]
      ]
    ]
    subject = [
      #text = [
        subject19 = [
        ]
      ]
    ]
    synchronization = [
      lastCompleteHarvest = [
        #text = [
          2006-05-04T18:13:51.0Z = [
          ]
        ]
      ]
      lastHarvested = [
        #text = [
          2006-05-04T18:13:51.0Z = [
          ]
        ]
      ]
      schedule = [
        @hour = [
          * = [
          ]
        ]
        @mday = [
          * = [
          ]
        ]
        @min = [
          * = [
          ]
        ]
        @mon = [
          * = [
          ]
        ]
        @sec = [
          1 = [
          ]
        ]
        @wday = [
          * = [
          ]
        ]
        @year = [
          * = [
          ]
        ]
      ]
    ]
  ]
]