<?xml version="1.0" ?>
<ns1:objectList count="21" start="0" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_ozzmphwkqwxl</identifier>
    <formatId>CF-1.0</formatId>
    <checksum algorithm="SHA-1">3b460cfb3c69f8326402739a7dd02537e8f886cc</checksum>
    <dateSysMetadataModified>1970-02-15T09:24:20Z</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_kgajbvyvldhh</identifier>
    <formatId>video/quicktime</formatId>
    <checksum algorithm="SHA-1">ae93594d2e89692f45fd7cd125e228d3d3c3cbf8</checksum>
    <dateSysMetadataModified>1970-03-15T19:44:47Z</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_rweeupyynbcj</identifier>
    <formatId>application/vnd.openxmlformats-officedocument.wordprocessingml.document</formatId>
    <checksum algorithm="SHA-1">a9034672636d9eb01f4b8528db7f1993636cd983</checksum>
    <dateSysMetadataModified>1970-04-08T23:20:26Z</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_jjukjyxkznyy</identifier>
    <formatId>application/x-bzip2</formatId>
    <checksum algorithm="SHA-1">7a6048b12f66ab1695c6293d8ada27d541373a94</checksum>
    <dateSysMetadataModified>1970-05-18T02:44:10Z</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_jfiiotaxfgxb</identifier>
    <formatId>application/bagit-097</formatId>
    <checksum algorithm="SHA-1">da0d95ea173966876fd530619a9f5bcaca00c004</checksum>
    <dateSysMetadataModified>1970-05-22T08:17:48Z</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_gwxrzkemjmru</identifier>
    <formatId>application/postscript</formatId>
    <checksum algorithm="SHA-1">0ac204396654560d7698aec1f5039f1a3d62722f</checksum>
    <dateSysMetadataModified>1970-09-09T20:23:34Z</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_vfoqwkeonwpk</identifier>
    <formatId>http://www.w3.org/TR/rdf-testcases/#ntriples</formatId>
    <checksum algorithm="SHA-1">024057bddd0b59c46b38220acc0f5e8bd71767d4</checksum>
    <dateSysMetadataModified>1970-09-23T09:59:59Z</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_vvfovoymjqai</identifier>
    <formatId>video/mp4</formatId>
    <checksum algorithm="SHA-1">788702e18625966cb39779a39bbfc643a2243eba</checksum>
    <dateSysMetadataModified>1970-11-16T13:40:18Z</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ehzvnfhnmaby</identifier>
    <formatId>image/jp2</formatId>
    <checksum algorithm="SHA-1">ea846300ab41bbeb5355e51a37034f0af457a80e</checksum>
    <dateSysMetadataModified>1970-11-28T10:27:47Z</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_jrcmzerhvlia</identifier>
    <formatId>application/MATLAB</formatId>
    <checksum algorithm="SHA-1">5e2a20f12c1f2e8215c14f25b4c66c69df133cb6</checksum>
    <dateSysMetadataModified>1971-02-03T03:48:48Z</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_bstuuergwqwi</identifier>
    <formatId>text/csv</formatId>
    <checksum algorithm="SHA-1">71904355dd782df08c0ea03c1d970b9ebe642c5a</checksum>
    <dateSysMetadataModified>1971-03-11T21:43:59Z</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ybdybxwqhxaw</identifier>
    <formatId>video/avi</formatId>
    <checksum algorithm="SHA-1">1abc17060ad003ad88058b82b63bb7449d6ef19e</checksum>
    <dateSysMetadataModified>1971-03-31T23:47:23Z</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_kbykjzwvnptb</identifier>
    <formatId>http://www.w3.org/TR/rdfa-syntax</formatId>
    <checksum algorithm="SHA-1">526e16ee5129daaed6ca7712f35f1fa3bcd501e3</checksum>
    <dateSysMetadataModified>1971-04-07T03:31:59Z</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_gczgwenxrpgt</identifier>
    <formatId>http://www.w3.org/2005/Atom</formatId>
    <checksum algorithm="SHA-1">9b975293969172ee5d41ae3c46e5ea445b5ce1d9</checksum>
    <dateSysMetadataModified>1971-07-02T05:59:59Z</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_hfaocwvkupkz</identifier>
    <formatId>application/SAS</formatId>
    <checksum algorithm="SHA-1">c97907df187d72c06b37497b927030b411a35fa0</checksum>
    <dateSysMetadataModified>1971-07-20T19:26:40Z</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_hhttxyblkcbb</identifier>
    <formatId>text/plain</formatId>
    <checksum algorithm="SHA-1">14b95b185d31568d0e944357d050d6b4af0774aa</checksum>
    <dateSysMetadataModified>1971-09-14T21:45:56Z</dateSysMetadataModified>
    <size>226</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ttklwhxgqbyh</identifier>
    <formatId>application/vnd.ms-excel</formatId>
    <checksum algorithm="SHA-1">73ee0918e51be2c9eda9fe6b73322e90540096d4</checksum>
    <dateSysMetadataModified>1971-12-28T07:19:34Z</dateSysMetadataModified>
    <size>226</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ibpsyeoivnqd</identifier>
    <formatId>application/octet-stream</formatId>
    <checksum algorithm="SHA-1">a44ad6d5886f0f3dcfac01fca7b8865b77aa0dc6</checksum>
    <dateSysMetadataModified>1972-02-24T14:11:19Z</dateSysMetadataModified>
    <size>226</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_mohydheghdrz</identifier>
    <formatId>application/x-python</formatId>
    <checksum algorithm="SHA-1">4ec59d7b177a2df90bb3aa7be58b17edae49bd21</checksum>
    <dateSysMetadataModified>1972-03-10T05:18:50Z</dateSysMetadataModified>
    <size>226</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_kfwoewbfbusk</identifier>
    <formatId>video/mp4</formatId>
    <checksum algorithm="SHA-1">55224ac820b2a3f82338491f75589b2beb4e30ef</checksum>
    <dateSysMetadataModified>1972-08-23T23:43:48Z</dateSysMetadataModified>
    <size>227</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_docowsonzuqp</identifier>
    <formatId>application/vnd.openxmlformats-officedocument.presentationml.presentation</formatId>
    <checksum algorithm="SHA-1">255940f38128fcedc65998d5557ac4437aada5c9</checksum>
    <dateSysMetadataModified>1973-01-14T12:21:35Z</dateSysMetadataModified>
    <size>227</size>
  </objectInfo>
</ns1:objectList>