{
  "body_str": "form-data; name=\"post_data_1\"
1234
form-data; name=\"post_data_2\"
5678",
  "header_dict": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Charset": "utf-8",
    "Connection": "keep-alive",
    "Content-Length": "230",
    "Content-Type": "multipart/form-data; boundary=[BOUNDARY]",
    "User-Agent": "DataONE-Python/[VERSION] +http://dataone.org/"
  },
  "query_dict": {}
}