[
  "http://purl.org/dc/terms/creator",
  "http://purl.org/dc/terms/identifier",
  "http://purl.org/spar/cito/documents",
  "http://purl.org/spar/cito/isDocumentedBy",
  "http://www.openarchives.org/ore/terms/aggregates",
  "http://www.openarchives.org/ore/terms/describes",
  "http://www.openarchives.org/ore/terms/isAggregatedBy",
  "http://www.w3.org/1999/02/22-rdf-syntax-ns#type",
  "http://www.w3.org/2000/01/rdf-schema#isDefinedBy",
  "http://www.w3.org/2000/01/rdf-schema#label"
]