[
  {
    "formatid": "application/x-tar"
  },
  {
    "formatid": "http://www.w3.org/TR/rdf-syntax-grammar"
  },
  {
    "formatid": "netCDF-3"
  },
  {
    "formatid": "http://www.w3.org/TR/rdf-syntax-grammar"
  },
  {
    "formatid": "CF-1.3"
  },
  {
    "formatid": "text/plain"
  },
  {
    "formatid": "application/zip"
  },
  {
    "formatid": "http://www.w3.org/TR/rdf-syntax-grammar"
  },
  {
    "formatid": "application/msword"
  },
  {
    "formatid": "audio/mpeg"
  },
  {
    "formatid": "application/x-rar-compressed"
  }
]