< Accept-Encoding: gzip, deflate
< Accept: */*
< Charset: utf-8
< Connection: keep-alive
< GET /node/v1/object?count=10 HTTP/1.1
< Host: gmn.client
< User-Agent: DataONE-Python/[VERSION] +http://dataone.org/

> Access-Control-Allow-Credentials: true
> Access-Control-Allow-Headers: Authorization
> Access-Control-Allow-Methods: GET,POST,OPTIONS
> Access-Control-Allow-Origin: *
> Allow: GET,POST,OPTIONS
> Content-Length: 3051
> Content-Type:[CONTENT-TYPE]
> HTTP-Version: HTTP/1.1
> HTTP/? 200 OK
> Last-Modified: 1971-02-03 03:48:48+00:00

<?xml version="1.0" encoding="utf-8"?><?xml-stylesheet type="text/xsl" href="/templates/home.xsl"?><ns1:objectList count="10"
start="0" total="1000"
xmlns:ns1="http://ns.dataone.org/service/types/v1"><objectInfo><identifier>PID_GMNFXT_ozzmphwkqwxl</identifier><formatId>CF-1.0</formatId><checksum
algorithm="SHA-1">3b460cfb3c69f8326402739a7dd02537e8f886cc</checksum><dateSysMetadataModified>1970-02-15T09:24:20Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_kgajbvyvldhh</identifier><formatId>video/quicktime</formatId><checksum
algorithm="SHA-1">ae93594d2e89692f45fd7cd125e228d3d3c3cbf8</checksum><dateSysMetadataModified>1970-03-15T19:44:47Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_rweeupyynbcj</identifier><formatId>application/vnd.openxmlformats-
officedocument.wordprocessingml.document</formatId><checksum
algorithm="SHA-1">a9034672636d9eb01f4b8528db7f1993636cd983</checksum><dateSysMetadataModified>1970-04-08T23:20:26Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_jjukjyxkznyy</identifier><formatId>application/x-bzip2</formatId><checksum
algorithm="SHA-1">7a6048b12f66ab1695c6293d8ada27d541373a94</checksum><dateSysMetadataModified>1970-05-18T02:44:10Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_jfiiotaxfgxb</identifier><formatId>application/bagit-097</formatId><checksum
algorithm="SHA-1">da0d95ea173966876fd530619a9f5bcaca00c004</checksum><dateSysMetadataModified>1970-05-22T08:17:48Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_gwxrzkemjmru</identifier><formatId>application/postscript</formatId><checksum
algorithm="SHA-1">0ac204396654560d7698aec1f5039f1a3d62722f</checksum><dateSysMetadataModified>1970-09-09T20:23:34Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_vfoqwkeonwpk</identifier><formatId>http://www.w3.org/TR/rdf-
testcases/#ntriples</formatId><checksum
algorithm="SHA-1">024057bddd0b59c46b38220acc0f5e8bd71767d4</checksum><dateSysMetadataModified>1970-09-23T09:59:59Z</dateSysMetadataModified><size>224</size></objectInfo><objectInfo><identifier>PID_GMNFXT_vvfovoymjqai</identifier><formatId>video/mp4</formatId><checksum
algorithm="SHA-1">788702e18625966cb39779a39bbfc643a2243eba</checksum><dateSysMetadataModified>1970-11-16T13:40:18Z</dateSysMetadataModified><size>225</size></objectInfo><objectInfo><identifier>PID_GMNFXT_ehzvnfhnmaby</identifier><formatId>image/jp2</formatId><checksum
algorithm="SHA-1">ea846300ab41bbeb5355e51a37034f0af457a80e</checksum><dateSysMetadataModified>1970-11-28T10:27:47Z</dateSysMetadataModified><size>225</size></objectInfo><objectInfo><identifier>PID_GMNFXT_jrcmzerhvlia</identifier><formatId>application/MATLAB</formatId><checksum
algorithm="SHA-1">5e2a20f12c1f2e8215c14f25b4c66c69df133cb6</checksum><dateSysMetadataModified>1971-02-03T03:48:48Z</dateSysMetadataModified><size>225</size></objectInfo></ns1:objectList>