exclude tests/unicode_test.py
exclude tests/tweak_sysmeta.py
exclude tests/test_simple_client.py
exclude tests/rename_test.py
exclude tests/populate_valid_eml_docs.py
exclude tests/gmn_test_create_huge_file.py
exclude tests/gmn_clear.py
exclude tests/gen_sysmeta.py
exclude tests/fixcrc.py
exclude tests/add_random_access_policy.py
exclude service/test_systemMetadataChanged.py
exclude service/settings_site.py
exclude push_to_gmn_s.py
exclude push_to_gmn1.py
exclude fix_service_permissions.py
include deployment/__init__.py
include deployment/forward_http_to_https.conf
include deployment/gmn-ssl.conf
include deployment/httpd
include deployment/openssl.cnf
include service/__init__.py
include service/d1wsgihandler.py
include service/drop_all.txt
include service/get_cert_subject.py
include service/gmn.wsgi
include service/gmn_logo.png
include service/manage.py
include service/mn/__init__.py
include service/mn/auth.py
include service/mn/db_filter.py
include service/mn/event_log.py
include service/mn/management/__init__.py
include service/mn/management/commands/__init__.py
include service/mn/management/commands/generate_object_list.py
include service/mn/management/commands/process_replication_queue.py
include service/mn/management/commands/process_system_metadata_refresh_queue.py
include service/mn/management/commands/register_node_with_dataone.py
include service/mn/management/commands/set_whitelist.py
include service/mn/middleware/__init__.py
include service/mn/middleware/detail_codes.py
include service/mn/middleware/exception_handler.py
include service/mn/middleware/profiling_handler.py
include service/mn/middleware/request_handler.py
include service/mn/middleware/response_handler.py
include service/mn/middleware/session.py
include service/mn/middleware/startup_handler.py
include service/mn/middleware/view_handler.py
include service/mn/models.py
include service/mn/node.py
include service/mn/node_registry.py
include service/mn/psycopg_adapter.py
include service/mn/restrict_to_verb.py
include service/mn/static/images/d1_logo.png
include service/mn/static/images/preface-wrapper-bg.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/animated-overlay.gif
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-bg_flat_55_999999_40x100.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-bg_flat_75_aaaaaa_40x100.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-bg_glass_45_0078ae_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-bg_glass_55_f8da4e_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-bg_glass_75_79c9ec_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-bg_gloss-wave_45_e14f1c_500x100.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-bg_gloss-wave_50_6eac2c_500x100.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-bg_gloss-wave_75_2191c0_500x100.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-bg_inset-hard_100_fcfdfd_1x100.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-icons_0078ae_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-icons_056b93_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-icons_d8e7f3_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-icons_e0fdff_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-icons_f5e175_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-icons_f7a50d_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/images/ui-icons_fcd113_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/css/start/jquery-ui-1.10.4.custom.css
include service/mn/static/jquery-ui-1.10.4.custom/css/start/jquery-ui-1.10.4.custom.min.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/AUTHORS.txt
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/Gruntfile.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/MIT-LICENSE.txt
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/README.md
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/demos.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/images/calendar.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/images/demo-config-on-tile.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/images/demo-config-on.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/images/demo-spindown-closed.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/images/demo-spindown-open.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/images/icon-docs-info.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/images/pbar-ani.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/index.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/position/cycler.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/position/default.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/position/images/earth.jpg
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/position/images/flight.jpg
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/position/images/rocket.jpg
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/position/index.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/ajax/content1.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/ajax/content2.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/ajax/content3-slow.php
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/ajax/content4-broken.php
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/ajax.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/bottom.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/collapsible.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/default.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/index.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/manipulation.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/mouseover.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/sortable.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/tabs/vertical.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/widget/default.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/demos/widget/index.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/docs/jQuery.widget.bridge.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/docs/jQuery.widget.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/docs/mouse.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/docs/position.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/docs/tabs.html
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/external/globalize.culture.de-DE.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/external/globalize.culture.ja-JP.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/external/globalize.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/external/jquery.mousewheel.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/external/jshint.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/external/qunit.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/external/qunit.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/jquery-1.10.2.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/package.json
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/animated-overlay.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-bg_flat_75_ffffff_40x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-bg_glass_75_dadada_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-icons_222222_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-icons_2e83ff_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-icons_454545_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-icons_888888_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/images/ui-icons_cd0a0a_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/jquery-ui.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/jquery.ui.all.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/jquery.ui.base.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/jquery.ui.core.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/jquery.ui.tabs.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/jquery.ui.theme.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/animated-overlay.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-bg_flat_0_aaaaaa_40x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-bg_glass_55_fbf9ee_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-bg_glass_65_ffffff_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-bg_glass_75_dadada_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-bg_glass_75_e6e6e6_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-bg_glass_95_fef1ec_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-bg_highlight-soft_75_cccccc_1x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-icons_222222_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-icons_2e83ff_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-icons_454545_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-icons_888888_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/images/ui-icons_cd0a0a_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/jquery-ui.min.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/jquery.ui.core.min.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/jquery.ui.tabs.min.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/base/minified/jquery.ui.theme.min.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/animated-overlay.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-bg_flat_55_999999_40x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-bg_flat_75_aaaaaa_40x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-bg_glass_45_0078ae_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-bg_glass_55_f8da4e_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-bg_glass_75_79c9ec_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-bg_gloss-wave_45_e14f1c_500x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-bg_gloss-wave_50_6eac2c_500x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-bg_gloss-wave_75_2191c0_500x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-bg_inset-hard_100_fcfdfd_1x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-icons_0078ae_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-icons_056b93_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-icons_d8e7f3_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-icons_e0fdff_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-icons_f5e175_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-icons_f7a50d_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/images/ui-icons_fcd113_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/jquery-ui.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/jquery.ui.all.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/jquery.ui.base.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/jquery.ui.core.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/jquery.ui.tabs.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/jquery.ui.theme.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/animated-overlay.gif
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-bg_flat_55_999999_40x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-bg_flat_75_aaaaaa_40x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-bg_glass_45_0078ae_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-bg_glass_55_f8da4e_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-bg_glass_75_79c9ec_1x400.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-bg_gloss-wave_45_e14f1c_500x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-bg_gloss-wave_50_6eac2c_500x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-bg_gloss-wave_75_2191c0_500x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-bg_inset-hard_100_fcfdfd_1x100.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-icons_0078ae_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-icons_056b93_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-icons_d8e7f3_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-icons_e0fdff_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-icons_f5e175_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-icons_f7a50d_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/images/ui-icons_fcd113_256x240.png
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/jquery-ui.min.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/jquery.ui.core.min.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/jquery.ui.tabs.min.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/themes/start/minified/jquery.ui.theme.min.css
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/jquery-ui.custom.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/jquery.ui.core.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/jquery.ui.mouse.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/jquery.ui.position.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/jquery.ui.tabs.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/jquery.ui.widget.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/minified/jquery-ui.custom.min.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/minified/jquery.ui.core.min.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/minified/jquery.ui.mouse.min.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/minified/jquery.ui.position.min.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/minified/jquery.ui.tabs.min.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui/minified/jquery.ui.widget.min.js
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui.core.jquery.json
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui.mouse.jquery.json
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui.position.jquery.json
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui.tabs.jquery.json
include service/mn/static/jquery-ui-1.10.4.custom/development-bundle/ui.widget.jquery.json
include service/mn/static/jquery-ui-1.10.4.custom/index.html
include service/mn/static/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js
include service/mn/static/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js
include service/mn/static/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js
include service/mn/static/robots.txt
include service/mn/sysmeta_store.py
include service/mn/sysmeta_validate.py
include service/mn/templates/404.html
include service/mn/templates/500.html
include service/mn/templates/__init__.py
include service/mn/templates/echo_session.xhtml
include service/mn/templates/home.html
include service/mn/templates/permissions_for_object.xhtml
include service/mn/templates/replicate_get_queue.xml
include service/mn/templates/test.html
include service/mn/templates/test_slash.html
include service/mn/templates/trusted_subjects.xhtml
include service/mn/urls.py
include service/mn/util.py
include service/mn/view_asserts.py
include service/mn/view_shared.py
include service/mn/views/__init__.py
include service/mn/views/diagnostics.py
include service/mn/views/internal.py
include service/mn/views/v1.py
include service/settings.py
include service/settings_site_template.py
include service/stores/__init__.py
include service/stores/object/__init__.py
include service/stores/sysmeta/__init__.py
include service/svn_update.py
include service/urls.py
include setup.cfg
include setup.py
include tests/__init__.py
include tests/gmn_integration_tests.py
include tests/gmn_test_client.py
include tests/integration_tests.py
include tests/mk_test_log.py
include tests/testUnicodeStrings.utf8.txt
include tests/test_access_control.py
include tests/test_concurrency.py
include tests/test_context.py
include tests/test_log.csv
include tests/test_objectlist.xml
include tests/test_objects/10Dappend1.txt
include tests/test_objects/10Dappend1.txt.sysmeta
include tests/test_objects/10Dappend2.txt
include tests/test_objects/10Dappend2.txt.sysmeta
include tests/test_objects/12Cpaup.txt
include tests/test_objects/12Cpaup.txt.sysmeta
include tests/test_objects/15Jmatrix1.txt
include tests/test_objects/15Jmatrix1.txt.sysmeta
include tests/test_objects/15Jmatrix2.txt
include tests/test_objects/15Jmatrix2.txt.sysmeta
include tests/test_objects/15Jmatrix3.txt
include tests/test_objects/15Jmatrix3.txt.sysmeta
include tests/test_objects/15Jmatrix4.txt
include tests/test_objects/15Jmatrix4.txt.sysmeta
include tests/test_objects/26S.nexus
include tests/test_objects/26S.nexus.sysmeta
include tests/test_objects/26S.revised.nexus
include tests/test_objects/26S.revised.nexus.sysmeta
include tests/test_objects/5SLong(for5SShort)
include tests/test_objects/5SLong(for5SShort).sysmeta
include tests/test_objects/5SLongand5SShort
include tests/test_objects/5SLongand5SShort.sysmeta
include tests/test_objects/5sShortandcpDNA
include tests/test_objects/5sShortandcpDNA.sysmeta
include tests/test_objects/9HNEXUS.txt
include tests/test_objects/9HNEXUS.txt.sysmeta
include tests/test_objects/AnserMatrix.htm
include tests/test_objects/AnserMatrix.htm.sysmeta
include tests/test_objects/Apine28S.nexus
include tests/test_objects/Apine28S.nexus.sysmeta
include tests/test_objects/ApineOPSIN.nexus
include tests/test_objects/ApineOPSIN.nexus.sysmeta
include tests/test_objects/Appendicesfinal.doc
include tests/test_objects/Appendicesfinal.doc.sysmeta
include tests/test_objects/Arthros.nex
include tests/test_objects/CaseTDT.xls
include tests/test_objects/CaseTDT.xls.sysmeta
include tests/test_objects/CodemlResults.zip
include tests/test_objects/CodemlResults.zip.sysmeta
include tests/test_objects/Combined_Morocco.xls
include tests/test_objects/Combined_Morocco.xls.sysmeta
include tests/test_objects/DPBG_EnhMethods.pdf
include tests/test_objects/DPBG_EnhMethods.pdf.sysmeta
include tests/test_objects/DPBG_SupplTables.pdf
include tests/test_objects/DPBG_SupplTables.pdf.sysmeta
include tests/test_objects/Drugeffect.xls
include tests/test_objects/Drugeffect.xls.sysmeta
include tests/test_objects/Duputie.etal.MolEcol2009.DryadData.xls
include tests/test_objects/Duputie.etal.MolEcol2009.DryadData.xls.sysmeta
include tests/test_objects/EGFRalleles.zip
include tests/test_objects/EGFRalleles.zip.sysmeta
include tests/test_objects/ExpressiononMetabolite.xls
include tests/test_objects/ExpressiononMetabolite.xls.sysmeta
include tests/test_objects/FigS2_Hsieh.pdf
include tests/test_objects/FigS2_Hsieh.pdf.sysmeta
include tests/test_objects/FigS4_Hsieh.pdf
include tests/test_objects/FigS4_Hsieh.pdf.sysmeta
include tests/test_objects/Fishbein.nexus
include tests/test_objects/Fishbein.nexus.sysmeta
include tests/test_objects/GurgelLSmeans.xls
include tests/test_objects/GurgelLSmeans.xls.sysmeta
include tests/test_objects/GurgelMIAMEcompliance.doc
include tests/test_objects/GurgelMIAMEcompliance.doc.sysmeta
include tests/test_objects/abundances-SCalifornia2003.xls
include tests/test_objects/abundances-SCalifornia2003.xls.sysmeta
include tests/test_objects/anterior1.jpg
include tests/test_objects/anterior1.jpg.sysmeta
include tests/test_objects/anterior2.jpg
include tests/test_objects/anterior2.jpg.sysmeta
include tests/test_objects/baker.HD_matrix
include tests/test_objects/baker.HD_matrix.sysmeta
include tests/test_objects/baum.append.txt
include tests/test_objects/baum.append.txt.sysmeta
include tests/test_objects/brochu.mc
include tests/test_objects/brochu.mc.sysmeta
include tests/test_objects/brownbear.const.xml
include tests/test_objects/brownbear.const.xml.sysmeta
include tests/test_objects/chlorobium.expon.xml
include tests/test_objects/chlorobium.expon.xml.sysmeta
include tests/test_objects/co2.nex
include tests/test_objects/co2.nex.sysmeta
include tests/test_objects/combined.nex
include tests/test_objects/combined.nex.sysmeta
include tests/test_objects/command_files.zip
include tests/test_objects/command_files.zip.sysmeta
include tests/test_objects/consensus_trees.zip
include tests/test_objects/consensus_trees.zip.sysmeta
include tests/test_objects/emerson.app
include tests/test_objects/emerson.app.sysmeta
include tests/test_objects/figure5-reconstruction.jpeg
include tests/test_objects/figure5-reconstruction.jpeg.sysmeta
include tests/test_objects/fitch2.mc
include tests/test_objects/fitch2.mc.sysmeta
include tests/test_objects/mets.xml
include tests/test_objects/mets.xml.sysmeta
include tests/test_replication.py
include tests/tests.py
include tests/tricky_identifiers_unicode.txt
include tests/tricky_identifiers_unicode_supplementary.txt
include tests/unittest2/__init__.py
include tests/unittest2/__main__.py
include tests/unittest2/case.py
include tests/unittest2/collector.py
include tests/unittest2/compatibility.py
include tests/unittest2/loader.py
include tests/unittest2/main.py
include tests/unittest2/result.py
include tests/unittest2/runner.py
include tests/unittest2/signals.py
include tests/unittest2/suite.py
include tests/unittest2/test/__init__.py
include tests/unittest2/test/dummy.py
include tests/unittest2/test/support.py
include tests/unittest2/test/test_assertions.py
include tests/unittest2/test/test_break.py
include tests/unittest2/test/test_case.py
include tests/unittest2/test/test_discovery.py
include tests/unittest2/test/test_functiontestcase.py
include tests/unittest2/test/test_loader.py
include tests/unittest2/test/test_new_tests.py
include tests/unittest2/test/test_program.py
include tests/unittest2/test/test_result.py
include tests/unittest2/test/test_runner.py
include tests/unittest2/test/test_setups.py
include tests/unittest2/test/test_skipping.py
include tests/unittest2/test/test_suite.py
include tests/unittest2/test/test_unittest2_with.py
include tests/unittest2/util.py
