{% load static %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Diagnostics, debugging and testing</title>

      <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

      <style type="text/css">
        .isa_info, .isa_success, .isa_warning, .isa_error {
            margin: 10px 0px;
            padding:12px;
        }
        .isa_info {
            color: #00529B;
            background-color: #BDE5F8;
        }
        .isa_success {
            color: #4F8A10;
            background-color: #DFF2BF;
        }
        .isa_warning {
            color: #9F6000;
            background-color: #FEEFB3;
        }
        .isa_error {
            color: #D8000C;
            background-color: #FFBABA;
        }
        .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
            margin:10px 22px;
            font-size:2em;
            vertical-align:middle;
        }
      </style>

<script type="text/javascript">
function clear_replication_queue_confirmation() {
  return confirm('You are about to clear the replication queue. Continue?');
}

</script>

  </head>
  <body>
    <h1>Diagnostics, debugging and testing</h1>

        <div class="isa_info">
            <i class="fa fa-info-circle"></i>
                Links marked with (modify) must be manually edited in the URL address field
		        to insert the correct parameters.
        </div>

{#    {{ done }}#}
{##}
{#    {% if done %}#}
{#        <div class="isa_warning">#}
{#             <i class="fa fa-warning"></i>#}
{#             Completed operation.#}
{#        </div>#}
{#    {% endif %}#}

    <h2>Replication</h2>
    <ul>
      <li><a href="{% url 'get_replication_queue' %}">Get replication work queue</a>
      <li><a href="{% url 'get_replication_queue' %}?excludecompleted">Get replication work queue, excluding completed</a>
      <li><a href="{% url 'clear_replication_queue' %}" onclick="return clear_replication_queue_confirmation();">Clear replication work queue</a>
    </ul>

    <h2>Misc</h2>
    <ul>
      <li><a href="{% url 'echo_session' %}">List of active subjects for this session</a>
      <li><a href="{% url 'trusted_subjects' %}">List of implicitly trusted subjects</a>
      <li><a href="{% url 'object_permissions' 'my_pid' %}">List of permissions for an object (modify)</a>
    </ul>

	<h2>REST interface (v1 GET methods)</h2>
	<p>
		Run simple queries against the MN as the public subject.<br/>
	</p>

	<ul>

		<li>MNRead.listObjects()</li>
		<ul>
		  	<li>
		  		<a href="v1/object">
			  		Unfiltered
		      	</a>
		  	</li>
		  	<li>
		  		<a href="v1/object?fromDate=2005-01-01T12:00:00Z&toDate=2012-01-01T12:00:00Z">
			  		Filter by date range (modify)
		      	</a>
		  	</li>
		  	<li>
				<a href="v1/object?formatId=my_format_id">
		      		Filtered by Format ID (modify)
		      	</a>
		  	</li>

		  	<li>
      			<a href="v1/object?fromDate={fromDate}&toDate={toDate}&formatId={formatId}&replicaStatus={replicaStatus}&start={start}&count={count}]">
      				Complete (modify)
		      	</a>
		  	</li>

		  </ul>


		<li>MNCore.getLogRecords()</li>
		<ul>
		  	<li>
		  		<a href="v1/log">
			  		Unfiltered
		      	</a>
		  	</li>
		  	<li>
		  		<a href="v1/log?pidFilter=my_pid">
			  		Filter by object (modify)
		      	</a>
		  	</li>
      		<li>
      			<a href="v1/log?[fromdate={fromDate}][&todate={toDate}][&event={event}][&pidFilter={pidFilter}][&start={start}][&count={count}]">
      				Complete (modify)
      			</a>
			</li>
		</ul>

		<li>MNRead.get()</li>
		<ul>
			<li>
				<a href="v1/object/my_pid">
					Get object (modify)
				</a>
			</li>
		</ul>

		<li>MNRead.getSystemMetadata()</li>
		<ul>
			<li>
				<a href="v1/meta/my_pid">
					Get System Metadata for object (modify)
				</a>
			</li>
		</ul>

		<li>MNCore.getCapabilities()</li>
		<ul>
			<li>
				<a href="v1/node">
					Get capabilities of this Member Node
				</a>
			</li>
		</ul>

		<li>MNRead.getChecksum()</li>
		<ul>
			<li>
				<a href="v1/checksum/my_pid">
					Get checksum of object (modify)
				</a>
			</li>
		</ul>

		<li>MNAuthorization.isAuthorized()</li>
		<ul>
		  	<li>
		  		<a href="v1/isAuthorized/my_pid?action=read">
			  		Check for read permission (modify)
		      	</a>
		  	</li>
		  	<li>
		  		<a href="v1/isAuthorized/my_pid?action=write">
			  		Check for write permission (modify)
		      	</a>
		  	</li>
		  	<li>
				<a href="v1/isAuthorized/my_pid?action=changePermission">
		      		Check for permission to change permissions (modify)
		      	</a>
		  	</li>
		</ul>
	</ul>

  </body>
</html>
