<html lang="en">
<head>
<meta charset="utf-8">

<style type="text/css">
table {
  border-collapse:collapse;
}
table,th, td {
  border: 1px solid black;
  padding: 5px;
}
</style>

<title></title>

<h1>Replication status</h1>
<table>
	<tr>
		<th>pid</th>
		<th>replicaMemberNode</th>
		<th>replicationStatus</th>
		<th>replicaVerified</th>
	</tr>
{% for pid, replicaMemberNode, replicationStatus, replicaVerified in status_list %}
	<tr>
		<td>{{ pid }}</td>
		<td>{{ replicaMemberNode }}</td>
		<td>{{ replicationStatus }}</td>
		<td>{{ replicaVerified }}</td>
	</tr>
{% endfor %}
</table>

</body>
</html>
