<Certificate(subject=<Name([<NameAttribute(oid=<ObjectIdentifier(oid=0.9.2342.19200300.100.1.25, name=domainComponent)>, value=u'org')>, <NameAttribute(oid=<ObjectIdentifier(oid=0.9.2342.19200300.100.1.25, name=domainComponent)>, value=u'cilogon')>, <NameAttribute(oid=<ObjectIdentifier(oid=2.5.4.6, name=countryName)>, value=u'US')>, <NameAttribute(oid=<ObjectIdentifier(oid=2.5.4.10, name=organizationName)>, value=u'Google')>, <NameAttribute(oid=<ObjectIdentifier(oid=2.5.4.3, name=commonName)>, value=u'Roger Dahl A1779')>])>, ...)>