{
  "Content-Length": "247", 
  "Content-Type": "application/octet-stream", 
  "DataONE-Checksum": "SHA-1,c6be21e6c1764485898fb518fa4bffe6139f3e30", 
  "DataONE-FormatId": "nexus/1997", 
  "DataONE-SerialVersion": "3"
}
