[
  "dr@kygm.dataone.org",
  "wd@agze.dataone.org",
  "px@xamm.dataone.org",
  "bb@qpgw.dataone.org",
  "st@qovo.dataone.org",
  "ha@xurt.dataone.org",
  "oj@pddu.dataone.org",
  "fx@apoh.dataone.org",
  "vy@lnok.dataone.org",
  "mx@vhqz.dataone.org"
]
