<?xml version="1.0" encoding="utf-8"?>
<ns1:objectList count="1" start="999" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_zbbdpttxjnzm</identifier>
    <formatId>application/vnd.ms-excel.sheet.binary.macroEnabled.12</formatId>
    <checksum algorithm="SHA-1">04eeb8b7ac3961906b475b52ed09cfd9d5338b08</checksum>
    <dateSysMetadataModified>1970-02-19T03:26:33</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
</ns1:objectList>
