[
  [
    "FGDC-STD-001.1-1999", 
    28
  ], 
  [
    "http://www.openarchives.org/ore/terms", 
    6
  ], 
  [
    "http://www.isotc211.org/2005/gmd-noaa", 
    5
  ], 
  [
    "FGDC-STD-001-1998", 
    3
  ], 
  [
    "application/octet-stream", 
    3
  ], 
  [
    "application/vnd.ms-excel", 
    3
  ]
]
