<?xml version="1.0" encoding="utf-8"?>
<ns1:objectList count="1" start="0" total="1" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_jfanvlznuaeo</identifier>
    <formatId>application/x-gzip</formatId>
    <checksum algorithm="SHA-1">28c7f5978eace1b0a6a9f4f6f4364f78c91a9cd0</checksum>
    <dateSysMetadataModified>2032-05-24T01:07:20Z</dateSysMetadataModified>
    <size>287</size>
  </objectInfo>
</ns1:objectList>
