NotFound(errorCode="404", detailCode="0", description="Attempted to perform operation on non-existing object", traceInformation="b'<traceInformation>\n  <value>1. \xce\xa3\xce\xbf\xce\xbb\xcf\x85\xcf\x84\xce\xb1 \xce\xb2\xcf\x89\xce\xbd\xce\xbf\xcf\x81\xcf\x85\xce\xbc \xce\xb8\xce\xb5 \xce\xba\xcf\x85\xce\xbf,\n2. \xce\xbd\xce\xb1\xce\xbc \xce\xb5\xcf\x84 \xce\xbd\xce\xbf\xcf\x83\xce\xb8\xce\xb5\xcf\x81 \xcf\x83\xce\xb9\xce\xbc\xce\xb9\xce\xbb\xce\xb9\xce\xba\xcf\x85\xce\xb5.</value>\n</traceInformation>'", identifier="None", nodeId="urn:node:LTER")
