<?xml version="1.0" encoding="utf-8"?>
<ns1:log count="10" start="3232" total="3242" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_khjijauqvyvd</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1971-06-05T08:21:49</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_sbwouvxvzbzg</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>1971-06-05T08:21:49</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_wchmvwgdpduc</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-10-10T08:03:08</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_gatulxyfoysv</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-09-30T23:09:39</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_axxxqvbrjkvi</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>1970-06-02T07:27:24</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_snowmvemmccm</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-06-02T07:27:24</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_wiydifqgjeme</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-03-16T21:02:33</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_dsplpgotofuy</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-02-18T03:09:16</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_wppuuottmgsl</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-02-14T19:55:12</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_ovhjundgzyef</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-01-05T09:08:09</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
</ns1:log>
