<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>39</serialVersion>
  <identifier>test_pid</identifier>
  <formatId>application/x-bzip2</formatId>
  <size>247</size>
  <checksum algorithm="SHA-1">c6be21e6c1764485898fb518fa4bffe6139f3e30</checksum>
  <submitter>subj_e</submitter>
  <rightsHolder>subj_m</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_ba</subject>
      <subject>subj_oc</subject>
      <permission>write</permission>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj_fh</subject>
      <subject>subj_wn</subject>
      <subject>subj_mr</subject>
      <subject>subj_rg</subject>
      <permission>write</permission>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="2" replicationAllowed="true">
    <blockedMemberNode>mn_ru</blockedMemberNode>
    <blockedMemberNode>mn_vr</blockedMemberNode>
  </replicationPolicy>
  <dateUploaded>2008-07-06T03:33:44.966355Z</dateUploaded>
  <dateSysMetadataModified>2008-07-16T03:33:44.966355Z</dateSysMetadataModified>
  <originMemberNode>mn_ou</originMemberNode>
  <authoritativeMemberNode>mn_l</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_qg</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>1999-12-15T21:07:52.173696Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_v</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>2028-06-16T12:22:03.486021Z</replicaVerified>
  </replica>
  <seriesId>SID_nscayqlfpedh</seriesId>
  <mediaType name="media_type_ic">
    <property name="prop_lr">yf</property>
  </mediaType>
  <fileName>file_ckv</fileName>
</ns1:systemMetadata>
