<?xml version="1.0" ?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>78</serialVersion>
  <identifier>test_pid</identifier>
  <formatId>image/gif</formatId>
  <size>286</size>
  <checksum algorithm="SHA-1">27aa37693619985167b9f6851eedfb6cc6591bb9</checksum>
  <submitter>subj_de</submitter>
  <rightsHolder>subj_aa</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_hm</subject>
      <subject>subj_vf</subject>
      <permission>write</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="7" replicationAllowed="true">
    <blockedMemberNode>mn_ov</blockedMemberNode>
  </replicationPolicy>
  <archived>false</archived>
  <dateUploaded>2030-04-27T11:20:34Z</dateUploaded>
  <dateSysMetadataModified>2030-05-07T11:20:34Z</dateSysMetadataModified>
  <originMemberNode>mn_h</originMemberNode>
  <authoritativeMemberNode>mn_i</authoritativeMemberNode>
  <seriesId>SID_jczdmycaoazv</seriesId>
  <mediaType name="media_type_la">
    <property name="prop_ggrqpfwjusgx">lxkbehbuxuws</property>
    <property name="prop_lnnnjijofaih">plxsrslwilgg</property>
    <property name="prop_qdiibrpsvgda">rzubwfxbpjgi</property>
    <property name="prop_vfuieturfscg">zodobvdfrmyq</property>
  </mediaType>
  <fileName>file_sjfzbtjlhstl</fileName>
</ns1:systemMetadata>