[
  "lumbricoid/drail/allelomorph",
  "beastling/showable/Thebaic",
  "intermaxillar,pluriflagellate,noneastern",
  "subclaim$beclog$zygodactylic",
  "chastely&Klikitat&intermaxillar",
  "orthography,outfable,Quaitso",
  "craver/gainsayer/moisture",
  "prostheca#adfluxion#seawoman",
  "r%podothecal%cleaning",
  "seaplane~syphilogenesis~beauism"
]
