<?xml version="1.0" encoding="utf-8"?>
<ns1:objectList count="15" start="612" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_zygoadixcmwj</identifier>
    <formatId>http://www.w3.org/TR/rdf-syntax-grammar</formatId>
    <checksum algorithm="SHA-1">db2e94456dfcf2ae91fcfd82861c90206fee0dec</checksum>
    <dateSysMetadataModified>2002-06-19T00:00:00</dateSysMetadataModified>
    <size>243</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_mskoscdwamxw</identifier>
    <formatId>-//ecoinformatics.org//eml-party-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">ce068f8db734d5192b1f5ea9fb5a6e76541eb7f0</checksum>
    <dateSysMetadataModified>2002-06-17T00:00:00</dateSysMetadataModified>
    <size>303</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_opivwoggczun</identifier>
    <formatId>application/bagit-097</formatId>
    <checksum algorithm="SHA-1">2dbee8e97c626c2b1102a0460178a4b0e5147e69</checksum>
    <dateSysMetadataModified>2002-06-14T00:00:00</dateSysMetadataModified>
    <size>247</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_doajsxqnqrec</identifier>
    <formatId>application/rtf</formatId>
    <checksum algorithm="SHA-1">f1731c7b6b792a0c286123febc8820f2687079ac</checksum>
    <dateSysMetadataModified>2002-06-10T00:00:00</dateSysMetadataModified>
    <size>304</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_jweutrfadlyd</identifier>
    <formatId>-//ecoinformatics.org//eml-resource-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">e2d568ec166407ba46807c958c242ecb6b716126</checksum>
    <dateSysMetadataModified>2002-06-06T00:00:00</dateSysMetadataModified>
    <size>239</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_qbgbbodxnclt</identifier>
    <formatId>application/rtf</formatId>
    <checksum algorithm="SHA-1">14c0ef78bb31c3cccb51ef10a362c10ccccad0ec</checksum>
    <dateSysMetadataModified>2002-06-04T00:00:00</dateSysMetadataModified>
    <size>265</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ivxxhbyjmfgc</identifier>
    <formatId>CF-1.2</formatId>
    <checksum algorithm="SHA-1">334247ad48cf8f47943b8f15695a7b9c77e452a7</checksum>
    <dateSysMetadataModified>2002-06-02T00:00:00</dateSysMetadataModified>
    <size>298</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_pkgkqmkkalrh</identifier>
    <formatId>application/rdf xml</formatId>
    <checksum algorithm="SHA-1">2b403183a7d161afcee3cb658be558e29cc3d7bc</checksum>
    <dateSysMetadataModified>2002-05-31T00:00:00</dateSysMetadataModified>
    <size>307</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_zzikdrxywjek</identifier>
    <formatId>-//ecoinformatics.org//eml-physical-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">41d90e1b22cdd1c3565b6c603c602da3bd6cb925</checksum>
    <dateSysMetadataModified>2002-05-24T00:00:00</dateSysMetadataModified>
    <size>285</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_tqfbxefgsksl</identifier>
    <formatId>-//ecoinformatics.org//eml-physical-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">9fd7d00261cff845846e4583d57b208de8b187da</checksum>
    <dateSysMetadataModified>2002-05-22T22:10:12</dateSysMetadataModified>
    <size>256</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_fjnfvbwtcxtu</identifier>
    <formatId>application/MATLAB</formatId>
    <checksum algorithm="SHA-1">a19e96f66b732417e5e5fdca5bc53fee4eebe975</checksum>
    <dateSysMetadataModified>2002-05-17T00:00:00</dateSysMetadataModified>
    <size>235</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_cvnyhllxhisf</identifier>
    <formatId>image/jp2</formatId>
    <checksum algorithm="SHA-1">1f339e1bbb9d0964f2f2faa790567b66954526a0</checksum>
    <dateSysMetadataModified>2002-05-13T00:00:00</dateSysMetadataModified>
    <size>257</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_jlpxgidmutmc</identifier>
    <formatId>-//ecoinformatics.org//eml-resource-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">a21935e36c4d1248d50763e3dd4708499d64ea11</checksum>
    <dateSysMetadataModified>2002-05-09T00:00:00</dateSysMetadataModified>
    <size>276</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_zjxfucbubhud</identifier>
    <formatId>-//ecoinformatics.org//eml-dataset-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">1b6ae8ec138267fd4380f9be72557c1f1825e487</checksum>
    <dateSysMetadataModified>2002-05-05T00:00:00</dateSysMetadataModified>
    <size>310</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_tdmlonouhksp</identifier>
    <formatId>FGDC-STD-001.2-1999</formatId>
    <checksum algorithm="SHA-1">1db7ab2bd93cd0a10e1cc98c25c520851fd7411f</checksum>
    <dateSysMetadataModified>2002-05-02T00:00:00</dateSysMetadataModified>
    <size>273</size>
  </objectInfo>
</ns1:objectList>
