<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>49</serialVersion>
  <identifier>PID_hzmgaqsewqii</identifier>
  <formatId>http://www.unidata.ucar.edu/namespaces/netcdf/ncml-2.2</formatId>
  <size>266</size>
  <checksum algorithm="SHA-1">c93296e0682fe8a0cab6cdcb524015fa1678387a</checksum>
  <submitter>subj_ao</submitter>
  <rightsHolder>subj_p</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj1</subject>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj2</subject>
      <subject>subj3</subject>
      <subject>subj4</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj10</subject>
      <subject>subj11</subject>
      <subject>subj12</subject>
      <subject>subj5</subject>
      <subject>subj6</subject>
      <subject>subj7</subject>
      <subject>subj8</subject>
      <subject>subj9</subject>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="0" replicationAllowed="false">
    <preferredMemberNode>mn_qi</preferredMemberNode>
    <blockedMemberNode>mn_hu</blockedMemberNode>
  </replicationPolicy>
  <archived>false</archived>
  <dateUploaded>2018-11-15T07:10:36</dateUploaded>
  <dateSysMetadataModified>2018-11-25T07:10:36</dateSysMetadataModified>
  <originMemberNode>mn_fw</originMemberNode>
  <authoritativeMemberNode>mn_lc</authoritativeMemberNode>
  <seriesId>SID_tjvajphbmask</seriesId>
  <fileName>file_buk</fileName>
</ns1:systemMetadata>
