PyXB object:
  <?xml version="1.0" encoding="utf-8"?>
  <ns1:objectList count="1" start="0" total="8" xmlns:ns1="http://ns.dataone.org/service/types/v1">
    <objectInfo>
      <identifier>PID_GMNFXT_eyqybaamoydg</identifier>
      <formatId>text/n3</formatId>
      <checksum algorithm="SHA-1">df99bdbb11d567eb1b96028a030e207492f50537</checksum>
      <dateSysMetadataModified>1980-12-05T09:53:19</dateSysMetadataModified>
      <size>235</size>
    </objectInfo>
  </ns1:objectList>

PyXB object:
  <?xml version="1.0" encoding="utf-8"?>
  <ns1:objectList count="1" start="7" total="8" xmlns:ns1="http://ns.dataone.org/service/types/v1">
    <objectInfo>
      <identifier>PID_GMNFXT_mutkyzggzwad</identifier>
      <formatId>http://www.loc.gov/METS/</formatId>
      <checksum algorithm="SHA-1">ad125f2fd70fede04aeffe58b73385ac8390fa62</checksum>
      <dateSysMetadataModified>1980-01-11T12:21:07</dateSysMetadataModified>
      <size>234</size>
    </objectInfo>
  </ns1:objectList>
