  <?xml version="1.0" encoding="utf-8"?>
  <ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
    <serialVersion>38</serialVersion>
    <identifier>PID_eudvrgeivqjd</identifier>
    <formatId>http://www.w3.org/2005/Atom</formatId>
    <size>255</size>
    <checksum algorithm="SHA-1">3c80cdbdcae02ca7e72d3724072c2e42273b1ac5</checksum>
    <submitter>subj_v</submitter>
    <rightsHolder>subj_np</rightsHolder>
    <accessPolicy>
      <allow>
        <subject>subj1</subject>
        <permission>read</permission>
      </allow>
      <allow>
+       <subject>subj2</subject>
+       <subject>subj3</subject>
        <subject>subj4</subject>
-       <subject>subj3</subject>
-       <subject>subj2</subject>
-       <permission>read</permission>
        <permission>write</permission>
      </allow>
      <allow>
+       <subject>subj10</subject>
+       <subject>subj11</subject>
+       <subject>subj12</subject>
        <subject>subj5</subject>
+       <subject>subj6</subject>
        <subject>subj7</subject>
-       <subject>subj6</subject>
        <subject>subj8</subject>
-       <permission>read</permission>
-       <permission>changePermission</permission>
-     </allow>
-     <allow>
-       <subject>subj11</subject>
        <subject>subj9</subject>
-       <subject>subj10</subject>
-       <subject>subj12</subject>
        <permission>changePermission</permission>
      </allow>
    </accessPolicy>
    <replicationPolicy numberReplicas="1" replicationAllowed="true">
+     <preferredMemberNode>mn_ht</preferredMemberNode>
      <preferredMemberNode>mn_kl</preferredMemberNode>
      <preferredMemberNode>mn_r</preferredMemberNode>
-     <preferredMemberNode>mn_ht</preferredMemberNode>
    </replicationPolicy>
+   <archived>false</archived>
    <dateUploaded>2007-11-30T21:48:29.078665Z</dateUploaded>
    <dateSysMetadataModified>2007-12-10T21:48:29.078665Z</dateSysMetadataModified>
    <originMemberNode>mn_q</originMemberNode>
    <authoritativeMemberNode>mn_d</authoritativeMemberNode>
    <replica>
      <replicaMemberNode>mn_d</replicaMemberNode>
      <replicationStatus>invalidated</replicationStatus>
      <replicaVerified>1988-07-22T09:08:30.945785Z</replicaVerified>
    </replica>
    <seriesId>SID_fjnserbtqzzr</seriesId>
    <mediaType name="media_type_qs">
      <property name="prop_agdyazjpnsib">cynukbpkvkjq</property>
      <property name="prop_cruksnnpixke">wncpkhbhlnnk</property>
+     <property name="prop_jpunnafhlnjg">xdatrpsvvdgs</property>
      <property name="prop_kfarmdgivcez">srgoqzjqterr</property>
-     <property name="prop_jpunnafhlnjg">xdatrpsvvdgs</property>
    </mediaType>
    <fileName>file_xuepnkfygcyw</fileName>
  </ns1:systemMetadata>
