{
  "Content-Length": "210",
  "Content-Type": "application/octet-stream",
  "DataONE-Checksum": "SHA-1,a04842d34b7a62cfb5ee7d7b7abffe577240eab5",
  "DataONE-FormatId": "text/csv",
  "DataONE-SerialVersion": "3"
}