<?xml version="1.0" ?>
<ns1:objectList count="1" start="0" total="1" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_yumjpabxuloj</identifier>
    <formatId>-//ecoinformatics.org//eml-project-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">c5ba53a36b60838926740573cd30b91d503d05e0</checksum>
    <dateSysMetadataModified>2027-11-13T12:52:35Z</dateSysMetadataModified>
    <size>282</size>
  </objectInfo>
</ns1:objectList>