<?xml version="1.0" encoding="utf-8"?>
<ns1:replicationPolicy numberReplicas="6" replicationAllowed="true" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <preferredMemberNode>mn_r</preferredMemberNode>
  <preferredMemberNode>mn_b</preferredMemberNode>
  <preferredMemberNode>mn_a</preferredMemberNode>
  <blockedMemberNode>mn_j</blockedMemberNode>
  <blockedMemberNode>mn_ll</blockedMemberNode>
</ns1:replicationPolicy>
