<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <serialVersion>44</serialVersion>
  <identifier>PID_lsbhgrsljqbj</identifier>
  <formatId>CF-1.2</formatId>
  <size>3012</size>
  <checksum algorithm="SHA-1">765e797b097d17da3cd5e8ccfe33c004303fb7f5</checksum>
  <submitter>subj_fu</submitter>
  <rightsHolder>subj_td</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_xv</subject>
      <permission>write</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="8" replicationAllowed="true">
    <preferredMemberNode>mn_lo</preferredMemberNode>
    <blockedMemberNode>mn_jx</blockedMemberNode>
  </replicationPolicy>
  <dateUploaded>2024-05-18T05:36:37.263706Z</dateUploaded>
  <dateSysMetadataModified>2024-05-28T05:36:37.263706Z</dateSysMetadataModified>
  <originMemberNode>mn_e</originMemberNode>
  <authoritativeMemberNode>mn_lw</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_ko</replicaMemberNode>
    <replicationStatus>queued</replicationStatus>
    <replicaVerified>2067-01-25T19:16:23.883838Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_y</replicaMemberNode>
    <replicationStatus>requested</replicationStatus>
    <replicaVerified>2034-06-18T08:07:11.036656Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_ph</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>2033-12-06T00:30:44.386123Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_va</replicaMemberNode>
    <replicationStatus>completed</replicationStatus>
    <replicaVerified>2057-11-21T14:27:07.624173Z</replicaVerified>
  </replica>
</ns1:systemMetadata>
