<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <serialVersion>54</serialVersion>
  <identifier>PID_eomsxomxrjwk</identifier>
  <formatId>application/mathematica</formatId>
  <size>271</size>
  <checksum algorithm="SHA-1">6833ddfa045845dab74d885ba13508a7c1a00217</checksum>
  <submitter>subj_rv</submitter>
  <rightsHolder>subj_dp</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj1</subject>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj2</subject>
      <subject>subj3</subject>
      <subject>subj4</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj10</subject>
      <subject>subj11</subject>
      <subject>subj12</subject>
      <subject>subj5</subject>
      <subject>subj6</subject>
      <subject>subj7</subject>
      <subject>subj8</subject>
      <subject>subj9</subject>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="0" replicationAllowed="false">
    <blockedMemberNode>mn_h</blockedMemberNode>
  </replicationPolicy>
  <obsoletedBy>PID_buqxyitgzycp</obsoletedBy>
  <archived>false</archived>
  <dateUploaded>2023-10-06T06:29:16</dateUploaded>
  <dateSysMetadataModified>1955-05-15T00:00:00</dateSysMetadataModified>
  <originMemberNode>mn_xc</originMemberNode>
  <authoritativeMemberNode>mn_r</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_fg</replicaMemberNode>
    <replicationStatus>completed</replicationStatus>
    <replicaVerified>2049-03-21T09:30:20.000282Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_w</replicaMemberNode>
    <replicationStatus>completed</replicationStatus>
    <replicaVerified>2055-10-24T05:53:50.000091Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_y</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>2096-11-01T12:06:50.00063Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_s</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>2281-08-12T11:31:24.000241Z</replicaVerified>
  </replica>
</ns1:systemMetadata>
