<?xml version="1.0" ?>
<ns1:accessPolicy xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <allow>
    <subject>subj_kv</subject>
    <subject>subj_bf</subject>
    <subject>subj_zo_group</subject>
    <permission>read</permission>
    <permission>changePermission</permission>
  </allow>
  <allow>
    <subject>subj_zt</subject>
    <subject>subj_bz</subject>
    <permission>write</permission>
    <permission>read</permission>
  </allow>
</ns1:accessPolicy>
