[({b'Content-Disposition': b'form-data; name="pid"'}, '1234'), ({b'Content-Disposition': b'form-data; name="sysmeta"; filename="sysmeta.xml"'}, '<?xml version="1.0" encoding="utf-8"?><ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1"><identifier>BAYXXX_015ADCP015R00_20051215.50.9</identifier><formatId>eml://ecoinformatics.org/eml-2.0.1</formatId><size>34543</size><checksum algorithm="MD5">884f1452814899d7ba988d187491f493</checksum><submitter>Dr. Libe Washburn</submitter><rightsHolder>Partnership for Interdisciplinary Studies of Coastal Oceans (PISCO)</rightsHolder><dateUploaded>2010-05-04T12:13:51Z</dateUploaded><dateSysMetadataModified>2010-05-04T15:13:51Z</dateSysMetadataModified><originMemberNode>r2d2</originMemberNode><authoritativeMemberNode>r2d2</authoritativeMemberNode></ns1:systemMetadata>'), ({b'Content-Disposition': b'form-data; name="object"; filename="content.bin"'}, 'BAYXXX_015ADCP015R00_20051215.50.9')]
