test msg:
  Subject: Roger Dahl A1779 / Google / US / cilogon / org
  Issuer: CILogon OpenID CA 1 / CILogon / US / cilogon / org
  Not Valid Before: 2016-10-25T02:37:42
  Not Valid After: 2016-10-25T20:42:42
  Subject Alt Names: roger.dahl.unm@gmail.com
  CRL Distribution Points:
  Authority Access Location: <not found>