<?xml version="1.0" encoding="utf-8"?>
<ns1:objectList count="15" start="612" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_afbrolljkmeu</identifier>
    <formatId>http://www.w3.org/TR/rdf-testcases/#ntriples</formatId>
    <checksum algorithm="SHA-1">b49bc449e6f3915a9505f6c04b3f45fdc9f944ff</checksum>
    <dateSysMetadataModified>2002-08-10T00:00:00Z</dateSysMetadataModified>
    <size>249</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_fkxqeabzalrx</identifier>
    <formatId>-//ecoinformatics.org//eml-literature-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">bbd9b63f9e4992195d27a60b1c180a5ef4fc96df</checksum>
    <dateSysMetadataModified>2002-08-07T00:00:00Z</dateSysMetadataModified>
    <size>276</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ziltsalbelfi</identifier>
    <formatId>-//ecoinformatics.org//eml-protocol-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">7abacea9be10e15a20202040ceaffec11b65f811</checksum>
    <dateSysMetadataModified>2002-08-02T18:40:39Z</dateSysMetadataModified>
    <size>256</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_xtfhevecbpvo</identifier>
    <formatId>http://www.cuahsi.org/waterML/1.0/</formatId>
    <checksum algorithm="SHA-1">ccb55d3adc7daab54d12f8aa48511a9eba751000</checksum>
    <dateSysMetadataModified>2002-07-31T00:00:00Z</dateSysMetadataModified>
    <size>240</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ddmwazesbngx</identifier>
    <formatId>-//ecoinformatics.org//eml-resource-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">746ce33a22134eff6ffcacdd994d30449694d44a</checksum>
    <dateSysMetadataModified>2002-07-26T00:00:00Z</dateSysMetadataModified>
    <size>264</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_mmuehaqdpqla</identifier>
    <formatId>text/plain</formatId>
    <checksum algorithm="SHA-1">01f471b652b88f2fff614c8b5b2b05f326dd0d73</checksum>
    <dateSysMetadataModified>2002-07-23T00:00:00Z</dateSysMetadataModified>
    <size>255</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_clvoawnfgmob</identifier>
    <formatId>text/csv</formatId>
    <checksum algorithm="SHA-1">96c7491f7483747c5c10f53a9ed019e3fb088edd</checksum>
    <dateSysMetadataModified>2002-07-16T00:00:00Z</dateSysMetadataModified>
    <size>271</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_epguyibcziid</identifier>
    <formatId>application/rtf</formatId>
    <checksum algorithm="SHA-1">34d5e651db3fbcbf3235401aa916d81b6c2d40ea</checksum>
    <dateSysMetadataModified>2002-07-14T00:00:00Z</dateSysMetadataModified>
    <size>277</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_trwzyplyhtuh</identifier>
    <formatId>application/vnd.openxmlformats-officedocument.wordprocessingml.document</formatId>
    <checksum algorithm="SHA-1">f782a098e6b197d9e799bd370e675b52cc5ac4c8</checksum>
    <dateSysMetadataModified>2002-07-10T00:00:00Z</dateSysMetadataModified>
    <size>313</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_lvomykibqjeg</identifier>
    <formatId>image/gif</formatId>
    <checksum algorithm="SHA-1">ac77d07edab85402379959a7db75ab1e1e670407</checksum>
    <dateSysMetadataModified>2002-07-03T00:00:00Z</dateSysMetadataModified>
    <size>262</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_jxrthjcezpzm</identifier>
    <formatId>http://www.w3.org/TR/rdf-syntax-grammar</formatId>
    <checksum algorithm="SHA-1">e333c75fe0b0af0351ba779e6b880393db8b3a98</checksum>
    <dateSysMetadataModified>2002-06-27T00:00:00Z</dateSysMetadataModified>
    <size>272</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_sawpxluhrvhh</identifier>
    <formatId>http://purl.org/dryad/terms/</formatId>
    <checksum algorithm="SHA-1">ddb88cdc63893e447183facf9981f4b4a77688b0</checksum>
    <dateSysMetadataModified>2002-06-25T09:43:51Z</dateSysMetadataModified>
    <size>256</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_yktnsbgpucrc</identifier>
    <formatId>application/rtf</formatId>
    <checksum algorithm="SHA-1">e12416e43a6da79b88090a772114dcc9ea55742b</checksum>
    <dateSysMetadataModified>2002-06-19T00:00:00Z</dateSysMetadataModified>
    <size>298</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_dpwuekzfnhla</identifier>
    <formatId>http://www.w3.org/TR/rdf-syntax-grammar</formatId>
    <checksum algorithm="SHA-1">88102aee333f955b4859243cbf13d3bb5e4cebae</checksum>
    <dateSysMetadataModified>2002-06-14T00:00:00Z</dateSysMetadataModified>
    <size>231</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_oyzsgvypdpja</identifier>
    <formatId>CF-1.1</formatId>
    <checksum algorithm="SHA-1">9a2e20e994670a98f6c772e2e5443a51af7e3424</checksum>
    <dateSysMetadataModified>2002-06-10T00:00:00Z</dateSysMetadataModified>
    <size>251</size>
  </objectInfo>
</ns1:objectList>
