[
  "subj_vi_read_changePermission_", 
  "subj_vz_read_changePermission_", 
  "subj_bi_read_changePermission_", 
  "subj_pm_read_changePermission_", 
  "subj_nw_read_changePermission_", 
  "subj_ww_read_changePermission_", 
  "subj_kw_read_changePermission_", 
  "subj_lc_read_changePermission_", 
  "subj_zm_read_changePermission_", 
  "subj_me_read_changePermission_", 
  "subj_bq_read_changePermission_", 
  "subj_zb_read_changePermission_", 
  "subj_mh_read_changePermission_", 
  "subj_sx_read_changePermission_", 
  "subj_jn_read_changePermission_", 
  "subj_xw_read_changePermission_", 
  "subj_rp_read_changePermission_", 
  "subj_vy_read_changePermission_", 
  "subj_qt_group_read_changePermission_", 
  "subj_mt_read_changePermission_", 
  "subj_xw_read_changePermission_", 
  "subj_ps_read_changePermission_", 
  "subj_zy_read_changePermission_", 
  "subj_sy_read_changePermission_", 
  "subj_nw_read_changePermission_", 
  "subj_yf_read_changePermission_", 
  "subj_js_read_changePermission_", 
  "subj_re_read_changePermission_", 
  "subj_el_read_changePermission_", 
  "subj_pi_read_changePermission_", 
  "subj_yv_read_changePermission_", 
  "subj_ew_read_changePermission_", 
  "subj_zd_group_read_changePermission_", 
  "subj_cl_read_changePermission_", 
  "subj_vx_read_changePermission_", 
  "subj_hz_read_changePermission_", 
  "subj_mf_read_changePermission_", 
  "subj_np_read_changePermission_", 
  "subj_ku_read_changePermission_", 
  "subj_xw_read_changePermission_", 
  "subj_od_read_changePermission_", 
  "subj_qy_read_changePermission_", 
  "subj_tf_read_changePermission_", 
  "subj_pi_read_changePermission_", 
  "subj_yd_read_changePermission_", 
  "subj_me_group_read_changePermission_", 
  "subj_kb_read_changePermission_", 
  "subj_cb_read_changePermission_", 
  "subj_el_read_changePermission_", 
  "subj_tw_read_changePermission_", 
  "subj_db_read_changePermission_", 
  "subj_fz_read_changePermission_", 
  "subj_nw_read_changePermission_", 
  "subj_la_read_changePermission_", 
  "subj_vp_read_changePermission_", 
  "subj_jo_group_read_changePermission_", 
  "subj_uk_read_changePermission_", 
  "subj_pw_read_changePermission_", 
  "subj_pm_read_changePermission_", 
  "subj_tv_read_changePermission_", 
  "subj_uc_read_changePermission_", 
  "subj_aa_read_changePermission_", 
  "subj_iy_read_changePermission_", 
  "subj_ie_read_changePermission_", 
  "subj_ei_read_changePermission_", 
  "subj_vn_read_changePermission_", 
  "subj_je_read_changePermission_", 
  "subj_fu_read_changePermission_", 
  "subj_bx_group_read_changePermission_", 
  "subj_yr_read_changePermission_", 
  "subj_bk_read_changePermission_", 
  "subj_qg_group_read_changePermission_", 
  "subj_qz_read_changePermission_", 
  "subj_zz_read_changePermission_", 
  "subj_xe_group_read_changePermission_", 
  "subj_ey_read_changePermission_", 
  "subj_rv_read_changePermission_", 
  "subj_un_read_changePermission_", 
  "subj_mu_group_read_changePermission_", 
  "subj_pd_read_changePermission_", 
  "subj_nc_read_changePermission_"
]
