[
  413,
  {
    "Content-Type": "text/xml"
  },
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><error detailCode=\"0\" errorCode=\"413\"
name=\"InsufficientResources\"><description></description></error>"
]