<?xml version="1.0" ?>
<ns1:objectList count="10" start="990" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_hkxbnrwuldol</identifier>
    <formatId>CF-1.0</formatId>
    <checksum algorithm="SHA-1">18e9341d44a4b7a523f58f1ef7ac13793eb2993f</checksum>
    <dateSysMetadataModified>2069-01-27T06:36:38Z</dateSysMetadataModified>
    <size>312</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_zwvgtcwwigfw</identifier>
    <formatId>netCDF-3</formatId>
    <checksum algorithm="SHA-1">af4a050706713fa12522147fa500dca68027c860</checksum>
    <dateSysMetadataModified>2069-02-01T15:23:40Z</dateSysMetadataModified>
    <size>288</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_wzrxljzxjleb</identifier>
    <formatId>audio/x-wav</formatId>
    <checksum algorithm="SHA-1">00e360067ad566e781af638cd57c1f4e75467b30</checksum>
    <dateSysMetadataModified>2069-02-10T14:50:10Z</dateSysMetadataModified>
    <size>317</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ccealflmhqcd</identifier>
    <formatId>application/x-bzip2</formatId>
    <checksum algorithm="SHA-1">c337424d6f4be17cec632440dfbc94f05f0e30a5</checksum>
    <dateSysMetadataModified>2069-03-20T07:02:24Z</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_crgmajyrgiga</identifier>
    <formatId>text/n3</formatId>
    <checksum algorithm="SHA-1">0f3e63043987fc01b8d25b2a2d61352ef9c6a7b9</checksum>
    <dateSysMetadataModified>2069-05-28T07:59:15Z</dateSysMetadataModified>
    <size>304</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_nlqafnlpaftw</identifier>
    <formatId>application/x-tar</formatId>
    <checksum algorithm="SHA-1">954c05916cc061dea597caa90d1c193a63746ef5</checksum>
    <dateSysMetadataModified>2069-05-28T20:42:28Z</dateSysMetadataModified>
    <size>296</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_frdpwbtwbvpx</identifier>
    <formatId>application/zip</formatId>
    <checksum algorithm="SHA-1">7bf38ecbbd9c065954feb023b6247737285b0fc0</checksum>
    <dateSysMetadataModified>2069-06-19T10:20:24Z</dateSysMetadataModified>
    <size>278</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_yvwxhmtzesrh</identifier>
    <formatId>application/x-fasta</formatId>
    <checksum algorithm="SHA-1">47057b288cdc87a0442b2b17a5176d517f0b102b</checksum>
    <dateSysMetadataModified>2069-07-04T14:00:28Z</dateSysMetadataModified>
    <size>271</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_lclohmcdbiao</identifier>
    <formatId>application/x-rar-compressed</formatId>
    <checksum algorithm="SHA-1">287651b4bc57c968f6fcc21bc9f832ec8af67915</checksum>
    <dateSysMetadataModified>2069-08-30T13:58:09Z</dateSysMetadataModified>
    <size>316</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_iyvpmmumystl</identifier>
    <formatId>nexus/1997</formatId>
    <checksum algorithm="SHA-1">6f026cc94280e592a9ee524a65c1a605d317a0a3</checksum>
    <dateSysMetadataModified>2069-10-16T18:02:16Z</dateSysMetadataModified>
    <size>277</size>
  </objectInfo>
</ns1:objectList>