[
  "text/csv",
  "application/octet-stream",
  "netCDF-4",
  "video/avi",
  "application/SAS",
  "application/vnd.ms-excel.sheet.binary.macroEnabled.12",
  "audio/x-wav",
  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
  "netCDF-3",
  "audio/mpeg"
]
