<?xml version="1.0" encoding="utf-8"?>
<ns1:log count="10" start="0" total="242" xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_qqjoxrhyeiss</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2069-11-08T06:36:17</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_wixszxxkrvhr</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2069-09-15T03:59:26</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_okhieaucsnoy</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2068-07-29T22:57:12</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_elzuxalzchad</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2067-11-11T05:02:44</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_jdxzdobdkbek</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2067-08-10T01:22:09</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_irzfdbinydnu</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2065-09-21T17:46:31</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_ggptuoicozdy</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2065-05-01T13:06:41</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_btdwdmgaubzz</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2065-01-03T10:46:40</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_brgvbqxthogi</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2064-11-10T01:36:04</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_ebxudojansdt</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2064-07-30T22:24:02</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
</ns1:log>
