[
  [
    "eml://ecoinformatics.org/eml-2.1.1", 
    "eml://ecoinformatics.org/eml-2.1.1", 
    1201, 
    "formatId:\"eml\\://ecoinformatics.org/eml\\-2.1.1\""
  ], 
  [
    "http://datadryad.org/profile/v3.1", 
    "http://datadryad.org/profile/v3.1", 
    917, 
    "formatId:\"http\\://datadryad.org/profile/v3.1\""
  ], 
  [
    "eml://ecoinformatics.org/eml-2.1.0", 
    "eml://ecoinformatics.org/eml-2.1.0", 
    642, 
    "formatId:\"eml\\://ecoinformatics.org/eml\\-2.1.0\""
  ], 
  [
    "http://www.isotc211.org/2005/gmd-noaa", 
    "http://www.isotc211.org/2005/gmd-noaa", 
    286, 
    "formatId:\"http\\://www.isotc211.org/2005/gmd\\-noaa\""
  ], 
  [
    "FGDC-STD-001.1-1999", 
    "FGDC-STD-001.1-1999", 
    141, 
    "formatId:\"FGDC\\-STD\\-001.1\\-1999\""
  ], 
  [
    "eml://ecoinformatics.org/eml-2.0.1", 
    "eml://ecoinformatics.org/eml-2.0.1", 
    127, 
    "formatId:\"eml\\://ecoinformatics.org/eml\\-2.0.1\""
  ], 
  [
    "http://www.isotc211.org/2005/gmd", 
    "http://www.isotc211.org/2005/gmd", 
    35, 
    "formatId:\"http\\://www.isotc211.org/2005/gmd\""
  ], 
  [
    "http://ns.dataone.org/metadata/schema/onedcx/v1.0", 
    "http://ns.dataone.org/metadata/schema/onedcx/v1.0", 
    14, 
    "formatId:\"http\\://ns.dataone.org/metadata/schema/onedcx/v1.0\""
  ], 
  [
    "FGDC-STD-001-1998", 
    "FGDC-STD-001-1998", 
    8, 
    "formatId:\"FGDC\\-STD\\-001\\-1998\""
  ], 
  [
    "eml://ecoinformatics.org/eml-2.0.0", 
    "http://purl.org/ornl/schema/mercury/terms/v1.0", 
    3228, 
    "formatId:[\"eml\\://ecoinformatics.org/eml\\-2.0.0\" TO *]"
  ]
]
