[
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:subject xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">wuffbe</ns1:subject>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:subject xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">qubzam</ns1:subject>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:subject xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">ftxsbeg</ns1:subject>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:subject xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">oevjeaosad</ns1:subject>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:subject xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">qumjqpv</ns1:subject>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:subject xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">lfdwvcz</ns1:subject>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:subject xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">bskez</ns1:subject>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:subject xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">afhrxez</ns1:subject>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:subject xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">wruuj</ns1:subject>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:subject xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">chzok</ns1:subject>"
]