<?xml version="1.0" ?>
<ns1:objectList count="15" start="612" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_jnbzyogsdv_1978-09-24_00:00:00</identifier>
    <formatId>application/octet-stream</formatId>
    <checksum algorithm="SHA-1">7e1180615b2e6d998fd3f4ec0a486dab04eb2b69</checksum>
    <dateSysMetadataModified>2120-11-06T20:37:06</dateSysMetadataModified>
    <size>290</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_wgqgrrjhhn_1978-06-19_00:00:00</identifier>
    <formatId>application/rtf</formatId>
    <checksum algorithm="SHA-1">fd7055ddf7a3e20db9abf7b1f942752a1f44c3ea</checksum>
    <dateSysMetadataModified>2121-11-20T10:49:51</dateSysMetadataModified>
    <size>268</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_ayyjllcbkv_1979-01-03_00:00:00</identifier>
    <formatId>FGDC-STD-001-1998</formatId>
    <checksum algorithm="SHA-1">3fbe3932c719fd050bc15263c171c95ceea41089</checksum>
    <dateSysMetadataModified>2122-01-11T09:39:34</dateSysMetadataModified>
    <size>263</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_vtehbyjcua_1979-07-18_00:00:00</identifier>
    <formatId>netCDF-4</formatId>
    <checksum algorithm="SHA-1">fa50ae15f16420195f5966cdf691bf2f5bebdc95</checksum>
    <dateSysMetadataModified>2122-06-29T20:26:35</dateSysMetadataModified>
    <size>239</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_xluoibrqfs_1979-06-16_00:00:00</identifier>
    <formatId>application/R</formatId>
    <checksum algorithm="SHA-1">567a692d7a2b49ef9b64eb0e6ec9db3541b0f238</checksum>
    <dateSysMetadataModified>2122-10-12T20:14:06</dateSysMetadataModified>
    <size>306</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_ahvbwnaqoe_1978-05-23_00:00:00</identifier>
    <formatId>INCITS-453-2009</formatId>
    <checksum algorithm="SHA-1">030a420aba44764be21efa194582819c35e96045</checksum>
    <dateSysMetadataModified>2122-11-05T03:09:38</dateSysMetadataModified>
    <size>312</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_yrtomjeikn_1978-05-29_00:00:00</identifier>
    <formatId>FGDC-STD-001.1-1999</formatId>
    <checksum algorithm="SHA-1">6b5d00d3b81ce5c83b85abafef0c4b1bccbe644e</checksum>
    <dateSysMetadataModified>2123-04-04T18:33:43</dateSysMetadataModified>
    <size>269</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_mttucifukq_1979-02-17_00:00:00</identifier>
    <formatId>application/bagit-097</formatId>
    <checksum algorithm="SHA-1">11d4a43ccf409b5f11d34a1a6715df46e0ed93d8</checksum>
    <dateSysMetadataModified>2123-04-18T20:17:55</dateSysMetadataModified>
    <size>262</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_pddxthtnbt_1979-10-10_00:00:00</identifier>
    <formatId>http://datacite.org/schema/kernel-3.0</formatId>
    <checksum algorithm="SHA-1">1d47ed0504656f21f01fe7573858b3943c70de2d</checksum>
    <dateSysMetadataModified>2123-06-25T13:22:14</dateSysMetadataModified>
    <size>272</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_npaqlumabf_1978-05-25_00:00:00</identifier>
    <formatId>-//ecoinformatics.org//eml-project-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">0f86c75513ed7921beb5d81b55bba7d7e0729f40</checksum>
    <dateSysMetadataModified>2124-05-08T02:58:05</dateSysMetadataModified>
    <size>295</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_ktjqauyjag_1979-02-13_00:00:00</identifier>
    <formatId>INCITS-453-2009</formatId>
    <checksum algorithm="SHA-1">5f00bf3e2c0aaa0af26b075780009ff3a88f10fa</checksum>
    <dateSysMetadataModified>2124-11-15T07:22:25</dateSysMetadataModified>
    <size>329</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_vhbeirirzm_1979-12-17_00:00:00</identifier>
    <formatId>eml://ecoinformatics.org/eml-2.0.1</formatId>
    <checksum algorithm="SHA-1">076517cd75510ae7819dbf4efe401a22c9bdc8b8</checksum>
    <dateSysMetadataModified>2125-04-18T09:06:42</dateSysMetadataModified>
    <size>271</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_gggwbyhdeb_1980-03-06_00:00:00</identifier>
    <formatId>-//ecoinformatics.org//eml-protocol-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">c75db320a55123daee123e1d49f429052fe00e33</checksum>
    <dateSysMetadataModified>2125-07-10T10:35:35</dateSysMetadataModified>
    <size>289</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_wrmybdamps_1978-03-21_00:00:00</identifier>
    <formatId>netCDF-4</formatId>
    <checksum algorithm="SHA-1">ccdc281dc309e9c8d9b1707bbaf50100cef9cdaa</checksum>
    <dateSysMetadataModified>2125-09-08T00:30:39</dateSysMetadataModified>
    <size>241</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_agjhfnlbcg_1978-08-18_00:00:00</identifier>
    <formatId>-//ecoinformatics.org//eml-project-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">5b06c5c6f9662f76a079bdf400c40403c21336bf</checksum>
    <dateSysMetadataModified>2126-01-22T21:54:05</dateSysMetadataModified>
    <size>312</size>
  </objectInfo>
</ns1:objectList>
