  <?xml version="1.0" encoding="utf-8"?>
  <ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
    <serialVersion>38</serialVersion>
    <identifier>PID_eudvrgeivqjd</identifier>
    <formatId>audio/mpeg</formatId>
    <size>255</size>
    <checksum algorithm="SHA-1">3c80cdbdcae02ca7e72d3724072c2e42273b1ac5</checksum>
    <submitter>subj_h</submitter>
    <rightsHolder>subj_d</rightsHolder>
    <accessPolicy>
      <allow>
        <subject>subj1</subject>
        <permission>read</permission>
      </allow>
      <allow>
+       <subject>subj2</subject>
+       <subject>subj3</subject>
        <subject>subj4</subject>
-       <subject>subj3</subject>
-       <subject>subj2</subject>
-       <permission>read</permission>
        <permission>write</permission>
      </allow>
      <allow>
+       <subject>subj10</subject>
+       <subject>subj11</subject>
+       <subject>subj12</subject>
        <subject>subj5</subject>
+       <subject>subj6</subject>
        <subject>subj7</subject>
-       <subject>subj6</subject>
        <subject>subj8</subject>
-       <permission>read</permission>
-       <permission>changePermission</permission>
-     </allow>
-     <allow>
-       <subject>subj11</subject>
        <subject>subj9</subject>
-       <subject>subj10</subject>
-       <subject>subj12</subject>
        <permission>changePermission</permission>
      </allow>
    </accessPolicy>
    <replicationPolicy numberReplicas="8" replicationAllowed="true">
      <preferredMemberNode>mn_a</preferredMemberNode>
+     <blockedMemberNode>mn_fj</blockedMemberNode>
+     <blockedMemberNode>mn_g</blockedMemberNode>
      <blockedMemberNode>mn_rp</blockedMemberNode>
      <blockedMemberNode>mn_vv</blockedMemberNode>
-     <blockedMemberNode>mn_g</blockedMemberNode>
-     <blockedMemberNode>mn_fj</blockedMemberNode>
    </replicationPolicy>
+   <archived>false</archived>
    <dateUploaded>2007-11-30T21:48:29.078665Z</dateUploaded>
    <dateSysMetadataModified>2007-12-10T21:48:29.078665Z</dateSysMetadataModified>
    <originMemberNode>mn_na</originMemberNode>
    <authoritativeMemberNode>mn_h</authoritativeMemberNode>
    <replica>
+     <replicaMemberNode>mn_ep</replicaMemberNode>
+     <replicationStatus>completed</replicationStatus>
+     <replicaVerified>2012-03-23T19:27:09.546179Z</replicaVerified>
+   </replica>
+   <replica>
      <replicaMemberNode>mn_jg</replicaMemberNode>
      <replicationStatus>queued</replicationStatus>
      <replicaVerified>2058-11-02T02:31:45.521857Z</replicaVerified>
    </replica>
-   <replica>
-     <replicaMemberNode>mn_ep</replicaMemberNode>
-     <replicationStatus>completed</replicationStatus>
-     <replicaVerified>2012-03-23T19:27:09.546179Z</replicaVerified>
-   </replica>
  </ns1:systemMetadata>
