"<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:replica xmlns:ns1=\"http://ns.dataone.org/service/types/v1\"><replicaMemberNode>mn_mi</replicaMemberNode><replicationStatus>queued</replicationStatus><replicaVerified>1980-10-01T04:16:43.000731Z</replicaVerified></ns1:replica><?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:replica xmlns:ns1=\"http://ns.dataone.org/service/types/v1\"><replicaMemberNode>mn_tq</replicaMemberNode><replicationStatus>queued</replicationStatus><replicaVerified>2255-04-07T21:08:31.000303Z</replicaVerified></ns1:replica>"
