BINARY-BYTES-AS-UTF-8:These are the reproducible Science Object bytes for pid="test_pid_1". What follows is 100 to 200 random
bytes: =lmcQW%,EY

=G!

y#LVkeo]+}0Xy+dTCBRm޶;qg^&`}XPL|qa58B5YM[.q

tBy(~_U4     ?eHEޮ6OOw

BINARY-BYTES-AS-
BASE64:VGhlc2UgYXJlIHRoZSByZXByb2R1Y2libGUgU2NpZW5jZSBPYmplY3QgYnl0ZXMgZm9yIHBpZD0idGVzdF9waWRfMSIuIFdoYXQgZm9sbG93cyBpcyAxMDAgdG8gMjAwIHJhbmRvbSBieXRlczogPWzgbWMbUZxX0OolLEUWplmpmws97EchDXl/ErG9m7L7+KUVEojE+CPMTOHQVmv/ZbiQ7RL6tckaDpBvhh9doit9MBPvFli3eZz3+Stkq1SYGkPqQlJt3rY7cWeryl4mYMvmfVhQTOPWfBXPcQikqGG1NfTSOBCFQuS3NYbyBVlNmMtb5LsuovaXmRT03XEdm3RCefX3KJN+qV/OVcIbGMoHNAmhP2WSf5tIRd6uNqdP/9XsT793