  <?xml version="1.0" encoding="utf-8"?>
  <ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
    <serialVersion>34</serialVersion>
    <identifier>PID_kjcabbpycbla</identifier>
    <formatId>application/pdf</formatId>
    <size>250</size>
    <checksum algorithm="SHA-1">a1628208290deb09a678fc375beae826443a6afb</checksum>
    <submitter>subj_vb</submitter>
    <rightsHolder>subj_eu</rightsHolder>
    <accessPolicy>
      <allow>
        <subject>subj1</subject>
        <permission>read</permission>
      </allow>
      <allow>
+       <subject>subj2</subject>
+       <subject>subj3</subject>
        <subject>subj4</subject>
-       <subject>subj3</subject>
-       <subject>subj2</subject>
-       <permission>read</permission>
        <permission>write</permission>
      </allow>
      <allow>
+       <subject>subj10</subject>
+       <subject>subj11</subject>
+       <subject>subj12</subject>
        <subject>subj5</subject>
+       <subject>subj6</subject>
        <subject>subj7</subject>
-       <subject>subj6</subject>
        <subject>subj8</subject>
-       <permission>read</permission>
-       <permission>changePermission</permission>
-     </allow>
-     <allow>
-       <subject>subj11</subject>
        <subject>subj9</subject>
-       <subject>subj10</subject>
-       <subject>subj12</subject>
        <permission>changePermission</permission>
      </allow>
    </accessPolicy>
    <replicationPolicy numberReplicas="0" replicationAllowed="false">
      <preferredMemberNode>mn_l</preferredMemberNode>
      <blockedMemberNode>mn_g</blockedMemberNode>
      <blockedMemberNode>mn_mn</blockedMemberNode>
    </replicationPolicy>
+   <archived>false</archived>
    <dateUploaded>2003-04-18T15:36:08.111426Z</dateUploaded>
    <dateSysMetadataModified>2003-04-28T15:36:08.111426Z</dateSysMetadataModified>
    <originMemberNode>mn_fu</originMemberNode>
    <authoritativeMemberNode>mn_f</authoritativeMemberNode>
    <replica>
      <replicaMemberNode>mn_ot</replicaMemberNode>
      <replicationStatus>failed</replicationStatus>
      <replicaVerified>1988-07-09T12:21:48.394336Z</replicaVerified>
    </replica>
    <seriesId>SID_oyvfbdjqidbp</seriesId>
    <fileName>file_otqngduoqlji</fileName>
  </ns1:systemMetadata>
