<?xml version="1.0" encoding="utf-8"?>
<ns1:objectList count="21" start="0" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_vhyupyuyynue</identifier>
    <formatId>application/x-gzip</formatId>
    <checksum algorithm="SHA-1">50c9a311d4c3141521edd8046dd67facca71e833</checksum>
    <dateSysMetadataModified>2069-11-22T10:04:34</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_zwnynpxifcso</identifier>
    <formatId>image/gif</formatId>
    <checksum algorithm="SHA-1">9324f4803cc4194d1bf11ff513239150ac9b4d07</checksum>
    <dateSysMetadataModified>2069-09-06T06:57:18</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_mooefnksgsed</identifier>
    <formatId>application/vnd.openxmlformats-officedocument.wordprocessingml.document</formatId>
    <checksum algorithm="SHA-1">fe146b973fe3dce712d5f90913f917627a99a3ff</checksum>
    <dateSysMetadataModified>2069-07-08T01:40:40</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ivsirfrbsign</identifier>
    <formatId>http://www.icpsr.umich.edu/DDI</formatId>
    <checksum algorithm="SHA-1">fe26ef00f6d58b2d8c1ab009b716f353aeffbffc</checksum>
    <dateSysMetadataModified>2069-06-18T03:56:28</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_qovowopypfqz</identifier>
    <formatId>application/vnd.google-earth.kml xml</formatId>
    <checksum algorithm="SHA-1">3149180100ce44ba66a6d82004d19fa8eaf585d5</checksum>
    <dateSysMetadataModified>2069-06-11T04:24:43</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_zzdibaczfixf</identifier>
    <formatId>netCDF-4</formatId>
    <checksum algorithm="SHA-1">a397d66a81637f4d12ec87b500a8b6da764a00ff</checksum>
    <dateSysMetadataModified>2069-05-17T22:17:02</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_kzugpqolupbj</identifier>
    <formatId>application/R</formatId>
    <checksum algorithm="SHA-1">24e877635bad8b4216c332779a156d4f6be6e66f</checksum>
    <dateSysMetadataModified>2069-05-01T06:29:18</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_nojknbkqpzmn</identifier>
    <formatId>-//ecoinformatics.org//eml-access-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">781d87e8d39af2c7120909a0ec8be092cae2091a</checksum>
    <dateSysMetadataModified>2069-04-25T22:36:37</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_mmvlhsqdchyp</identifier>
    <formatId>text/csv</formatId>
    <checksum algorithm="SHA-1">98b9416349ba9775246846dab22e3181c4f2a850</checksum>
    <dateSysMetadataModified>2069-04-21T06:57:56</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_jmhrlxmlmdeq</identifier>
    <formatId>text/plain</formatId>
    <checksum algorithm="SHA-1">c1905d786581a24bea3191eac75a586a8089e276</checksum>
    <dateSysMetadataModified>2069-03-11T02:04:58</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_marbhlcwxmid</identifier>
    <formatId>video/mpeg</formatId>
    <checksum algorithm="SHA-1">e5b41adba4f06877ec51f9490f951e48943f748b</checksum>
    <dateSysMetadataModified>2069-01-28T18:21:10</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_bvlrxvishnoe</identifier>
    <formatId>eml://ecoinformatics.org/eml-2.1.1</formatId>
    <checksum algorithm="SHA-1">dc619238275f094cbeebec5890733ab4c079bfe5</checksum>
    <dateSysMetadataModified>2068-12-14T15:14:53</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_hzvuiktedlje</identifier>
    <formatId>image/jp2</formatId>
    <checksum algorithm="SHA-1">b502643b949069151d2814f7341f2be71e7d72e7</checksum>
    <dateSysMetadataModified>2068-09-27T11:04:41</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_afhsrbvbjlva</identifier>
    <formatId>-//ecoinformatics.org//eml-resource-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">fd35d32413093ddbcec707b21e8102aff92524ee</checksum>
    <dateSysMetadataModified>2068-08-25T12:15:02</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_psrediyxtphf</identifier>
    <formatId>FGDC-STD-001.1-1999</formatId>
    <checksum algorithm="SHA-1">ade4490b1101b8b6f0070fe77fe3e62dde0b4b02</checksum>
    <dateSysMetadataModified>2068-06-07T09:10:30</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_pbdustnfvehi</identifier>
    <formatId>FGDC-STD-001-1998</formatId>
    <checksum algorithm="SHA-1">f7a9bf636bd82c335041572f3e9863297670a760</checksum>
    <dateSysMetadataModified>2068-04-27T14:15:59</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_olutclyiizpi</identifier>
    <formatId>image/svg xml</formatId>
    <checksum algorithm="SHA-1">8748df7604030ae8e14199c24a55518f0cdca875</checksum>
    <dateSysMetadataModified>2068-04-23T11:30:55</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_nvnwnhfuqoqs</identifier>
    <formatId>text/html</formatId>
    <checksum algorithm="SHA-1">615105ab3f1d091efeb3710d1bf67c228c2b2766</checksum>
    <dateSysMetadataModified>2068-04-06T06:05:41</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_dztzylbmghum</identifier>
    <formatId>eml://ecoinformatics.org/eml-2.0.0</formatId>
    <checksum algorithm="SHA-1">4246d0b6afe796455be4324948f6003ee5f2a8ce</checksum>
    <dateSysMetadataModified>2068-01-01T18:27:54</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_gslhbkbcqvsf</identifier>
    <formatId>-//ecoinformatics.org//eml-party-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">d3b4de6c5aec02858396afc6b8796b6b786b0e49</checksum>
    <dateSysMetadataModified>2067-11-20T20:20:20</dateSysMetadataModified>
    <size>322</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_cqergpksxprk</identifier>
    <formatId>image/tiff</formatId>
    <checksum algorithm="SHA-1">10c5ecd4fef3558bc43acc2ff9e95e4946046c70</checksum>
    <dateSysMetadataModified>2067-10-07T04:25:36</dateSysMetadataModified>
    <size>322</size>
  </objectInfo>
</ns1:objectList>
