[
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">yd</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">kw</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">fx</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">atgg</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">sapgcs</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">ohllxvfh</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">lzujxstno</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">swtricrldsk</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">pznsumqdt</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">cdugjzrywce</ns1:identifier>"
]