PyXB object:
  <?xml version="1.0" encoding="utf-8"?>
  <ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
    <serialVersion>34</serialVersion>
    <identifier>PID_kjcabbpycbla</identifier>
    <formatId>application/x-gzip</formatId>
    <size>250</size>
    <checksum algorithm="SHA-1">a1628208290deb09a678fc375beae826443a6afb</checksum>
    <submitter>subj_h</submitter>
    <rightsHolder>subj_ot</rightsHolder>
    <accessPolicy>
      <allow>
        <subject>subj_du</subject>
        <subject>subj_fj_group</subject>
        <subject>subj_lj</subject>
        <subject>subj_nb</subject>
        <subject>subj_tq</subject>
        <permission>read</permission>
      </allow>
      <allow>
        <subject>subj_kf</subject>
        <permission>write</permission>
      </allow>
      <allow>
        <subject>subj_xf</subject>
        <permission>changePermission</permission>
      </allow>
    </accessPolicy>
    <replicationPolicy numberReplicas="0" replicationAllowed="false">
      <blockedMemberNode>mn_oe</blockedMemberNode>
      <blockedMemberNode>mn_ta</blockedMemberNode>
      <blockedMemberNode>mn_yy</blockedMemberNode>
      <blockedMemberNode>mn_z</blockedMemberNode>
    </replicationPolicy>
    <archived>false</archived>
    <dateUploaded>2003-04-18T15:36:08</dateUploaded>
    <dateSysMetadataModified>2003-04-28T15:36:08</dateSysMetadataModified>
    <originMemberNode>mn_uu</originMemberNode>
    <authoritativeMemberNode>mn_jn</authoritativeMemberNode>
    <replica>
      <replicaMemberNode>mn_w</replicaMemberNode>
      <replicationStatus>queued</replicationStatus>
      <replicaVerified>2132-12-03T05:00:04.000191Z</replicaVerified>
    </replica>
  </ns1:systemMetadata>
PyXB object:
  <?xml version="1.0" encoding="utf-8"?>
  <ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
    <serialVersion>59</serialVersion>
    <identifier>PID_bixtbcchrkzz</identifier>
    <formatId>-//ecoinformatics.org//eml-constraint-2.0.0beta6//EN</formatId>
    <size>276</size>
    <checksum algorithm="SHA-1">d6cd77e7d4ed5727def6b2e8b8a7fdb56a9315df</checksum>
    <submitter>subj_wc</submitter>
    <rightsHolder>subj_i</rightsHolder>
    <accessPolicy>
      <allow>
        <subject>subj_fk</subject>
        <subject>subj_fm</subject>
        <subject>subj_hw</subject>
        <subject>subj_jl</subject>
        <subject>subj_ni</subject>
        <subject>subj_ov</subject>
        <subject>subj_rn</subject>
        <subject>subj_rw</subject>
        <subject>subj_xp_group</subject>
        <permission>write</permission>
      </allow>
      <allow>
        <subject>subj_ac</subject>
        <subject>subj_da</subject>
        <subject>subj_eq</subject>
        <subject>subj_gi_group</subject>
        <permission>changePermission</permission>
      </allow>
    </accessPolicy>
    <replicationPolicy numberReplicas="0" replicationAllowed="false">
      <blockedMemberNode>mn_j</blockedMemberNode>
      <blockedMemberNode>mn_oa</blockedMemberNode>
      <blockedMemberNode>mn_r</blockedMemberNode>
    </replicationPolicy>
    <archived>false</archived>
    <dateUploaded>2028-12-06T00:35:25</dateUploaded>
    <dateSysMetadataModified>2028-12-16T00:35:25</dateSysMetadataModified>
    <originMemberNode>mn_pn</originMemberNode>
    <authoritativeMemberNode>mn_g</authoritativeMemberNode>
    <replica>
      <replicaMemberNode>mn_an</replicaMemberNode>
      <replicationStatus>invalidated</replicationStatus>
      <replicaVerified>2006-09-25T21:27:43.00034Z</replicaVerified>
    </replica>
    <replica>
      <replicaMemberNode>mn_r</replicaMemberNode>
      <replicationStatus>failed</replicationStatus>
      <replicaVerified>2049-01-07T11:07:40.000893Z</replicaVerified>
    </replica>
    <replica>
      <replicaMemberNode>mn_ri</replicaMemberNode>
      <replicationStatus>completed</replicationStatus>
      <replicaVerified>2055-04-12T04:16:15.000907Z</replicaVerified>
    </replica>
    <replica>
      <replicaMemberNode>mn_dh</replicaMemberNode>
      <replicationStatus>completed</replicationStatus>
      <replicaVerified>2199-11-17T21:56:38.000943Z</replicaVerified>
    </replica>
  </ns1:systemMetadata>
PyXB object:
  <?xml version="1.0" encoding="utf-8"?>
  <ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
    <serialVersion>38</serialVersion>
    <identifier>PID_eudvrgeivqjd</identifier>
    <formatId>video/mpeg</formatId>
    <size>255</size>
    <checksum algorithm="SHA-1">3c80cdbdcae02ca7e72d3724072c2e42273b1ac5</checksum>
    <submitter>subj_h</submitter>
    <rightsHolder>subj_d</rightsHolder>
    <accessPolicy>
      <allow>
        <subject>subj_ag</subject>
        <subject>subj_az</subject>
        <subject>subj_bh</subject>
        <subject>subj_ce</subject>
        <subject>subj_dg</subject>
        <subject>subj_fa</subject>
        <subject>subj_nk</subject>
        <subject>subj_ns</subject>
        <subject>subj_rr</subject>
        <subject>subj_vw</subject>
        <permission>write</permission>
      </allow>
      <allow>
        <subject>subj_hs</subject>
        <subject>subj_ix</subject>
        <subject>subj_nu</subject>
        <subject>subj_oq</subject>
        <subject>subj_pk</subject>
        <subject>subj_sn</subject>
        <subject>subj_st</subject>
        <permission>changePermission</permission>
      </allow>
    </accessPolicy>
    <replicationPolicy numberReplicas="8" replicationAllowed="true">
      <preferredMemberNode>mn_a</preferredMemberNode>
      <blockedMemberNode>mn_fj</blockedMemberNode>
      <blockedMemberNode>mn_g</blockedMemberNode>
      <blockedMemberNode>mn_rp</blockedMemberNode>
      <blockedMemberNode>mn_vv</blockedMemberNode>
    </replicationPolicy>
    <archived>false</archived>
    <dateUploaded>2007-11-30T21:48:29</dateUploaded>
    <dateSysMetadataModified>2007-12-10T21:48:29</dateSysMetadataModified>
    <originMemberNode>mn_na</originMemberNode>
    <authoritativeMemberNode>mn_h</authoritativeMemberNode>
    <replica>
      <replicaMemberNode>mn_p</replicaMemberNode>
      <replicationStatus>completed</replicationStatus>
      <replicaVerified>2103-11-25T09:52:21.000226Z</replicaVerified>
    </replica>
    <replica>
      <replicaMemberNode>mn_jg</replicaMemberNode>
      <replicationStatus>queued</replicationStatus>
      <replicaVerified>2251-09-14T02:18:34.000774Z</replicaVerified>
    </replica>
  </ns1:systemMetadata>
