<?xml version="1.0" encoding="utf-8"?>
<ns1:objectList count="1" start="0" total="1" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_fvnfxpsmbcqs</identifier>
    <formatId>audio/x-ms-wma</formatId>
    <checksum algorithm="SHA-1">9f586fc009d6e92b95c43ace7f7db89f7813816a</checksum>
    <dateSysMetadataModified>2028-06-16T19:29:57</dateSysMetadataModified>
    <size>283</size>
  </objectInfo>
</ns1:objectList>
