  <?xml version="1.0" encoding="utf-8"?>
  <ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
    <serialVersion>59</serialVersion>
    <identifier>PID_bixtbcchrkzz</identifier>
    <formatId>http://www.w3.org/2005/Atom</formatId>
    <size>276</size>
    <checksum algorithm="SHA-1">d6cd77e7d4ed5727def6b2e8b8a7fdb56a9315df</checksum>
    <submitter>subj_q</submitter>
    <rightsHolder>subj_tw</rightsHolder>
    <accessPolicy>
      <allow>
        <subject>subj1</subject>
        <permission>read</permission>
      </allow>
      <allow>
+       <subject>subj2</subject>
+       <subject>subj3</subject>
        <subject>subj4</subject>
-       <subject>subj3</subject>
-       <subject>subj2</subject>
-       <permission>read</permission>
        <permission>write</permission>
      </allow>
      <allow>
+       <subject>subj10</subject>
+       <subject>subj11</subject>
+       <subject>subj12</subject>
        <subject>subj5</subject>
+       <subject>subj6</subject>
        <subject>subj7</subject>
-       <subject>subj6</subject>
        <subject>subj8</subject>
-       <permission>read</permission>
-       <permission>changePermission</permission>
-     </allow>
-     <allow>
-       <subject>subj11</subject>
        <subject>subj9</subject>
-       <subject>subj10</subject>
-       <subject>subj12</subject>
        <permission>changePermission</permission>
      </allow>
    </accessPolicy>
    <replicationPolicy numberReplicas="0" replicationAllowed="false">
      <preferredMemberNode>mn_m</preferredMemberNode>
      <preferredMemberNode>mn_yz</preferredMemberNode>
+     <blockedMemberNode>mn_hy</blockedMemberNode>
+     <blockedMemberNode>mn_i</blockedMemberNode>
+     <blockedMemberNode>mn_wc</blockedMemberNode>
      <blockedMemberNode>mn_wx</blockedMemberNode>
-     <blockedMemberNode>mn_i</blockedMemberNode>
-     <blockedMemberNode>mn_hy</blockedMemberNode>
-     <blockedMemberNode>mn_wc</blockedMemberNode>
    </replicationPolicy>
+   <archived>false</archived>
    <dateUploaded>2028-12-06T00:35:24.696889Z</dateUploaded>
    <dateSysMetadataModified>2028-12-16T00:35:24.696889Z</dateSysMetadataModified>
    <originMemberNode>mn_p</originMemberNode>
    <authoritativeMemberNode>mn_u</authoritativeMemberNode>
-   <replica>
-     <replicaMemberNode>mn_ac</replicaMemberNode>
-     <replicationStatus>completed</replicationStatus>
-     <replicaVerified>2019-01-21T08:32:08.379276Z</replicaVerified>
-   </replica>
    <replica>
      <replicaMemberNode>mn_a</replicaMemberNode>
      <replicationStatus>queued</replicationStatus>
      <replicaVerified>2006-04-13T17:20:36.986911Z</replicaVerified>
    </replica>
    <replica>
      <replicaMemberNode>mn_i</replicaMemberNode>
      <replicationStatus>queued</replicationStatus>
      <replicaVerified>2007-11-04T22:10:34.805679Z</replicaVerified>
    </replica>
+   <replica>
+     <replicaMemberNode>mn_ac</replicaMemberNode>
+     <replicationStatus>completed</replicationStatus>
+     <replicaVerified>2019-01-21T08:32:08.379276Z</replicaVerified>
+   </replica>
    <seriesId>SID_cqkaeewauixy</seriesId>
    <fileName>file_rocruyrwosov</fileName>
  </ns1:systemMetadata>
