[
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">yd</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">kwq</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">xeathggh</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">akgcssoh</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">llvfhvlzquj</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">stohswttri</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">rlskypzf</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">suqdtvcdkug</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">zrwcehccbuspyql</ns1:identifier>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:identifier xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">fsbquvfhnfpqakg</ns1:identifier>"
]
