<?xml version="1.0" encoding="utf-8"?>
<ns1:log count="10" start="3219" total="3229" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_wilsyurdmhgu</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-04-14T10:21:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_dnhbcbhxdvuw</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>1970-04-01T01:13:27</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_kmhaimtzrqxc</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-04-01T01:13:27</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_ouenstjzrxnb</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-03-14T16:09:04</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_raaafqfffmbc</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-02-01T18:39:43</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_ozbsmidkbgvp</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-01-30T17:26:47</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_axgaloaqgrkz</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-01-30T15:03:12</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_xraaemqbsqtw</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>1970-01-30T15:03:12</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_xjbojzdukdvb</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-01-21T17:51:30</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_yvyxzcigigjh</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-01-19T20:22:58</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
</ns1:log>
