<?xml version="1.0" ?>
<ns1:objectList count="10" start="990" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_bayklhlvgd_1978-01-26_00:00:00</identifier>
    <formatId>text/tsv</formatId>
    <checksum algorithm="SHA-1">67ca097c13bb872bd3e929c02c9f92040d0233bd</checksum>
    <dateSysMetadataModified>1974-05-21T01:47:41</dateSysMetadataModified>
    <size>246</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_esqjhaqcje_1977-10-12_00:00:00</identifier>
    <formatId>-//ecoinformatics.org//eml-physical-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">a29ba1b482c5e36b343f2d8cc2732265e6e3c222</checksum>
    <dateSysMetadataModified>1974-03-17T18:28:32</dateSysMetadataModified>
    <size>288</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_kpgigetzqu_1979-09-13_00:00:00</identifier>
    <formatId>CF-1.0</formatId>
    <checksum algorithm="SHA-1">1d55cfc85201c3af59cdd7f055938b02e8ccb02f</checksum>
    <dateSysMetadataModified>1973-06-04T23:08:30</dateSysMetadataModified>
    <size>320</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_foktxywpvx_1977-10-15_00:00:00</identifier>
    <formatId>-//ecoinformatics.org//eml-attribute-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">8b3406a9b78d4ac82cc74517b4a6b5fc01f387c1</checksum>
    <dateSysMetadataModified>1973-03-12T14:41:09</dateSysMetadataModified>
    <size>245</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_pytzxaexva_1979-06-25_00:00:00</identifier>
    <formatId>image/jpeg</formatId>
    <checksum algorithm="SHA-1">d8072a9fc36897ad000b82a9de92e7e280924746</checksum>
    <dateSysMetadataModified>1972-03-22T02:53:59</dateSysMetadataModified>
    <size>326</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_agdtqpzyqu_1978-10-28_00:00:00</identifier>
    <formatId>-//ecoinformatics.org//eml-resource-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">5a27c3a6ba53e10e31e40b35b756318a91b6f84e</checksum>
    <dateSysMetadataModified>1971-08-02T11:06:04</dateSysMetadataModified>
    <size>256</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_apgezasvif_1977-07-09_00:00:00</identifier>
    <formatId>video/mp4</formatId>
    <checksum algorithm="SHA-1">534619103a9200fad33d23696842451664438150</checksum>
    <dateSysMetadataModified>1971-04-23T16:59:44</dateSysMetadataModified>
    <size>329</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_hkvfymsebb_1980-03-15_00:00:00</identifier>
    <formatId>application/bagit-097</formatId>
    <checksum algorithm="SHA-1">d2e1f13a6c5347d8040fc121ab707614c9b7ad18</checksum>
    <dateSysMetadataModified>1970-07-21T23:04:05</dateSysMetadataModified>
    <size>241</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_hkbmleipbz_1978-11-15_00:00:00</identifier>
    <formatId>-//ecoinformatics.org//eml-project-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">d5a85c9e6c5c27247ffb27f45e5ef4728ddf00da</checksum>
    <dateSysMetadataModified>1970-06-19T18:14:52</dateSysMetadataModified>
    <size>282</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_zsuuolrthc_1980-01-28_00:00:00</identifier>
    <formatId>http://www.nexml.org/2009</formatId>
    <checksum algorithm="SHA-1">01090fb0c9ec12288c29920e32ae2f47936db63e</checksum>
    <dateSysMetadataModified>1970-01-26T01:42:34</dateSysMetadataModified>
    <size>306</size>
  </objectInfo>
</ns1:objectList>
