{
  "L1": {
    "1Y": "1",
    "2X": "2",
    "3Z": "3",
    "L2A": {
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4
    },
    "L2B": {
      "5": 5,
      "6": 6,
      "7": 7,
      "L3": {
        "A": "A@A",
        "B": "B#B",
        "C": "C$C"
      }
    }
  },
  "abc": "UV",
  "bcd": 21,
  "cde": "2018-07-06 05:04:03",
  "def": "KLM",
  "efgA": 123.4589767,
  "efgB": 234.56458,
  "efgC": 684.167,
  "fgh": "2019-08-07 06:05:04"
}