PID_jomzlqocuyoe	subj_yz=write,subj_ko=write,subj_g=changePermission
PID_ejsqkikutvdb	subj_eq=write,subj_wt=write,subj_td=write,subj_ql=changePermission
PID_jzeijlstaypy	subj_rh=changePermission,subj_ba=changePermission,subj_ox=changePermission,subj_xn=changePermission,subj_cw=read,subj_jc=read,subj_no=read,subj_tp_group=read,subj_xi=changePermission,subj_vi=changePermission,subj_pv=changePermission,subj_ok=changePermission,subj_oa=changePermission,subj_aw=read,subj_as=read,subj_ki=read,subj_id=read,subj_v=changePermission
PID_rqxqwrpsdigy	subj_om=write,subj_hs=write,subj_jp=write,subj_w=changePermission
PID_rwylagtkdwmo	subj_xu=changePermission,subj_sx=changePermission,subj_pp=write,subj_ar=write,subj_ti=read,subj_df=read,subj_wb=read,subj_ic=write,subj_be_group=write,subj_jj=write,subj_dk=write,subj_ni=write,subj_qb=write,subj_zz=changePermission
PID_wllnmmfaxerf	subj_r=changePermission
PID_ejupjrlpgnnu	subj_a=changePermission
PID_ailkdclklbea	subj_my=changePermission,subj_wp=changePermission,subj_aq=changePermission,subj_bs=write,subj_lq=write,subj_vm=write,subj_bm_group=write,subj_qe=write,subj_d=changePermission
PID_vbcfemorqckf	subj_co=write,subj_us=changePermission
PID_aqgqfqdbwwki	subj_cu=write,subj_ry=write,subj_jk=write,subj_jb=changePermission,subj_vn=changePermission,subj_rb=changePermission,subj_ov=changePermission,subj_gu=changePermission,subj_eb=changePermission,subj_bt_group=read,subj_st_group=read,subj_vo=read,subj_xt=read,subj_ps=read,subj_i=changePermission
