[
  "application/x-bzip2", 
  "application/R", 
  "-//ecoinformatics.org//eml-access-2.0.0beta4//EN", 
  "image/svg xml", 
  "application/x-bzip2", 
  "video/mpeg", 
  "image/gif", 
  "application/vnd.ms-excel.sheet.binary.macroEnabled.12", 
  "http://datadryad.org/profile/v3.1", 
  "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
]
