PyXB object:
  <?xml version="1.0" ?>
  <ns1:log count="1" start="0" total="459" xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
    <logEntry>
      <entryId>1129</entryId>
      <identifier>PID_qwzsrktbwh_1979-12-30_00:00:00</identifier>
      <ipAddress>127.0.0.1</ipAddress>
      <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
      <subject>disabled_auth_subj</subject>
      <event>create</event>
      <dateLogged>1979-12-30T00:00:00</dateLogged>
      <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
    </logEntry>
  </ns1:log>

PyXB object:
  <?xml version="1.0" ?>
  <ns1:log count="1" start="458" total="459" xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
    <logEntry>
      <entryId>671</entryId>
      <identifier>PID_vyofxcutey_1979-01-01_00:00:00</identifier>
      <ipAddress>127.0.0.1</ipAddress>
      <userAgent>pyd1/%s +http://dataone.org/2.3.0rc1</userAgent>
      <subject>disabled_auth_subj</subject>
      <event>create</event>
      <dateLogged>1979-01-01T00:00:00</dateLogged>
      <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
    </logEntry>
  </ns1:log>