[
  "<?xml version=\"1.0\" ?>
<ns1:replica xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">
  <replicaMemberNode>mn_qm</replicaMemberNode>
  <replicationStatus>invalidated</replicationStatus>
  <replicaVerified>2060-03-14T21:27:06.199878Z</replicaVerified>
</ns1:replica>",
  "<?xml version=\"1.0\" ?>
<ns1:replica xmlns:ns1=\"http://ns.dataone.org/service/types/v1\">
  <replicaMemberNode>mn_n</replicaMemberNode>
  <replicationStatus>failed</replicationStatus>
  <replicaVerified>1973-05-07T14:11:27.707166Z</replicaVerified>
</ns1:replica>"
]