<?xml version="1.0" encoding="utf-8"?>
<ns1:objectList count="21" start="0" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_ibckkebbvkwq</identifier>
    <formatId>audio/x-wav</formatId>
    <checksum algorithm="SHA-1">d037bde518591190497b48f9769192665fdbaccc</checksum>
    <dateSysMetadataModified>2069-11-11T00:00:16</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_wdozjzjkgaqt</identifier>
    <formatId>nexus/1997</formatId>
    <checksum algorithm="SHA-1">5337b87ac5856809a5fc5744f47aee646c3d3e74</checksum>
    <dateSysMetadataModified>2069-11-02T05:10:22</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ymzgadmgluox</identifier>
    <formatId>application/msword</formatId>
    <checksum algorithm="SHA-1">89607257cb53f4380a734ba6419d9c1e89c9dce0</checksum>
    <dateSysMetadataModified>2069-08-31T07:03:47</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_afzmhaupzztt</identifier>
    <formatId>eml://ecoinformatics.org/eml-2.1.0</formatId>
    <checksum algorithm="SHA-1">1b5a9dcbbac870a3bbf29bcc32ab66ab7cf17711</checksum>
    <dateSysMetadataModified>2069-08-01T01:37:28</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_lkdupxshxwfr</identifier>
    <formatId>-//ecoinformatics.org//eml-protocol-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">75d7989d85b0c12f6e19575e2c6e441cd7343ab3</checksum>
    <dateSysMetadataModified>2069-06-27T00:43:02</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_yuodqdvsrfmq</identifier>
    <formatId>-//ecoinformatics.org//eml-constraint-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">315332f02618b3d4611e211dad7be5a91e4994df</checksum>
    <dateSysMetadataModified>2069-06-25T16:36:12</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_rmdcwipngsvw</identifier>
    <formatId>text/plain</formatId>
    <checksum algorithm="SHA-1">538017c4e79685faeaf59f27542f6ef3d403647b</checksum>
    <dateSysMetadataModified>2069-06-17T04:27:07</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_wywlbtbfhtak</identifier>
    <formatId>http://www.isotc211.org/2005/gmd-noaa</formatId>
    <checksum algorithm="SHA-1">08b4703546386e262a93ef5c6e8745ed64e141e3</checksum>
    <dateSysMetadataModified>2069-04-06T05:24:33</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_byknujrsusbs</identifier>
    <formatId>http://www.loc.gov/METS/</formatId>
    <checksum algorithm="SHA-1">3dc751312330d8a036127708656eb117d457d6e3</checksum>
    <dateSysMetadataModified>2069-03-14T21:18:39</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_yiftklkyprjd</identifier>
    <formatId>text/xml</formatId>
    <checksum algorithm="SHA-1">78df09aeced292cebc39b594f4450d8e9d5d8306</checksum>
    <dateSysMetadataModified>2069-02-14T08:54:00</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_idomeopdxcxq</identifier>
    <formatId>application/rtf</formatId>
    <checksum algorithm="SHA-1">d17f9e11a945e60c57a45f1d0b59199124615fc4</checksum>
    <dateSysMetadataModified>2068-12-12T00:40:04</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_lnxnrzexuccj</identifier>
    <formatId>eml://ecoinformatics.org/eml-2.1.1</formatId>
    <checksum algorithm="SHA-1">7885e692834f74afa473652ea0d05b6baccf03d9</checksum>
    <dateSysMetadataModified>2068-12-02T21:40:22</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ufzjhxgzegte</identifier>
    <formatId>-//ecoinformatics.org//eml-coverage-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">5b56d5bcd99a049a32674ccef0cb59cce7ecb1bc</checksum>
    <dateSysMetadataModified>2068-11-30T11:42:48</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ejuupcrgvgtt</identifier>
    <formatId>image/jpeg</formatId>
    <checksum algorithm="SHA-1">5976f0fda7c66271a94aef60dedfe103fb560dd3</checksum>
    <dateSysMetadataModified>2068-11-15T07:06:43</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_hqokbijiswjw</identifier>
    <formatId>http://www.w3.org/TR/rdf-syntax-grammar</formatId>
    <checksum algorithm="SHA-1">8bc65316976657a82aaee0aa2da01a97dd7048a4</checksum>
    <dateSysMetadataModified>2068-08-21T23:36:34</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_vqwxkwgzhbnf</identifier>
    <formatId>eml://ecoinformatics.org/eml-2.0.0</formatId>
    <checksum algorithm="SHA-1">1ada14dee6d3aba1afe0021c5c6cbdeaeaf167b6</checksum>
    <dateSysMetadataModified>2068-07-08T09:23:07</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_lmwtwhebxaub</identifier>
    <formatId>-//ecoinformatics.org//eml-dataset-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">12f21c7b2fc20088be38bddd6bf5d64ccf29c25f</checksum>
    <dateSysMetadataModified>2068-05-21T02:14:45</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_wntzwhaondwy</identifier>
    <formatId>-//ecoinformatics.org//eml-dataset-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">20919b89d48cbeceb3873d2821d32b1ded8857c3</checksum>
    <dateSysMetadataModified>2068-05-07T22:58:53</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_gyhrpjmfzimb</identifier>
    <formatId>image/svg xml</formatId>
    <checksum algorithm="SHA-1">84e3b6390fe9061185ce6e67f278b226798e02a8</checksum>
    <dateSysMetadataModified>2068-03-21T10:55:58</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_exhijkulkfqa</identifier>
    <formatId>application/vnd.ms-excel</formatId>
    <checksum algorithm="SHA-1">4b3f51a281f7e8a7ac569f747d65b7a4da8e107d</checksum>
    <dateSysMetadataModified>2068-02-28T22:19:20</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_dxuqfqdopmyk</identifier>
    <formatId>-//ecoinformatics.org//eml-dataset-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">25917bab9fdf8d8b76c561b69d1db20a014a1efe</checksum>
    <dateSysMetadataModified>2068-02-04T23:22:46</dateSysMetadataModified>
    <size>323</size>
  </objectInfo>
</ns1:objectList>
