<?xml version="1.0" encoding="utf-8"?>
<ns1:accessPolicy xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <allow>
    <subject>subj_vi</subject>
    <subject>subj_vz</subject>
    <subject>subj_bi</subject>
    <subject>subj_pm</subject>
    <subject>subj_nw</subject>
    <permission>read</permission>
  </allow>
  <allow>
    <subject>subj_zk</subject>
    <subject>subj_al_group</subject>
    <subject>subj_bz</subject>
    <subject>subj_xm</subject>
    <subject>subj_cb</subject>
    <permission>changePermission</permission>
  </allow>
  <allow>
    <subject>subj_km</subject>
    <permission>changePermission</permission>
    <permission>write</permission>
  </allow>
  <allow>
    <subject>subj_uj</subject>
    <subject>subj_ux</subject>
    <subject>subj_kr</subject>
    <subject>subj_kv</subject>
    <subject>subj_mq</subject>
    <permission>changePermission</permission>
    <permission>write</permission>
  </allow>
  <allow>
    <subject>subj_xp</subject>
    <subject>subj_hl</subject>
    <subject>subj_sp</subject>
    <permission>changePermission</permission>
  </allow>
</ns1:accessPolicy>
