<?xml version="1.0" ?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>26</serialVersion>
  <identifier>PID_ccbhmjbdldmm</identifier>
  <formatId>http://www.nexml.org/2009</formatId>
  <size>3012</size>
  <checksum algorithm="SHA-1">765e797b097d17da3cd5e8ccfe33c004303fb7f5</checksum>
  <submitter>subj_p</submitter>
  <rightsHolder>subj_vc</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_fm</subject>
      <subject>subj_il</subject>
      <subject>subj_wo</subject>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj_bs</subject>
      <subject>subj_dk_group</subject>
      <subject>subj_fi_group</subject>
      <subject>subj_fl</subject>
      <subject>subj_xb</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj_jz</subject>
      <subject>subj_lr</subject>
      <subject>subj_ra_group</subject>
      <subject>subj_yw</subject>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="0" replicationAllowed="false">
    <preferredMemberNode>mn_e</preferredMemberNode>
    <preferredMemberNode>mn_h</preferredMemberNode>
    <preferredMemberNode>mn_ky</preferredMemberNode>
    <preferredMemberNode>mn_p</preferredMemberNode>
    <blockedMemberNode>mn_bj</blockedMemberNode>
    <blockedMemberNode>mn_iv</blockedMemberNode>
    <blockedMemberNode>mn_xp</blockedMemberNode>
  </replicationPolicy>
  <archived>false</archived>
  <dateUploaded>1999-09-25T23:10:12Z</dateUploaded>
  <dateSysMetadataModified>1999-10-05T23:10:12Z</dateSysMetadataModified>
  <originMemberNode>mn_lq</originMemberNode>
  <authoritativeMemberNode>mn_ld</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_mw</replicaMemberNode>
    <replicationStatus>completed</replicationStatus>
    <replicaVerified>1989-06-18T18:19:43Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_go</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>2014-02-10T07:45:40Z</replicaVerified>
  </replica>
  <fileName>file_bwrbnqfwmhwv</fileName>
</ns1:systemMetadata>