<?xml version="1.0" encoding="utf-8"?>
<ns1:objectList count="10" start="990" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_yfqdwujwgorg</identifier>
    <formatId>http://www.w3.org/2005/Atom</formatId>
    <checksum algorithm="SHA-1">88d92b3806695ffde2cb91736c3b98e886e25c7b</checksum>
    <dateSysMetadataModified>1971-09-12T07:41:39</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_lqrdfqazvklo</identifier>
    <formatId>http://www.w3.org/2005/Atom</formatId>
    <checksum algorithm="SHA-1">9ce7c7b27915e8f09593a26b814f08f593cf5c2d</checksum>
    <dateSysMetadataModified>1971-08-29T04:51:42</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ukgvgvlxqjsc</identifier>
    <formatId>-//ecoinformatics.org//eml-project-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">91ab5e3d7fba0c171a58624da89b1f6be2443f94</checksum>
    <dateSysMetadataModified>1971-08-18T12:43:49</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_khjijauqvyvd</identifier>
    <formatId>-//ecoinformatics.org//eml-resource-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">5a3d442f656400082cde4588d9080fdbcb5dd233</checksum>
    <dateSysMetadataModified>1971-06-15T08:21:49</dateSysMetadataModified>
    <size>225</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_wchmvwgdpduc</identifier>
    <formatId>-//ecoinformatics.org//eml-attribute-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">d298dc07f1f05ca1b14ca64502913bd6e95a6b19</checksum>
    <dateSysMetadataModified>1970-10-20T08:03:08</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_gatulxyfoysv</identifier>
    <formatId>application/pdf</formatId>
    <checksum algorithm="SHA-1">31384d01f926bd64b33b37f784c20a705b86220c</checksum>
    <dateSysMetadataModified>1970-10-10T23:09:39</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_snowmvemmccm</identifier>
    <formatId>eml://ecoinformatics.org/eml-2.0.0</formatId>
    <checksum algorithm="SHA-1">f706c50306a7d17470f4297c3f50cf9465d31a2d</checksum>
    <dateSysMetadataModified>1970-06-12T07:27:24</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_dsplpgotofuy</identifier>
    <formatId>text/csv</formatId>
    <checksum algorithm="SHA-1">85671b29e2c5d7351b28d193cb054a2f8157d485</checksum>
    <dateSysMetadataModified>1970-02-28T03:09:16</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_wppuuottmgsl</identifier>
    <formatId>-//ecoinformatics.org//eml-physical-2.0.0beta6//EN</formatId>
    <checksum algorithm="SHA-1">c1d7e7b9e20ba18e7e0cae45a9d5191207ded642</checksum>
    <dateSysMetadataModified>1970-02-24T19:55:12</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_ovhjundgzyef</identifier>
    <formatId>text/n3</formatId>
    <checksum algorithm="SHA-1">10276d508e1145771ac8df97e12bc7dd1b5d540d</checksum>
    <dateSysMetadataModified>1970-01-15T09:08:09</dateSysMetadataModified>
    <size>224</size>
  </objectInfo>
</ns1:objectList>
