PID_GMNFXT_aacedqxjqoqh	subj_xp=changePermission,subj_yn=write
PID_GMNFXT_aauqtaobyiur	subj_at=changePermission,subj_ie=changePermission,subj_im=changePermission,subj_in=changePermission,subj_ld=read,subj_ll=changePermission,subj_ob=read,subj_po=write,subj_rb_group=changePermission,subj_rj=changePermission,subj_st_group=write,subj_t=changePermission,subj_ub=write,subj_ws=write,subj_ws=changePermission
PID_GMNFXT_aauvdtrtqifx	subj_bo=write,subj_br=changePermission,subj_ga=changePermission,subj_ge=write,subj_gk=changePermission,subj_ji=changePermission,subj_jj=write,subj_lt=write,subj_me=write,subj_qi=changePermission,subj_qu_group=write,subj_ri=write,subj_ro=changePermission,subj_sg=changePermission,subj_uf=write,subj_uf=changePermission,subj_xu=changePermission
PID_GMNFXT_abcmxcwyjkdv	subj_dg=changePermission,subj_ls=changePermission,subj_nd=changePermission,subj_rk_group=changePermission,subj_tg=changePermission,subj_v=changePermission,subj_yh_group=write,subj_yt=changePermission,subj_zh=changePermission,subj_zw=write
PID_GMNFXT_acqgoegfbamg	subj_c=changePermission,subj_cl=changePermission,subj_em=write,subj_fu=write,subj_iu=changePermission,subj_rj=changePermission
PID_GMNFXT_acugqzwozdkb	subj_t=changePermission
PID_GMNFXT_acxgfvndsdfb	subj_aj=changePermission,subj_cc=write,subj_ee=write,subj_ip_group=changePermission,subj_kj=write,subj_ma=changePermission,subj_vv=changePermission,subj_yv=write
PID_GMNFXT_aeafsboxlucc	subj_hy=write,subj_ik=write,subj_ll_group=write,subj_lm=write,subj_sr=changePermission,subj_uj=write,subj_w=changePermission,subj_wx=write,subj_zy=write
PID_GMNFXT_aevbdxliddcy	subj_dn=read,subj_eg=changePermission,subj_er=write,subj_ew=changePermission,subj_fj=changePermission,subj_jm=write,subj_ls=changePermission,subj_rt=read,subj_sn=write,subj_ua=write,subj_uu=write,subj_vh=write,subj_wn=read,subj_xo=write
PID_GMNFXT_afhvhoahvwmx	subj_lw_group=changePermission,subj_pq=changePermission,subj_rt=changePermission,subj_vn=changePermission,subj_zt=changePermission
