<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>39</serialVersion>
  <identifier>test_pid</identifier>
  <formatId>image/jp2</formatId>
  <size>247</size>
  <checksum algorithm="SHA-1">c6be21e6c1764485898fb518fa4bffe6139f3e30</checksum>
  <submitter>subj_h</submitter>
  <rightsHolder>subj_hn</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_tg</subject>
      <subject>subj_lb_group</subject>
      <permission>changePermission</permission>
    </allow>
    <allow>
      <subject>subj_ea</subject>
      <subject>subj_ul</subject>
      <permission>read</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="7" replicationAllowed="true">
    <preferredMemberNode>mn_a</preferredMemberNode>
    <blockedMemberNode>mn_f</blockedMemberNode>
    <blockedMemberNode>mn_ck</blockedMemberNode>
  </replicationPolicy>
  <dateUploaded>2008-07-06T03:33:44.966355Z</dateUploaded>
  <dateSysMetadataModified>2008-07-16T03:33:44.966355Z</dateSysMetadataModified>
  <originMemberNode>mn_sx</originMemberNode>
  <authoritativeMemberNode>mn_h</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_wn</replicaMemberNode>
    <replicationStatus>queued</replicationStatus>
    <replicaVerified>1990-02-11T08:35:13.279Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_r</replicaMemberNode>
    <replicationStatus>invalidated</replicationStatus>
    <replicaVerified>2008-07-19T00:39:10.4755Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_gr</replicaMemberNode>
    <replicationStatus>queued</replicationStatus>
    <replicaVerified>2022-01-07T20:35:55.920583Z</replicaVerified>
  </replica>
  <mediaType name="media_type_tv">
    <property name="prop_evrpewnscayq">pdyoudlkoqgs</property>
    <property name="prop_lreckvecbudf">fpedhgxicfyf</property>
    <property name="prop_oldvsgwcgqny">zwwpjacbuovl</property>
    <property name="prop_mkyjckjoonwg">yvwvgylgymco</property>
  </mediaType>
  <fileName>file_yatghxlijjvq</fileName>
</ns1:systemMetadata>
