[
  [
    "application/mathematica",
    "application/mathematica",
    1,
    "formatId:[* TO \"application/mathematica\"]"
  ],
  [
    "application/octet-stream",
    "application/pdf",
    63,
    "formatId:[\"application/octet\\-stream\" TO \"application/pdf\"]"
  ],
  [
    "application/vnd.ms-excel",
    "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
    55,
    "formatId:[\"application/vnd.ms\\-excel\" TO \"application/vnd.openxmlformats\\-officedocument.spreadsheetml.sheet\"]"
  ],
  [
    "application/x-fasta",
    "application/x-gzip",
    33,
    "formatId:[\"application/x\\-fasta\" TO \"application/x\\-gzip\"]"
  ],
  [
    "application/x-tar",
    "application/zip",
    27,
    "formatId:[\"application/x\\-tar\" TO \"application/zip\"]"
  ],
  [
    "eml://ecoinformatics.org/eml-2.1.0",
    "eml://ecoinformatics.org/eml-2.1.0",
    3,
    "formatId:[\"eml\\://ecoinformatics.org/eml\\-2.1.0\" TO \"eml\\://ecoinformatics.org/eml\\-2.1.0\"]"
  ],
  [
    "eml://ecoinformatics.org/eml-2.1.1",
    "http://datadryad.org/profile/v3.1",
    725,
    "formatId:[\"eml\\://ecoinformatics.org/eml\\-2.1.1\" TO \"http\\://datadryad.org/profile/v3.1\"]"
  ],
  [
    "http://ns.dataone.org/metadata/schema/onedcx/v1.0",
    "http://www.isotc211.org/2005/gmd-noaa",
    60,
    "formatId:[\"http\\://ns.dataone.org/metadata/schema/onedcx/v1.0\" TO \"http\\://www.isotc211.org/2005/gmd\\-noaa\"]"
  ],
  [
    "http://www.openarchives.org/ore/terms",
    "text/csv",
    386,
    "formatId:[\"http\\://www.openarchives.org/ore/terms\" TO \"text/csv\"]"
  ],
  [
    "text/plain",
    "text/xml",
    35,
    "formatId:[\"text/plain\" TO *]"
  ]
]