<?xml version="1.0" encoding="utf-8"?>
<ns1:log count="15" start="2000" total="3237" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_xetoocxnxztf</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; rv:11.0) like Gecko</userAgent>
    <subject>subj_t</subject>
    <event>read</event>
    <dateLogged>2005-12-01T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_gqcbxdsgnwmt</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) Gecko/20100101 Firefox/54.0</userAgent>
    <subject>subj_g</subject>
    <event>read</event>
    <dateLogged>2005-11-30T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_kyxsmrxpkdpq</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36</userAgent>
    <subject>subj_jh</subject>
    <event>read</event>
    <dateLogged>2005-11-29T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_uqbobzbyrmuq</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36</userAgent>
    <subject>subj_n</subject>
    <event>read</event>
    <dateLogged>2005-11-28T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_wpurfpthlhti</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:53.0) Gecko/20100101 Firefox/53.0</userAgent>
    <subject>subj_gr</subject>
    <event>read</event>
    <dateLogged>2005-11-27T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_ouhatoqslvfv</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36 OPR/45.0.2552.888</userAgent>
    <subject>subj_ft</subject>
    <event>read</event>
    <dateLogged>2005-11-26T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_pixrwinysqkw</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36</userAgent>
    <subject>subj_dv</subject>
    <event>read</event>
    <dateLogged>2005-11-25T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_dhknojmqbtnc</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36</userAgent>
    <subject>subj_r</subject>
    <event>read</event>
    <dateLogged>2005-11-24T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_olvbugmhmsxd</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (X11; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0</userAgent>
    <subject>subj_p</subject>
    <event>read</event>
    <dateLogged>2005-11-23T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_xhkajttgpebd</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:53.0) Gecko/20100101 Firefox/53.0</userAgent>
    <subject>subj_gs</subject>
    <event>read</event>
    <dateLogged>2005-11-22T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_njoievyjcxcs</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36</userAgent>
    <subject>subj_w</subject>
    <event>read</event>
    <dateLogged>2005-11-21T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_ywftjiyyvsrq</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53.0) Gecko/20100101 Firefox/53.0</userAgent>
    <subject>subj_x</subject>
    <event>read</event>
    <dateLogged>2005-11-20T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_liuwrqlevjzo</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36</userAgent>
    <subject>subj_v</subject>
    <event>read</event>
    <dateLogged>2005-11-19T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_pxnskuqpflks</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14393</userAgent>
    <subject>subj_u</subject>
    <event>read</event>
    <dateLogged>2005-11-18T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_skvblikjhfvl</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36</userAgent>
    <subject>subj_ge</subject>
    <event>read</event>
    <dateLogged>2005-11-17T00:00:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
</ns1:log>
