[
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:person xmlns:ns1=\"http://ns.dataone.org/service/types/v1\"><subject>zubfvklli</subject><givenName>givenName_rb</givenName><givenName>givenName_bo</givenName><givenName>givenName_hz</givenName><familyName>familyName_zw</familyName><email>to@frky.dataone.org</email><isMemberOf>isMemberOf_ul</isMemberOf><equivalentIdentity>equivalentIdentity_vz</equivalentIdentity><equivalentIdentity>equivalentIdentity_hs</equivalentIdentity><verified>false</verified></ns1:person>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:person xmlns:ns1=\"http://ns.dataone.org/service/types/v1\"><subject>dqeye</subject><givenName>givenName_tm</givenName><familyName>familyName_kz</familyName><email>ti@tpuu.dataone.org</email><email>wj@dnri.dataone.org</email><email>ny@rmzr.dataone.org</email><isMemberOf>isMemberOf_kd</isMemberOf><isMemberOf>isMemberOf_ej</isMemberOf><equivalentIdentity>equivalentIdentity_pv</equivalentIdentity><verified>true</verified></ns1:person>", 
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:person xmlns:ns1=\"http://ns.dataone.org/service/types/v1\"><subject>kinry</subject><givenName>givenName_ny</givenName><familyName>familyName_bf</familyName><email>nq@maow.dataone.org</email><email>yu@yytp.dataone.org</email><email>gj@qpbf.dataone.org</email><isMemberOf>isMemberOf_lf</isMemberOf><equivalentIdentity>equivalentIdentity_ix</equivalentIdentity><equivalentIdentity>equivalentIdentity_tm</equivalentIdentity><verified>true</verified></ns1:person>"
]
