[
  "application/x-bzip2", 
  "application/R", 
  "-//ecoinformatics.org//eml-access-2.0.0beta4//EN", 
  "image/svg xml", 
  "application/x-bzip2", 
  "audio/mpeg", 
  "image/gif", 
  "application/vnd.ms-excel.sheet.binary.macroEnabled.12", 
  "http://purl.org/dryad/terms/", 
  "application/x-fasta"
]
