<?xml version="1.0" encoding="utf-8"?>
<add>
  <doc>
    <field name="id">PID_psbbhrxvadtj</field>
    <field name="seriesId">SID_gdjmsgzbdhik</field>
    <field name="fileName">file_jlgimuvlqqrr</field>
    <field name="mediaType">media_type_yf</field>
    <field name="mediaTypeProperty">prop_atbfqgdavkhc atiqxgemlbix</field>
    <field name="mediaTypeProperty">prop_aeupznkzkcgz vhxuyinyxczd</field>
    <field name="mediaTypeProperty">prop_nhywyfonbdbx lzuscdchhtvb</field>
    <field name="formatId">application/mathematica</field>
    <field name="formatType">DATA</field>
    <field name="size">270</field>
    <field name="checksum">dac2de2790d5259e3b0f777c09338dc9d57ef034</field>
    <field name="submitter">subj_ss</field>
    <field name="checksumAlgorithm">SHA-1</field>
    <field name="rightsHolder">subj_s</field>
    <field name="replicationAllowed">true</field>
    <field name="numberReplicas">4</field>
    <field name="preferredReplicationMN">mn_hb</field>
    <field name="preferredReplicationMN">mn_oz</field>
    <field name="blockedReplicationMN">mn_fp</field>
    <field name="blockedReplicationMN">mn_yu</field>
    <field name="blockedReplicationMN">mn_m</field>
    <field name="dateUploaded">2023-04-11T13:58:31.220Z</field>
    <field name="dateModified">2023-04-21T13:58:31.220Z</field>
    <field name="datasource">mn_ug</field>
    <field name="authoritativeMN">mn_n</field>
    <field name="replicaMN">mn_y</field>
    <field name="replicaMN">mn_hx</field>
    <field name="replicaVerifiedDate">2059-01-24T17:16:51.709Z</field>
    <field name="replicaVerifiedDate">2040-12-20T16:13:39.013Z</field>
    <field name="dataUrl">https://cn.dataone.org/cn/v2/resolve/PID_psbbhrxvadtj</field>
  </doc>
</add>
