{
  "Content-Length": "229", 
  "Content-Type": "application/octet-stream", 
  "DataONE-Checksum": "SHA-1,1d713c42113e21733f33d1be84fa18bcb2d6fa20", 
  "DataONE-FormatId": "image/jpeg", 
  "DataONE-SerialVersion": "3"
}
