[
  "oy@eqkd.dataone.org", 
  "tg@pcic.dataone.org", 
  "yt@yjln.dataone.org", 
  "yo@zaxu.dataone.org", 
  "ow@ooru.dataone.org", 
  "lg@goog.dataone.org", 
  "ap@yhvk.dataone.org", 
  "mj@yktc.dataone.org", 
  "ob@mjpz.dataone.org", 
  "au@bdui.dataone.org"
]
