<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>12</serialVersion>
  <identifier>object#0000</identifier>
  <formatId>application/vnd.ms-excel.sheet.binary.macroEnabled.12</formatId>
  <size>223</size>
  <checksum algorithm="SHA-1">8dbd04cb51725de25325d0e580f437251b67a049</checksum>
  <submitter>subj_ls</submitter>
  <rightsHolder>subj_nk</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_bu</subject>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj_nk</subject>
      <subject>subj_pq</subject>
      <subject>subj_az</subject>
      <subject>subj_lk</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj_kh_group</subject>
      <subject>subj_mp</subject>
      <subject>subj_ui</subject>
      <permission>write</permission>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="5" replicationAllowed="true">
    <preferredMemberNode>mn_xl</preferredMemberNode>
    <preferredMemberNode>mn_wi</preferredMemberNode>
    <preferredMemberNode>mn_x</preferredMemberNode>
    <preferredMemberNode>mn_tm</preferredMemberNode>
    <blockedMemberNode>mn_g</blockedMemberNode>
    <blockedMemberNode>mn_xp</blockedMemberNode>
  </replicationPolicy>
  <dateUploaded>1981-04-25T05:46:30.861414Z</dateUploaded>
  <dateSysMetadataModified>1981-05-05T05:46:30.861414Z</dateSysMetadataModified>
  <originMemberNode>mn_zq</originMemberNode>
  <authoritativeMemberNode>mn_go</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_ik</replicaMemberNode>
    <replicationStatus>requested</replicationStatus>
    <replicaVerified>2023-07-26T07:35:43.211737Z</replicaVerified>
  </replica>
  <mediaType name="media_type_dr">
    <property name="prop_vcavhstqnaer">xvavsmkfmurr</property>
    <property name="prop_ypylpjhrfppl">mrsbdnqennfe</property>
    <property name="prop_rqahthpyyifp">ybqsdftyufca</property>
  </mediaType>
  <fileName>file_zpzmdzsqjgtm</fileName>
</ns1:systemMetadata>

<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>71</serialVersion>
  <identifier>object#0001</identifier>
  <formatId>http://docs.annotatorjs.org/en/v1.2.x/annotation-format.html</formatId>
  <size>283</size>
  <checksum algorithm="SHA-1">f73a8d3cac9b9677cc9758615e9aef8ecf0dff78</checksum>
  <submitter>subj_rv</submitter>
  <rightsHolder>subj_e</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_yo</subject>
      <subject>subj_qo</subject>
      <subject>subj_bo</subject>
      <subject>subj_hr</subject>
      <subject>subj_pm</subject>
      <permission>changePermission</permission>
    </allow>
    <allow>
      <subject>subj_yt</subject>
      <subject>subj_ks_group</subject>
      <subject>subj_yi</subject>
      <subject>subj_hf</subject>
      <subject>subj_sl</subject>
      <permission>changePermission</permission>
    </allow>
    <allow>
      <subject>subj_qu</subject>
      <subject>subj_ta</subject>
      <subject>subj_wl</subject>
      <permission>write</permission>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="5" replicationAllowed="true">
    <preferredMemberNode>mn_em</preferredMemberNode>
    <preferredMemberNode>mn_p</preferredMemberNode>
    <preferredMemberNode>mn_ds</preferredMemberNode>
    <blockedMemberNode>mn_l</blockedMemberNode>
    <blockedMemberNode>mn_ew</blockedMemberNode>
  </replicationPolicy>
  <dateUploaded>2040-10-13T15:30:59.298354Z</dateUploaded>
  <dateSysMetadataModified>2040-10-23T15:30:59.298354Z</dateSysMetadataModified>
  <originMemberNode>mn_yj</originMemberNode>
  <authoritativeMemberNode>mn_tq</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_m</replicaMemberNode>
    <replicationStatus>requested</replicationStatus>
    <replicaVerified>2034-02-08T20:25:55.732489Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_ld</replicaMemberNode>
    <replicationStatus>invalidated</replicationStatus>
    <replicaVerified>2045-09-21T21:28:17.259104Z</replicaVerified>
  </replica>
  <mediaType name="media_type_ua">
    <property name="prop_veiukxggogeq">hmfaatcigxom</property>
    <property name="prop_nfrhoichjxft">adhhtdhwacxj</property>
    <property name="prop_yzifsdxofseh">tnfztvhsgxjh</property>
    <property name="prop_dyvjinjmuric">lbnvrilcaxmu</property>
  </mediaType>
  <fileName>file_zdzpvjitlxsd</fileName>
</ns1:systemMetadata>
