[datetime.date(2014, 9, 19), datetime.date(2057, 6, 7), datetime.date(2063, 8, 6), datetime.date(2005, 11, 16), datetime.date(2044, 10, 29), datetime.date(2021, 4, 22), datetime.date(2014, 6, 4), datetime.date(1971, 7, 19), datetime.date(1972, 5, 27), datetime.date(2020, 8, 3)]
