<?xml version="1.0" encoding="utf-8"?>
<ns1:log count="10" start="3227" total="3237" xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_zzwapkcoywot</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-07-18T23:58:38</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_aggkcqhapjlc</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>1970-07-05T21:35:38</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_iivcmpyfmeor</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-07-05T21:35:38</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_xjzdjwfjbqld</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-04-17T09:06:58</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_smnuibtfvbqc</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-03-31T06:38:25</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_hrnxbssmxucw</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-02-22T01:28:39</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_xzksqwwfouni</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>1970-02-22T01:28:39</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_hkkwdkbfgtfm</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>1970-02-09T03:26:33</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_zbbdpttxjnzm</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-02-09T03:26:33</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_edbuuvapkixu</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>1970-01-11T01:09:30</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
</ns1:log>
