<?xml version="1.0" ?>
<ns1:objectList count="2" start="0" total="2" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_zxdviufpzktc</identifier>
    <formatId>image/png</formatId>
    <checksum algorithm="SHA-1">c0216ea5791320d5713a23918a0c13483df5f34d</checksum>
    <dateSysMetadataModified>1988-06-23T09:40:07Z</dateSysMetadataModified>
    <size>247</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_GMNFXT_qpwdahjjpfjb</identifier>
    <formatId>video/quicktime</formatId>
    <checksum algorithm="SHA-1">08299993b30a43a0b1081e473961501c6e17fba3</checksum>
    <dateSysMetadataModified>2002-06-18T00:00:00Z</dateSysMetadataModified>
    <size>255</size>
  </objectInfo>
</ns1:objectList>