<?xml version="1.0" encoding="utf-8"?>
<ns1:objectList count="10" start="990" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_dqowvdhcnwun</identifier>
    <formatId>application/mathematica</formatId>
    <checksum algorithm="SHA-1">61583dbee08aefdf02ef76c38ec2b90bcaae1bd7</checksum>
    <dateSysMetadataModified>1970-06-27T13:06:15</dateSysMetadataModified>
    <size>217</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_stkpeheheiqw</identifier>
    <formatId>application/R</formatId>
    <checksum algorithm="SHA-1">5ffdba7b5cd586a57ff2518c9fa48ebf6f12057e</checksum>
    <dateSysMetadataModified>1970-05-17T12:46:42</dateSysMetadataModified>
    <size>217</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_llzcjvxmpljf</identifier>
    <formatId>-//ecoinformatics.org//eml-project-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">823490bfa141ee705a1a787072e055aeb9cb974f</checksum>
    <dateSysMetadataModified>1970-05-13T14:46:53</dateSysMetadataModified>
    <size>217</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_ovlswqcbsohb</identifier>
    <formatId>http://www.nexml.org/2009</formatId>
    <checksum algorithm="SHA-1">8338b2add87430dc86fde00c8d63051a7bfd0759</checksum>
    <dateSysMetadataModified>1970-04-26T05:04:20</dateSysMetadataModified>
    <size>217</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_wilsyurdmhgu</identifier>
    <formatId>CF-1.4</formatId>
    <checksum algorithm="SHA-1">0d5534b5dd814ddefaf7b60887fd13c813688056</checksum>
    <dateSysMetadataModified>1970-04-24T10:21:00</dateSysMetadataModified>
    <size>217</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_kmhaimtzrqxc</identifier>
    <formatId>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</formatId>
    <checksum algorithm="SHA-1">b3f4da9e53d6b87c9748901df7fc6dae6c1dd13a</checksum>
    <dateSysMetadataModified>1970-04-11T01:13:27</dateSysMetadataModified>
    <size>217</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_ouenstjzrxnb</identifier>
    <formatId>http://www.cuahsi.org/waterML/1.1/</formatId>
    <checksum algorithm="SHA-1">056678e0265e5ab978c26398ee73d10b883cc979</checksum>
    <dateSysMetadataModified>1970-03-24T16:09:04</dateSysMetadataModified>
    <size>217</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_ozbsmidkbgvp</identifier>
    <formatId>image/bmp</formatId>
    <checksum algorithm="SHA-1">44be859fc047f562096289b2db558e4fac82adf8</checksum>
    <dateSysMetadataModified>1970-02-09T17:26:47</dateSysMetadataModified>
    <size>217</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_axgaloaqgrkz</identifier>
    <formatId>-//ecoinformatics.org//eml-software-2.0.0beta4//EN</formatId>
    <checksum algorithm="SHA-1">422997cda92016eb8f2fe93eb8a7a6fb3dc3717b</checksum>
    <dateSysMetadataModified>1970-02-09T15:03:12</dateSysMetadataModified>
    <size>217</size>
  </objectInfo>
  <objectInfo>
    <identifier>PID_xjbojzdukdvb</identifier>
    <formatId>text/turtle</formatId>
    <checksum algorithm="SHA-1">e79b525869131bbda6cda50c05cfc942223a1881</checksum>
    <dateSysMetadataModified>1970-01-31T17:51:30</dateSysMetadataModified>
    <size>217</size>
  </objectInfo>
</ns1:objectList>
