<?xml version="1.0" ?>
<ns1:objectList count="1" start="0" total="1" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_ykbdjmfmoq_1979-03-25_00:00:00</identifier>
    <formatId>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</formatId>
    <checksum algorithm="SHA-1">6c20a625b08ca34f750d34aad946860449d7de1d</checksum>
    <dateSysMetadataModified>2000-10-03T11:55:56</dateSysMetadataModified>
    <size>261</size>
  </objectInfo>
</ns1:objectList>
