[
  [
    "2908", 
    2
  ], 
  [
    "2987", 
    2
  ], 
  [
    "3407", 
    2
  ], 
  [
    "8206", 
    1
  ], 
  [
    "8409", 
    1
  ], 
  [
    "9827", 
    1
  ], 
  [
    "10163", 
    1
  ], 
  [
    "10400", 
    1
  ], 
  [
    "10543", 
    1
  ], 
  [
    "11212", 
    1
  ], 
  [
    "11399", 
    1
  ], 
  [
    "13575", 
    1
  ], 
  [
    "14180", 
    1
  ], 
  [
    "14273", 
    1
  ], 
  [
    "15289", 
    1
  ], 
  [
    "15802", 
    1
  ], 
  [
    "15875", 
    1
  ], 
  [
    "16228", 
    1
  ], 
  [
    "17003", 
    1
  ], 
  [
    "18591", 
    1
  ], 
  [
    "18880", 
    1
  ], 
  [
    "19305", 
    1
  ], 
  [
    "19349", 
    1
  ], 
  [
    "20261", 
    1
  ], 
  [
    "20720", 
    1
  ], 
  [
    "24892", 
    1
  ], 
  [
    "25216", 
    1
  ], 
  [
    "25707", 
    1
  ], 
  [
    "28996", 
    1
  ], 
  [
    "35486", 
    1
  ], 
  [
    "38795", 
    1
  ], 
  [
    "42556", 
    1
  ], 
  [
    "43618", 
    1
  ], 
  [
    "48932", 
    1
  ], 
  [
    "52172", 
    1
  ], 
  [
    "52319", 
    1
  ], 
  [
    "61615", 
    1
  ], 
  [
    "78370", 
    1
  ], 
  [
    "80141", 
    1
  ], 
  [
    "96970", 
    1
  ], 
  [
    "98269", 
    1
  ], 
  [
    "569856", 
    1
  ], 
  [
    "836608", 
    1
  ], 
  [
    "11332452", 
    1
  ], 
  [
    "18172528", 
    1
  ]
]
