PyXB object:
  <?xml version="1.0" encoding="utf-8"?>
  <ns1:objectList count="1" start="0" total="6" xmlns:ns1="http://ns.dataone.org/service/types/v1">
    <objectInfo>
      <identifier>PID_lwhvyhxjggmm</identifier>
      <formatId>anvl/erc-v02</formatId>
      <checksum algorithm="SHA-1">6e55e51700fc9be94f493ad8e1de2c0f0b1cb36f</checksum>
      <dateSysMetadataModified>1980-11-12T21:40:32</dateSysMetadataModified>
      <size>227</size>
    </objectInfo>
  </ns1:objectList>

PyXB object:
  <?xml version="1.0" encoding="utf-8"?>
  <ns1:objectList count="1" start="5" total="6" xmlns:ns1="http://ns.dataone.org/service/types/v1">
    <objectInfo>
      <identifier>PID_udsruzzstfhk</identifier>
      <formatId>-//ecoinformatics.org//eml-software-2.0.0beta6//EN</formatId>
      <checksum algorithm="SHA-1">f1896d1c762a76f6f1c9abf4f7b13c9d6174eb49</checksum>
      <dateSysMetadataModified>1980-06-27T10:59:57</dateSysMetadataModified>
      <size>227</size>
    </objectInfo>
  </ns1:objectList>
