<?xml version="1.0" ?>
<ns1:objectList count="1" start="0" total="1" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_zyoiqetmpxba</identifier>
    <formatId>image/tiff</formatId>
    <checksum algorithm="SHA-1">c6ffb733f384ff277e7ecd80b02f4dbf8c163b92</checksum>
    <dateSysMetadataModified>2002-03-22T00:00:00Z</dateSysMetadataModified>
    <size>320</size>
  </objectInfo>
</ns1:objectList>