<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>25</serialVersion>
  <identifier>object#0015</identifier>
  <formatId>audio/mpeg</formatId>
  <size>236</size>
  <checksum algorithm="SHA-1">0f142c754ec44ea99b5f1cc18264807bb777567d</checksum>
  <submitter>subj_jv</submitter>
  <rightsHolder>subj_lo</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_uh</subject>
      <subject>subj_ea</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj_ug</subject>
      <subject>subj_bw</subject>
      <subject>subj_xu</subject>
      <subject>subj_ze</subject>
      <permission>write</permission>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj_ak</subject>
      <subject>subj_ot</subject>
      <subject>subj_zh</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj_zk</subject>
      <subject>subj_ly_group</subject>
      <subject>subj_fj_group</subject>
      <subject>subj_bo</subject>
      <subject>subj_tz</subject>
      <permission>changePermission</permission>
      <permission>write</permission>
    </allow>
  </accessPolicy>
  <dateUploaded>1994-08-15T20:02:49.047769Z</dateUploaded>
  <dateSysMetadataModified>1994-08-25T20:02:49.047769Z</dateSysMetadataModified>
  <originMemberNode>mn_v</originMemberNode>
  <authoritativeMemberNode>mn_u</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_v</replicaMemberNode>
    <replicationStatus>queued</replicationStatus>
    <replicaVerified>1982-05-15T06:17:28.786226Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_v</replicaMemberNode>
    <replicationStatus>invalidated</replicationStatus>
    <replicaVerified>2028-06-28T00:20:39.324557Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_l</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>2052-10-18T14:15:09.304393Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_w</replicaMemberNode>
    <replicationStatus>invalidated</replicationStatus>
    <replicaVerified>2002-11-28T08:30:51.967872Z</replicaVerified>
  </replica>
  <seriesId>SID_phillozwnetk</seriesId>
  <mediaType name="media_type_ux">
    <property name="prop_fhplydrsvggf">rtlchvpwjcgv</property>
  </mediaType>
  <fileName>file_ovnbybbzyfgx</fileName>
</ns1:systemMetadata>

<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <serialVersion>39</serialVersion>
  <identifier>object#0028</identifier>
  <formatId>http://www.w3.org/TR/rdfa-syntax</formatId>
  <size>250</size>
  <checksum algorithm="SHA-1">fda25e9009dede1841828aeaffcb221ec941d2c8</checksum>
  <submitter>subj_n</submitter>
  <rightsHolder>subj_t</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_db</subject>
      <subject>subj_ug</subject>
      <subject>subj_cg</subject>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj_he</subject>
      <subject>subj_lf</subject>
      <subject>subj_gx</subject>
      <permission>changePermission</permission>
    </allow>
    <allow>
      <subject>subj_ya</subject>
      <permission>changePermission</permission>
    </allow>
    <allow>
      <subject>subj_xr</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj_cg</subject>
      <subject>subj_uc</subject>
      <subject>subj_zu</subject>
      <subject>subj_vh</subject>
      <permission>changePermission</permission>
      <permission>read</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="0" replicationAllowed="false">
    <preferredMemberNode>mn_uw</preferredMemberNode>
    <preferredMemberNode>mn_vp</preferredMemberNode>
    <preferredMemberNode>mn_xi</preferredMemberNode>
    <preferredMemberNode>mn_e</preferredMemberNode>
  </replicationPolicy>
  <dateUploaded>2008-02-12T12:23:23.458099Z</dateUploaded>
  <dateSysMetadataModified>2008-02-22T12:23:23.458099Z</dateSysMetadataModified>
  <originMemberNode>mn_f</originMemberNode>
  <authoritativeMemberNode>mn_qt</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_f</replicaMemberNode>
    <replicationStatus>requested</replicationStatus>
    <replicaVerified>2049-10-28T14:48:19.955053Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_vu</replicaMemberNode>
    <replicationStatus>queued</replicationStatus>
    <replicaVerified>2024-04-13T01:13:39.457599Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_ji</replicaMemberNode>
    <replicationStatus>invalidated</replicationStatus>
    <replicaVerified>2058-09-08T14:00:27.692545Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_qe</replicaMemberNode>
    <replicationStatus>queued</replicationStatus>
    <replicaVerified>1988-06-30T08:27:28.226356Z</replicaVerified>
  </replica>
  <seriesId>SID_hjgzsibvohoh</seriesId>
  <mediaType name="media_type_yk">
    <property name="prop_vkvhxzxyagkq">jwadiztnglvc</property>
    <property name="prop_egwdstiekunh">lpzqhnrnlnvv</property>
    <property name="prop_zhotxlwzwmun">iutkeyahscwl</property>
    <property name="prop_fehwzmoeynnb">mzmhrxiatapj</property>
  </mediaType>
  <fileName>file_naxpxbvtbubr</fileName>
</ns1:systemMetadata>
