<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <serialVersion>73</serialVersion>
  <identifier>PID_leuhlwdlakza</identifier>
  <formatId>-//ecoinformatics.org//eml-distribution-2.0.0beta6//EN</formatId>
  <size>290</size>
  <checksum algorithm="SHA-1">d229b68a7fa2a0040ba5680760d26bcecfae8b85</checksum>
  <submitter>subj_fo</submitter>
  <rightsHolder>subj_o</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj1</subject>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj2</subject>
      <subject>subj3</subject>
      <subject>subj4</subject>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj10</subject>
      <subject>subj11</subject>
      <subject>subj12</subject>
      <subject>subj5</subject>
      <subject>subj6</subject>
      <subject>subj7</subject>
      <subject>subj8</subject>
      <subject>subj9</subject>
      <permission>changePermission</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="0" replicationAllowed="false">
    <blockedMemberNode>mn_js</blockedMemberNode>
  </replicationPolicy>
  <obsoletedBy>PID_kffyhozkimhy</obsoletedBy>
  <archived>false</archived>
  <dateUploaded>2042-12-11T22:45:16</dateUploaded>
  <dateSysMetadataModified>2017-06-27T16:23:22.350624</dateSysMetadataModified>
  <originMemberNode>mn_t</originMemberNode>
  <authoritativeMemberNode>mn_br</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_ud</replicaMemberNode>
    <replicationStatus>requested</replicationStatus>
    <replicaVerified>2018-09-04T08:09:50.000592Z</replicaVerified>
  </replica>
</ns1:systemMetadata>
