[
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:person
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\"><subject>uefwzyy</subject><givenName>givenName_bc</givenName><givenName>givenName_su</givenName><familyName>familyName_re</familyName><email>bp@mxpc.dataone.org</email><email>wb@bcmk.dataone.org</email><email>yg@irbs.dataone.org</email><isMemberOf>isMemberOf_di</isMemberOf><equivalentIdentity>equivalentIdentity_fy</equivalentIdentity><verified>true</verified></ns1:person>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:person
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\"><subject>huifej</subject><givenName>givenName_yl</givenName><givenName>givenName_yc</givenName><familyName>familyName_pq</familyName><email>ca@kbrd.dataone.org</email><email>kd@ufqv.dataone.org</email><isMemberOf>isMemberOf_qh</isMemberOf><equivalentIdentity>equivalentIdentity_lk</equivalentIdentity><equivalentIdentity>equivalentIdentity_sw</equivalentIdentity><verified>false</verified></ns1:person>",
  "<?xml version=\"1.0\" encoding=\"utf-8\"?><ns1:person
xmlns:ns1=\"http://ns.dataone.org/service/types/v1\"><subject>oaofxwlsjy</subject><givenName>givenName_by</givenName><givenName>givenName_lv</givenName><givenName>givenName_wr</givenName><familyName>familyName_lb</familyName><email>up@nfvf.dataone.org</email><email>sm@kklz.dataone.org</email><isMemberOf>isMemberOf_hd</isMemberOf><isMemberOf>isMemberOf_ii</isMemberOf><isMemberOf>isMemberOf_vs</isMemberOf><equivalentIdentity>equivalentIdentity_um</equivalentIdentity><verified>true</verified></ns1:person>"
]