<?xml version="1.0" encoding="utf-8"?>
<ns1:log count="21" start="0" total="3237" xmlns:ns1="http://ns.dataone.org/service/types/v2.0">
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_ibckkebbvkwq</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-11-01T00:00:16</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_wdozjzjkgaqt</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-10-23T05:10:22</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_gepyqsvkleqo</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-09-25T15:45:44</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_nyfsncuirhaj</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-08-29T08:50:29</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_ymzgadmgluox</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-08-21T07:03:47</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_afzmhaupzztt</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-07-22T01:37:28</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_rfdgjbnovpkg</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2069-07-22T01:37:28</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_lkdupxshxwfr</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-06-17T00:43:02</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_yuodqdvsrfmq</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-06-15T16:36:12</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_rmdcwipngsvw</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-06-07T04:27:07</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_taqojktwprcj</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2069-06-07T04:27:07</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_joxrpiuvhvle</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-05-30T19:22:28</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_wywlbtbfhtak</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-03-27T05:24:33</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_byknujrsusbs</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-03-04T21:18:39</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_yiftklkyprjd</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2069-02-04T08:54:00</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_idomeopdxcxq</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2068-12-02T00:40:04</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_lnxnrzexuccj</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2068-11-22T21:40:22</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_ufzjhxgzegte</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2068-11-20T11:42:48</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_ejuupcrgvgtt</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2068-11-05T07:06:43</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_hqokbijiswjw</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>create</event>
    <dateLogged>2068-08-11T23:36:34</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
  <logEntry>
    <entryId>[volatile]</entryId>
    <identifier>PID_GMNFXT_hxdwjxkqkupd</identifier>
    <ipAddress>127.0.0.1</ipAddress>
    <userAgent>pyd1/%s +http://dataone.org/2.3.4</userAgent>
    <subject>disabled_auth_subj</subject>
    <event>update</event>
    <dateLogged>2068-08-11T23:36:34</dateLogged>
    <nodeIdentifier>urn:node:MyMemberNode</nodeIdentifier>
  </logEntry>
</ns1:log>
