<?xml version="1.0" encoding="utf-8"?>
<ns1:objectList count="1" start="999" total="1000" xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <objectInfo>
    <identifier>PID_GMNFXT_vhyupyuyynue</identifier>
    <formatId>application/x-gzip</formatId>
    <checksum algorithm="SHA-1">50c9a311d4c3141521edd8046dd67facca71e833</checksum>
    <dateSysMetadataModified>2069-11-22T10:04:34Z</dateSysMetadataModified>
    <size>324</size>
  </objectInfo>
</ns1:objectList>
