PID_GMNFXT_aceqjouuoeww	subj_cl=write,subj_dy=write,subj_r=changePermission,subj_vk=write,subj_zf=write
PID_GMNFXT_ackdqdreiblm	subj_ae=changePermission,subj_bp=changePermission,subj_db=changePermission,subj_ez=changePermission,subj_kc=changePermission,subj_sn=changePermission,subj_sx_group=changePermission,subj_wt=changePermission,subj_y=changePermission
PID_GMNFXT_acwvtfkzmaql	subj_af=changePermission,subj_al=read,subj_dl=changePermission,subj_hp=changePermission,subj_jk=read,subj_lj=changePermission,subj_mf=changePermission,subj_oj=read,subj_rb=changePermission,subj_sr=changePermission,subj_tt=changePermission,subj_ut=read,subj_ve=changePermission,subj_zp=changePermission,subj_zq=changePermission
PID_GMNFXT_adwhpnqwlhnj	subj_x=changePermission
PID_GMNFXT_adzemtfktqox	subj_ar=changePermission,subj_b=changePermission,subj_bg_group=changePermission,subj_er=changePermission,subj_fh=changePermission,subj_na=changePermission,subj_nt=changePermission,subj_qj_group=changePermission,subj_uq=changePermission
PID_GMNFXT_aebipvrnnunm	subj_bk=changePermission,subj_cc=changePermission,subj_fo=changePermission,subj_ha=changePermission,subj_vg=changePermission,subj_wp_group=changePermission
PID_GMNFXT_aeotlppmtsfi	subj_da=changePermission,subj_gc=changePermission,subj_in=changePermission,subj_me_group=changePermission,subj_nw=changePermission,subj_qj=changePermission,subj_wp=changePermission,subj_wr=changePermission,subj_ya=changePermission
PID_GMNFXT_aetzwevglfxw	subj_cf=changePermission,subj_jm=changePermission,subj_pa=changePermission,subj_vr=changePermission,subj_yt=changePermission
PID_GMNFXT_afecyzmdsspe	subj_ay=write,subj_go=write,subj_ib=write,subj_pk=write,subj_w=changePermission,subj_wa=write
PID_GMNFXT_afhlslmcyaac	subj_ad=write,subj_dc=changePermission,subj_es=write,subj_su=changePermission,subj_vj=changePermission,subj_zy=write
