<?xml version="1.0" encoding="utf-8"?>
<ns1:systemMetadata xmlns:ns1="http://ns.dataone.org/service/types/v1">
  <serialVersion>44</serialVersion>
  <identifier>PID_lsbhgrsljqbj</identifier>
  <formatId>http://www.esri.com/metadata/esriprof80.dtd</formatId>
  <size>893668148241</size>
  <checksum algorithm="SHA1">1f10a64787115c6eb98d7a98fc4a27bc7c214e35</checksum>
  <submitter>subj_q</submitter>
  <rightsHolder>subj_i</rightsHolder>
  <accessPolicy>
    <allow>
      <subject>subj_lo</subject>
      <subject>subj_xx</subject>
      <permission>read</permission>
      <permission>changePermission</permission>
    </allow>
    <allow>
      <subject>subj_wt</subject>
      <subject>subj_od</subject>
      <subject>subj_yi</subject>
      <subject>subj_ph</subject>
      <subject>subj_xv_group</subject>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj_wr</subject>
      <subject>subj_ut</subject>
      <subject>subj_zy</subject>
      <subject>subj_ib_group</subject>
      <subject>subj_rm</subject>
      <permission>changePermission</permission>
      <permission>read</permission>
    </allow>
    <allow>
      <subject>subj_ng</subject>
      <subject>subj_nu</subject>
      <subject>subj_oq</subject>
      <subject>subj_fz</subject>
      <permission>changePermission</permission>
      <permission>write</permission>
    </allow>
    <allow>
      <subject>subj_mv_group</subject>
      <subject>subj_lc</subject>
      <subject>subj_nb</subject>
      <subject>subj_sb</subject>
      <subject>subj_wr</subject>
      <permission>changePermission</permission>
      <permission>write</permission>
    </allow>
  </accessPolicy>
  <replicationPolicy numberReplicas="1" replicationAllowed="true">
    <preferredMemberNode>mn_e</preferredMemberNode>
    <preferredMemberNode>mn_z</preferredMemberNode>
    <blockedMemberNode>mn_fp</blockedMemberNode>
    <blockedMemberNode>mn_w</blockedMemberNode>
    <blockedMemberNode>mn_wr</blockedMemberNode>
    <blockedMemberNode>mn_d</blockedMemberNode>
  </replicationPolicy>
  <dateUploaded>2024-05-18T05:36:37Z</dateUploaded>
  <dateSysMetadataModified>2024-05-28T05:36:37Z</dateSysMetadataModified>
  <originMemberNode>mn_s</originMemberNode>
  <authoritativeMemberNode>mn_i</authoritativeMemberNode>
  <replica>
    <replicaMemberNode>mn_c</replicaMemberNode>
    <replicationStatus>requested</replicationStatus>
    <replicaVerified>2256-11-17T03:13:00.000326Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_ua</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>1993-01-02T22:35:04.000683Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_n</replicaMemberNode>
    <replicationStatus>failed</replicationStatus>
    <replicaVerified>2219-11-15T01:38:50.000318Z</replicaVerified>
  </replica>
  <replica>
    <replicaMemberNode>mn_a</replicaMemberNode>
    <replicationStatus>invalidated</replicationStatus>
    <replicaVerified>2174-12-08T09:22:35.000648Z</replicaVerified>
  </replica>
</ns1:systemMetadata>
