[global]
run_time: 30
rampup: 0
results_ts_interval: 10

progress_bar: on
console_logging: off
xml_report: off
#results_database: sqlite:///projects/gmn/results.db


[user_group-1]
threads: 10
script: tier_3_mn_storage_create.py

[user_group-2]
threads: 10
script: tier_1_mn_core_getlogrecords.py
